@use "../../shared/mixins.scss";

.md-list {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}

.md-list__item {
    display: flex;
    align-items: center;
    min-height: 56px;
    padding: 8px 16px 8px calc(16px + (24px * var(--md-comp-list-item-level, 0)));
    gap: 0 12px;
}

.md-list__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
}

.md-list__overline {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mixins.typescale-label-small();
}

.md-list__label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mixins.typescale-body-large();
}

.md-list__supporting {
    max-height: calc(var(--md-sys-typescale-label-small-line-height) * 2);
    overflow: hidden;
    @include mixins.typescale-label-small();
}

.md-list__leading {
    display: inline-flex;
    align-items: center;
}

.md-list__trailing {
    display: inline-flex;
    align-items: center;
}

.md-list__avatar {
    width: 40px;
    height: 40px;
}

.md-list__image {
    width: 56px;
    height: 56px;
}

.md-list__video {
    height: 64px;
    aspect-ratio: 4/3;
    margin: 4px 0 0 -16px;
}

// .md-list__icon {}

// .md-list__icon-button {}

.md-list__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mixins.typescale-label-small();
}

// .md-list__checkbox {}

// .md-list__radio-button {}

// .md-list__switch {}

// .md-list__badge {}

.md-list__item--selected {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}

.md-list__item--active {
    outline: 2px solid var(--md-sys-color-outline);
    outline-offset: -2px;
}

.md-list__item--one-line {
    min-height: 56px;
}

.md-list__item--two-line {
    min-height: 72px;
}

.md-list__item--three-line {
    align-items: flex-start;
    min-height: 88px;
    padding-top: 12px;
    padding-bottom: 12px;

    .md-list__video {
        margin-top: 0;
        margin-bottom: 0;
    }
}

// menu

.md-menu {
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    min-width: calc((48px * 2) + (12px * 2) + (4px * 2));
    max-width: calc((48px * 4) + (12px * 2) + (4px * 2));
    max-height: calc((48px * 5) + (2px * (5 - 1)) + (2px * 2));
    border-radius: var(--md-sys-shape-corner-large);
    box-shadow: var(--md-sys-elevation-level2);
    background-color: var(--md-sys-color-surface-container-low);
}

.md-menu__list {
    padding: 2px 4px;
    gap: 2px 0;

    .md-list__item {
        min-height: 48px;
        padding: 0 12px;
        gap: 0 8px;
        border-radius: var(--md-sys-shape-corner-small);
    }

    .md-list__item--selected {
        border-radius: var(--md-sys-shape-corner-medium);
    }

    .md-list__label {
        @include mixins.typescale-label-large();
    }
}

// navigation-bar

.md-navigation-bar {
    box-shadow: var(--md-sys-elevation-level2);
    background-color: var(--md-sys-color-surface-container);
}

.md-navigation-bar__list {
    flex-direction: row;
    justify-content: space-evenly;

    .md-list__leading {
        position: relative;
    }

    .md-list__badge {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        margin-top: -8px;
        margin-left: 8px;
    }

    .md-list__label {
        @include mixins.typescale-label-medium();
    }
}

.md-navigation-bar--vertical {
    .md-navigation-bar__list {
        padding: 6px 0;

        .md-list__item {
            flex-direction: column;
            min-height: 52px;
            padding: 0 16px;
            gap: 4px 0;
        }

        .md-list__icon {
            width: 56px;
            height: 32px;
            border-radius: var(--md-sys-shape-corner-full);
        }

        .md-list__item--selected {
            background-color: inherit;
            color: inherit;

            .md-list__icon {
                background-color: var(--md-sys-color-secondary-container);
                color: var(--md-sys-color-on-secondary-container);
            }
        }
    }
}

.md-navigation-bar--horizontal {
    .md-navigation-bar__list {
        padding: 12px 0;

        .md-list__item {
            min-height: 40px;
            padding: 0 16px;
            gap: 0 4px;
            border-radius: var(--md-sys-shape-corner-full);
        }
    }
}

// navigation-drawer

.md-navigation-drawer {
    width: 360px;
    background-color: var(--md-sys-color-surface);
}

.md-navigation-drawer--modal {
    box-shadow: var(--md-sys-elevation-level1);
    background-color: var(--md-sys-color-surface-container-low);
}

.md-navigation-drawer__list {
    padding: 12px 0;
    
    .md-list__item {
        min-height: 56px;
        padding: 0 16px;
        gap: 0 12px;
        margin: 0 12px;
        border-radius: var(--md-sys-shape-corner-full)
    }

    .md-list__label {
        @include mixins.typescale-label-large();
    }
}

// navigation-rail

.md-navigation-rail {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 44px 0;
    background-color: var(--md-sys-color-surface);
}

.md-navigation-rail--modal {
    box-shadow: var(--md-sys-elevation-level2);
    background-color: var(--md-sys-color-surface-container);
}

// .md-navigation-rail__icon-button {}

// .md-navigation-rail__fab {}

.md-navigation-rail__list {
    .md-list__leading {
        position: relative;
    }

    .md-list__badge {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        margin-top: -8px;
        margin-left: 8px;
    }
}

.md-navigation-rail--collapsed {
    width: 96px;

    .md-navigation-rail__icon-button {
        margin-left: 28px;
        margin-right: 28px;
        margin-top: 8px;

        + .md-navigation-rail__fab {
            margin-top: 22px;
        }

        + .md-navigation-rail__list {
            margin-top: 52px;
        }
    }

    .md-navigation-rail__fab {
        margin-left: 20px;
        margin-right: 20px;

        + .md-navigation-rail__list {
            margin-top: 44px;
        }
    }

    .md-navigation-rail__list {
        padding: 0 0;
        gap: 4px 0;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 6px;

        .md-list__item {
            flex-direction: column;
            min-height: 52px;
            padding: 6px 0;
            gap: 4px 0;
        }

        .md-list__icon {
            width: 56px;
            height: 32px;
            border-radius: var(--md-sys-shape-corner-full);
        }

        .md-list__item--selected {
            background-color: inherit;
            color: inherit;

            .md-list__icon {
                background-color: var(--md-sys-color-secondary-container);
                color: var(--md-sys-color-on-secondary-container);
            }
        }

        .md-list__label {
            @include mixins.typescale-label-medium();
        }
    }
}

.md-navigation-rail--expanded {
    width: 220px;
    max-width: 360px;

    .md-navigation-rail__icon-button {
        margin-left: 28px;
        margin-right: 28px;
        margin-top: 8px;

        + .md-navigation-rail__fab {
            margin-top: 22px;
        }

        + .md-navigation-rail__list {
            margin-top: 52px;
        }
    }

    .md-navigation-rail__fab {
        margin-left: 20px;
        margin-right: 20px;

        + .md-navigation-rail__list {
            margin-top: 44px;
        }
    }

    .md-navigation-rail__list {
        padding: 0;
        margin-left: 20px;
        margin-right: 20px;

        .md-list__item {
            min-height: 56px;
            padding: 0 16px;
            gap: 0 8px;
            border-radius: var(--md-sys-shape-corner-full);
        }

        .md-list__label {
            @include mixins.typescale-label-large();
        }
    }
}
