@use "../mixins/mixins.scss";

@keyframes side-sheet-east-in {
    0% {
        visibility: visible;
        margin-right: calc(0px - var(--md-comp-side-sheet-width));
    }

    100% {
        margin-right: 0;
    }
}

@keyframes side-sheet-east-out {
    0% {
        visibility: visible;
        margin-right: 0;
    }

    100% {
        visibility: hidden;
        margin-right: calc(0px - var(--md-comp-side-sheet-width));
    }
}

@keyframes side-sheet-east-modal-in {
    0% {
        visibility: visible;
        transform: translate3d(100%, 0%, 0);
    }

    100% {
        transform: translate3d(0%, 0%, 0);
    }
}

@keyframes side-sheet-east-modal-out {
    0% {
        visibility: visible;
        transform: translate3d(0%, 0%, 0);
    }

    100% {
        visibility: hidden;
        transform: translate3d(100%, 0%, 0);
    }
}

.md-side-sheet {
    --md-comp-side-sheet-width: 256px;
    display: inline-flex;
    flex-direction: column;
    border-radius: 0;
    background-color: var(--md-sys-color-surface);
    // box-shadow: var(--md-sys-elevation-level0);
    color: var(--md-sys-color-on-surface);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
    animation-duration: var(--md-sys-motion-duration-short4);

    &.md-border__item--east {
        --md-comp-side-sheet-animation: side-sheet-east-out;
        width: var(--md-comp-side-sheet-width);
        margin-right: calc(0px - var(--md-comp-side-sheet-width));
        animation-name: var(--md-comp-side-sheet-animation, side-sheet-east-out);
        visibility: hidden;

        &[open] {
            --md-comp-side-sheet-animation: side-sheet-east-in;
            visibility: visible;
            margin-right: 0;
            animation-name: var(--md-comp-side-sheet-animation, side-sheet-east-in);
        }
    }
}

.md-side-sheet__header {
    display: flex;
    align-items: center;
    padding: 24px;
    gap: 0 16px;

    + .md-side-sheet__container {
        // margin-top: -32px;
        margin-top: 0;
    }
}

.md-side-sheet__label {
    display: flex;
    flex-direction: column;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.md-side-sheet__label-primary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mixins.typescale-title-large();
}

.md-side-sheet__label-secondary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mixins.typescale-body-medium();
    color: var(--md-sys-color-on-surface-variant);
}

.md-side-sheet__icon-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 16px;
}

.md-side-sheet__icon-button {
    color: var(--md-sys-color-on-surface-variant);
}

.md-side-sheet__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
}

.md-side-sheet__body {
    flex: 1;
    overflow: auto;
    @include mixins.typescale-body-medium();
    color: var(--md-sys-color-on-surface-variant);
    // padding: 0 24px;
    // margin: 24px 0;
    padding: 0;
    margin: 0;

    + .md-side-sheet__footer {
        // margin-top: -24px;
        margin-top: 0;
    }
}

.md-side-sheet__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 24px;
    gap: 0 8px;
    margin-top: auto;
}

.md-side-sheet--modal {
    background-color: var(--md-sys-color-surface-container-low);
    box-shadow: var(--md-sys-elevation-level1);
    position: absolute;
    z-index: 11;

    &.md-border__item--east {
        --md-comp-side-sheet-animation: side-sheet-east-modal-out;
        margin-right: 0;
        border-radius: 16px 0 0 16px;
        right: 0;
        top: 0;
        bottom: 0;
        transform: translate3d(100%, 0%, 0);
        animation-name: var(--md-comp-side-sheet-animation, side-sheet-east-modal-out);
        visibility: hidden;

        &[open] {
            --md-comp-side-sheet-animation: side-sheet-east-modal-in;
            visibility: visible;
            transform: translate3d(0, 0, 0);
            animation-name: var(--md-comp-side-sheet-animation, side-sheet-east-modal-in);
        }
    }
}

.md-side-sheet__list {
    .md-list__row {
        margin: 0 12px;
    }
    .md-list__item {
        gap: 0 12px;
        border-radius: 28px;
    }
    .md-list__label-primary {
        @include mixins.typescale-label-large();
    }
}
