@use "../../shared/mixins.scss";

.md-text-field {
    display: flex;
    flex-direction: column;
    gap: 4px 0;
}

.md-text-field__label {
    margin: 0 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mixins.typescale-body-small();
}

.md-text-field__container {
    display: flex;
    align-items: center;
    height: 56px;
    background-color: var(--md-sys-color-surface-container-highest);
    color: var(--md-sys-color-on-surface);
    border-radius: 4px;
    overflow: hidden;
}

.md-text-field__leading {
}

.md-text-field__native {
    appearance: none;
    background-color: inherit;
    color: inherit;
    width: 100%;
    height: 100%;
    padding: 0 16px;
    @include mixins.typescale-body-large();
}

input.md-text-field__native[type="date" i]::-webkit-calendar-picker-indicator,
input.md-text-field__native[type="datetime-local" i]::-webkit-calendar-picker-indicator,
input.md-text-field__native[type="month" i]::-webkit-calendar-picker-indicator,
input.md-text-field__native[type="time" i]::-webkit-calendar-picker-indicator,
input.md-text-field__native[type="week" i]::-webkit-calendar-picker-indicator {
    display: none;
}
input.md-text-field__native::-webkit-inner-spin-button {
    display: none;
}
input.md-text-field__native[type="search" i]::-webkit-search-cancel-button {
    display: none;
}
input.md-text-field__native::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
}
input.md-text-field__native::-webkit-datetime-edit-month-field,
input.md-text-field__native::-webkit-datetime-edit-day-field,
input.md-text-field__native::-webkit-datetime-edit-year-field,
input.md-text-field__native::-webkit-datetime-edit-hour-field,
input.md-text-field__native::-webkit-datetime-edit-minute-field {
    padding: 0;
}

input.md-text-field__native:-webkit-autofill::first-line,
textarea.md-text-field__native:-webkit-autofill::first-line,
select.md-text-field__native:-webkit-autofill::first-line {
}
input.md-text-field__native:-webkit-autofill,
input.md-text-field__native:-webkit-autofill:hover,
input.md-text-field__native:-webkit-autofill:focus,
textarea.md-text-field__native:-webkit-autofill,
textarea.md-text-field__native:-webkit-autofill:hover,
textarea.md-text-field__native:-webkit-autofill:focus,
select.md-text-field__native:-webkit-autofill,
select.md-text-field__native:-webkit-autofill:hover,
select.md-text-field__native:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--md-sys-color-surface-container-highest) inset !important;
    -webkit-text-fill-color: var(--md-sys-color-on-surface) !important;
    caret-color: var(--md-sys-color-on-surface) !important;
    transition: background-color 5000s ease-in-out 0s !important;
}

.md-text-field__trailing {
}

.md-text-field__content {
    display: flex;
    gap: 0 16px;
    padding: 0 16px;
}

.md-text-field__supporting {
    @include mixins.typescale-body-small();
}

.md-text-field__counter {
}

.md-text-field--error {
    .md-text-field__label {
        color: var(--md-sys-color-error);
    }

    .md-text-field__supporting {
        color: var(--md-sys-color-error);
    }
}

.md-text-field--focus {
}

.md-text-field--populated {
}

.md-text-field--default {
}

.md-text-field--filled {
}

.md-text-field--outlined {
}
