@use "../../shared/mixins.scss";

.md-text-field {
    --md-comp-text-field-height: 56px;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    gap: 4px 0;
    position: relative;
}

.md-text-field__label {
    margin: 0 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mixins.typescale-body-small();
}

.md-text-field__container {
    display: flex;
    align-items: center;
    height: var(--md-comp-text-field-height);
    gap: 0 16px;
    border-radius: 4px;
    background-color: var(--md-sys-color-surface-container-highest);
    color: var(--md-sys-color-on-surface-variant);
}

.md-text-field__leading {
    display: inline-flex;
    align-items: center;
    padding: 0 12px;
    gap: 0 12px;

    + .md-text-field__content {
        margin-left: -28px;
    }
}

.md-text-field__icon-button {
    margin: 0 -8px;
}

// .md-text-field__icon {}

.md-text-field__content {
    flex: 1;
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 16px;

    + .md-text-field__trailing {
        margin-left: -28px;
    }
}

.md-text-field__text {
    @include mixins.typescale-body-large();
}

.md-text-field__native {
    appearance: none;
    width: 100%;
    height: 100%;
    @include mixins.typescale-body-large();
    background-color: transparent;
    color: inherit;
    outline: none;
}

input.md-text-field__native[type="date" i]::-webkit-calendar-picker-indicator,
input.md-text-field__native[type="datetime-local" i]::-webkit-calendar-picker-indicator,
input.md-text-field__native[type="month" i]::-webkit-calendar-picker-indicator,
input.md-text-field__native[type="time" i]::-webkit-calendar-picker-indicator,
input.md-text-field__native[type="week" i]::-webkit-calendar-picker-indicator {
    display: none;
}

input.md-text-field__native::-webkit-inner-spin-button {
    display: none;
}

input.md-text-field__native[type="search" i]::-webkit-search-cancel-button {
    display: none;
}

input.md-text-field__native::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
}
input.md-text-field__native::-webkit-datetime-edit-month-field,
input.md-text-field__native::-webkit-datetime-edit-day-field,
input.md-text-field__native::-webkit-datetime-edit-year-field,
input.md-text-field__native::-webkit-datetime-edit-hour-field,
input.md-text-field__native::-webkit-datetime-edit-minute-field {
    padding: 0;
}

input.md-text-field__native:-webkit-autofill::first-line,
textarea.md-text-field__native:-webkit-autofill::first-line,
select.md-text-field__native:-webkit-autofill::first-line {
    @include mixins.typescale-body-large();
}
input.md-text-field__native:-webkit-autofill,
input.md-text-field__native:-webkit-autofill:hover,
input.md-text-field__native:-webkit-autofill:focus,
textarea.md-text-field__native:-webkit-autofill,
textarea.md-text-field__native:-webkit-autofill:hover,
textarea.md-text-field__native:-webkit-autofill:focus,
select.md-text-field__native:-webkit-autofill,
select.md-text-field__native:-webkit-autofill:hover,
select.md-text-field__native:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--md-sys-color-surface-container-highest) inset;
    -webkit-text-fill-color: var(--md-sys-color-on-surface);
    caret-color: var(--md-sys-color-on-surface);
    transition: background-color 5000s ease-in-out 0s;
}

.md-text-field__trailing {
    display: inline-flex;
    align-items: center;
    padding: 0 12px;
    gap: 0 12px;
}

.md-text-field__information {
    display: flex;
    align-items: center;
    padding: 0 16px;
    gap: 0 16px;
}

.md-text-field__supporting {
    @include mixins.typescale-body-small();
}

.md-text-field__counter {
    margin-left: auto;
    @include mixins.typescale-body-small();
}

// .md-text-field--populated {}

.md-text-field--focus {
    .md-text-field__label {
        color: var(--md-sys-color-primary);
    }
}

.md-text-field--focus-visible {
    .md-text-field__container {
        outline: 2px solid var(--md-sys-color-outline);
        outline-offset: -2px;
    }
}

.md-text-field--error {
    .md-text-field__label {
        color: var(--md-sys-color-error);
    }

    .md-text-field__supporting {
        color: var(--md-sys-color-error);
    }

    .md-text-field__icon--error {
        color: var(--md-sys-color-error);
    }
}

.md-text-field--readonly,
.md-text-field--disabled {
    pointer-events: none;

    .md-text-field__label {
        color: var(--md-sys-color-on-surface38);
    }

    .md-text-field__container {
        background-color: var(--md-sys-color-on-surface4);
    }

    .md-text-field__native {
        color: var(--md-sys-color-on-surface38);
    }

    .md-text-field__text {
        color: var(--md-sys-color-on-surface38);
    }

    .md-text-field__icon {
        color: var(--md-sys-color-on-surface38);
    }

    .md-text-field__icon-button {
        color: var(--md-sys-color-on-surface38);
    }

    .md-text-field__supporting {
        color: var(--md-sys-color-on-surface38);
    }
}

.md-text-field--filled {
    &.md-text-field--with-label {
        .md-text-field__label {
            position: absolute;
            pointer-events: none;
            left: var(--md-comp-text-field-content-offset-left, 0);
            padding-top: calc((var(--md-comp-text-field-height) - var(--md-sys-typescale-body-large-line-height)) / 2);
            padding-bottom: calc((var(--md-comp-text-field-height) - var(--md-sys-typescale-body-large-line-height)) / 2);
            @include mixins.typescale-body-large();
            will-change: padding, font-size, line-height, color;
            transition-property: padding, font-size, line-height, color;
            // transition-duration: var(--md-sys-motion-duration-short1);
            // transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
            transition-duration: var(--md-sys-motion-duration-short1);
            transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
        }
        .md-text-field__text,
        .md-text-field__native::placeholder {
            visibility: hidden;
        }
    }

    .md-text-field__container {
        border-radius: 4px 4px 0 0;
        box-shadow: inset 0 -1px 0 0 var(--md-sys-color-on-surface-variant);
    }
    &.md-text-field--populated,
    &.md-text-field--focus {
        &.md-text-field--with-label {
            .md-text-field__label {
                padding-top: calc(((var(--md-comp-text-field-height) - var(--md-sys-typescale-body-small-line-height)) / 2) - 10px);
                padding-bottom: calc(((var(--md-comp-text-field-height) - var(--md-sys-typescale-body-small-line-height)) / 2) + 6px);
                @include mixins.typescale-body-small();
            }
            .md-text-field__text,
            .md-text-field__native {
                padding-top: calc(((var(--md-comp-text-field-height) - var(--md-sys-typescale-body-large-line-height)) / 2) + 6px);
                padding-bottom: calc(((var(--md-comp-text-field-height) - var(--md-sys-typescale-body-large-line-height)) / 2) - 10px);
            }
            .md-text-field__text,
            .md-text-field__native::placeholder {
                visibility: visible;
            }
        }
    }

    &.md-text-field--focus {
        .md-text-field__container {
            box-shadow: inset 0 -2px 0 0 var(--md-sys-color-primary);
        }
    }

    &.md-text-field--error {
        .md-text-field__container {
            box-shadow: inset 0 -1px 0 0 var(--md-sys-color-error);
        }
    }

    &.md-text-field--error.md-text-field--focus {
        .md-text-field__container {
            box-shadow: inset 0 -2px 0 0 var(--md-sys-color-error);
        }
    }
}

.md-text-field--outlined {
    &.md-text-field--with-label {
        .md-text-field__label {
            margin-left: 12px;
            margin-right: 12px;
            padding-left: 4px;
            padding-right: 4px;
            padding-top: calc((var(--md-comp-text-field-height) - var(--md-sys-typescale-body-large-line-height)) / 2);
            padding-bottom: calc((var(--md-comp-text-field-height) - var(--md-sys-typescale-body-large-line-height)) / 2);
            position: absolute;
            z-index: 1;
            pointer-events: none;
            left: var(--md-comp-text-field-content-offset-left, 0);
            @include mixins.typescale-body-large();
            will-change: padding, font-size, line-height, color, top, left;
            transition-property: padding, font-size, line-height, color, top, left;
            // transition-duration: var(--md-sys-motion-duration-short1);
            // transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
            transition-duration: var(--md-sys-motion-duration-short1);
            transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));

            &:before {
                content: "";
                width: 0%;
                height: var(--md-sys-typescale-body-small-line-height);
                position: absolute;
                z-index: -1;
                left: 50%;
                top: 50%;
                transform: translate3d(-50%, -50%, 0);
                background-color: var(--md-sys-color-background);
                color: var(--md-sys-color-on-background);
                will-change: width;
                transition-property: width;
                // transition-duration: var(--md-sys-motion-duration-short1);
                // transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
                transition-duration: var(--md-sys-motion-duration-short1);
                transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
            }
        }
        .md-text-field__text,
        .md-text-field__native::placeholder {
            visibility: hidden;
        }
    }

    .md-text-field__container {
        border-radius: 4px;
        background-color: transparent;
        box-shadow: inset 0 0 0 1px var(--md-sys-color-on-surface-variant);
    }
    &.md-text-field--populated,
    &.md-text-field--focus {
        &.md-text-field--with-label {
            .md-text-field__label {
                padding-top: 0;
                padding-bottom: 0;
                top: calc(0px - (var(--md-sys-typescale-body-small-line-height) / 2));
                left: 0;
                @include mixins.typescale-body-small();

                &:before {
                    width: 100%;
                }
            }
            .md-text-field__text,
            .md-text-field__native::placeholder {
                visibility: visible;
            }
        }
    }

    &.md-text-field--focus {
        .md-text-field__container {
            box-shadow: inset 0 0 0 2px var(--md-sys-color-primary);
        }
    }

    &.md-text-field--error {
        .md-text-field__container {
            box-shadow: inset 0 0 0 1px var(--md-sys-color-error);
        }
    }

    &.md-text-field--error.md-text-field--focus {
        .md-text-field__container {
            box-shadow: inset 0 0 0 2px var(--md-sys-color-error);
        }
    }
}
