@use "../mixins/mixins.scss";

@keyframes navigation-bar-south-in {
    0% {
        visibility: visible;
        margin-bottom: calc(0px - var(--md-comp-navigation-bar-height));
    }

    100% {
        margin-bottom: 0;
    }
}

@keyframes navigation-bar-south-out {
    0% {
        visibility: visible;
        margin-bottom: 0;
    }

    100% {
        visibility: hidden;
        margin-bottom: calc(0px - var(--md-comp-navigation-bar-height));
    }
}

@keyframes navigation-bar-south-modal-in {
    0% {
        visibility: visible;
        transform: translate3d(0%, 100%, 0);
    }

    100% {
        transform: translate3d(0%, 0%, 0);
    }
}

@keyframes navigation-bar-south-modal-out {
    0% {
        visibility: visible;
        transform: translate3d(0%, 0%, 0);
    }

    100% {
        visibility: hidden;
        transform: translate3d(0%, 100%, 0);
    }
}

@keyframes navigation-bar-list-item-selected-out {
    0% {
        width: 32px;
    }
}

.md-navigation-bar {
    --md-comp-navigation-bar-height: 80px;
    display: inline-flex;
    flex-direction: column;
    border-radius: 0;
    background-color: var(--md-sys-color-surface);
    // box-shadow: var(--md-sys-elevation-level0);
    color: var(--md-sys-color-on-surface);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
    animation-duration: var(--md-sys-motion-duration-short4);

    &.md-border__item--south {
        --md-comp-navigation-bar-animation: navigation-bar-south-out;
        height: var(--md-comp-navigation-bar-height);
        margin-bottom: calc(0px - var(--md-comp-navigation-bar-height));
        animation-name: var(--md-comp-navigation-bar-animation, navigation-bar-south-out);
        visibility: hidden;

        &[open] {
            --md-comp-navigation-bar-animation: navigation-bar-south-in;
            visibility: visible;
            margin-bottom: 0;
            animation-name: var(--md-comp-navigation-bar-animation, navigation-bar-south-in);
        }
    }
}

.md-navigation-bar__header {
    display: flex;
    align-items: center;
    padding: 24px;
    gap: 0 16px;

    + .md-navigation-bar__container {
        // margin-top: -32px;
        margin-top: 0;
    }
}

.md-navigation-bar__label {
    display: flex;
    flex-direction: column;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.md-navigation-bar__label-primary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mixins.typescale-body-large();
}

.md-navigation-bar__label-secondary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mixins.typescale-body-medium();
    color: var(--md-sys-color-on-surface-variant);
}

.md-navigation-bar__icon-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 16px;
}

.md-navigation-bar__icon-button {
    color: var(--md-sys-color-on-surface-variant);
}

.md-navigation-bar__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
}

.md-navigation-bar__body {
    flex: 1;
    overflow: auto;
    @include mixins.typescale-body-medium();
    color: var(--md-sys-color-on-surface-variant);
    // padding: 0 24px;
    // margin: 24px 0;
    padding: 0;
    margin: 0;

    + .md-navigation-bar__footer {
        // margin-top: -24px;
        margin-top: 0;
    }
}

.md-navigation-bar__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 24px;
    gap: 0 8px;
    margin-top: auto;
}

.md-navigation-bar {
    // background-color: var(--md-sys-color-surface-container-low);
    background-color: var(--md-sys-color-surface-container);
    box-shadow: var(--md-sys-elevation-level1);
    // position: absolute;
    // z-index: 11;

    // &.md-border__item--south {
    //     --md-comp-navigation-bar-animation: navigation-bar-south-modal-out;
    //     margin-bottom: 0;
    //     border-radius: 16px 16px 0 0;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     transform: translate3d(0%, 100%, 0);
    //     animation-name: var(--md-comp-navigation-bar-animation, navigation-bar-south-modal-out);
    //     visibility: hidden;

    //     &[open] {
    //         --md-comp-navigation-bar-animation: navigation-bar-south-modal-in;
    //         visibility: visible;
    //         transform: translate3d(0, 0, 0);
    //         animation-name: var(--md-comp-navigation-bar-animation, navigation-bar-south-modal-in);
    //     }
    // }
}

.md-navigation-bar__list {
    flex-direction: row;
    padding: 0;
    gap: 0 8px;
    max-width: 100%;
    .md-list__row {
        flex: 1;
    }
    .md-list__item {
        flex-direction: column;
        justify-content: center;
        min-height: 80px;
        padding: 12px 0;
        gap: 0;
        position: relative;
        &[selected] {
            background-color: inherit;
            color: inherit;
            .md-list__icon {
                background-color: var(--md-sys-color-secondary-container);
                color: var(--md-sys-color-on-secondary-container);
                // animation-name: var(--md-comp-navigation-bar-animation, navigation-bar-list-item-selected-out);
            }
        }
    }
    .md-list__icon {
        width: 64px;
        height: 32px;
        border-radius: 16px;
        // animation-name: var(--md-comp-navigation-bar-animation, navigation-bar-list-item-selected-in);
        // animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
        // animation-duration: var(--md-sys-motion-duration-short4);
    }
    .md-list__label {
        margin: 4px 0;
    }
    .md-list__label-primary {
        @include mixins.typescale-label-medium();
    }

    .md-list__badge {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(0%, -50%, 0);
        margin-left: 0px;
        margin-top: -8px;

        &:empty {
            transform: translate3d(-50%, -50%, 0);
            margin-left: 8px;
        }
    }
    .md-list__icon {
        ~ .md-list__label {
            ~ .md-list__badge {
                margin-top: -20px;
            }
        }
    }
}
