.md-navigation-rail {
    display: inline-flex;
}

.md-navigation-rail__list {
    padding-top: 0;
    padding-bottom: 0;
    .md-list__item {
        flex-direction: column;
        justify-content: center;
        min-width: 80px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        row-gap: 4px;
        position: relative;

        &[activated] {
            background: inherit;
            color: inherit;

            .md-list__icon {
                background: var(--md-sys-color-secondary-container);
                color: var(--md-sys-color-primary);
            }
        }
    }
    .md-list__icon {
        height: 32px;
        border-radius: 16px;
        width: 56px;
    }
    .md-list__label {
        @extend .md-typography--label-medium;
        margin-bottom: 4px;
    }

    .md-list__badge {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        margin-top: -8px;
        margin-left: 8px;
    }

    .md-list__center {
        + .md-list__badge {
            margin-top: -20px;
        }
    }
}
