@use "../mixins/mixins.scss";

.md-navigation-rail {
    grid-area: west;
    overflow: auto;
    display: inline-flex;
    flex-direction: column;
    width: 80px;
    margin-left: calc(0px - var(--md-comp-sheet-width));
    background-color: var(--md-sys-color-surface);

    --md-comp-sheet-animation: sheet-west-out;
    animation-name: var(--md-comp-sheet-animation);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
    animation-duration: var(--md-sys-motion-duration-short3);
    &[open] {
        margin-left: 0;
        --md-comp-sheet-animation: sheet-west-in;
        animation-name: var(--md-comp-sheet-animation);
        animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
    }
}

.md-navigation-rail__header {
    display: flex;
    align-items: center;
    padding: 24px;
    gap: 0 16px;

    // + .md-navigation-rail__wrapper {
    //     margin-top: -32px;
    // }
}

.md-navigation-rail__icons {
    display: flex;
    align-items: center;
    gap: 0 16px;
}

// .md-navigation-rail__icon {}

.md-navigation-rail__labels {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.md-navigation-rail__label {
    @include mixins.typescale-title-large();
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.md-navigation-rail__sublabel {
    @include mixins.typescale-body-medium();
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--md-sys-color-on-surface-variant);
}

.md-navigation-rail__actions {
    display: flex;
    align-items: center;
    gap: 0 16px;
    margin-left: auto;
}

// .md-navigation-rail__action {}

.md-navigation-rail__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    min-height: 0;
}

.md-navigation-rail__body {
    flex: 1;
    // padding: 0 24px;
    // margin: 24px 0;
    overflow: auto;
    // @include mixins.typescale-body-medium();
    // color: var(--md-sys-color-on-surface-variant);

    // + .md-navigation-rail__footer {
    //     margin-top: -24px;
    // }
}
