.md-dialog-header {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.md-dialog-header__icon {
    @extend .md-icon;
}

.md-dialog-header__label {
    @extend .md-typography--label-large;
}
