.md-chip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.md-chip__icon {
    @extend .md-icon;
}

.md-chip__label {
    @extend .md-typography--label-large;
}
