@use "../mixins/mixins.scss";
@use "../ripple/ripple.scss";

@keyframes datetime-picker-in {
}

@keyframes datetime-picker-out {
}

.md-datetime-picker {
    flex-direction: column;
    display: inline-flex;
    border-radius: 28px;
    background-color: var(--md-sys-color-surface-container-high);
    color: var(--md-sys-color-on-surface);
    box-shadow: var(--md-sys-elevation-level3);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
    animation-duration: var(--md-sys-motion-duration-short4);
    position: absolute;
    z-index: 11;
    visibility: hidden;
    animation-name: var(--md-comp-datetime-picker-animation, datetime-picker-out);

    &[open] {
        visibility: visible;
        animation-name: var(--md-comp-datetime-picker-animation, datetime-picker-in);
    }
}

.md-datetime-picker__header {
    display: flex;
    align-items: center;
    padding: 20px 12px;
    gap: 0px 16px;

    + .md-datetime-picker__container {
        margin-top: -16px;
    }
}

.md-datetime-picker__label {
    display: flex;
    flex-direction: column;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 12px;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.md-datetime-picker__label-primary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mixins.typescale-title-small();
}

.md-datetime-picker__label-secondary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mixins.typescale-body-medium();
    color: var(--md-sys-color-on-surface-variant);
}

.md-datetime-picker__icon-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 16px;
}

.md-datetime-picker__icon-button {
    color: var(--md-sys-color-on-surface-variant);
}

.md-datetime-picker__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
}

.md-datetime-picker__body {
    flex: 1;
    overflow: auto;
    @include mixins.typescale-body-medium();
    color: var(--md-sys-color-on-surface-variant);
    padding: 0;
    margin: 12px 0;

    + .md-datetime-picker__footer {
        margin-top: -16px;
    }
}

.md-datetime-picker__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 12px;
    gap: 0 8px;
    margin-top: auto;
}

.md-datetime-picker__view {
    display: flex;
    overflow: hidden;
    width: calc((48px * 7) + (12px * 2));
    height: calc(48px * 7);
}

.md-datetime-picker__view-item {
    flex: 1 0 100%;
    overflow: auto;
    transform: translate3d(calc(-100% * var(--md-datetime-picker-view)), 0, 0);
}

.md-datetime-picker__list {
    display: flex;
    flex-direction: column;
}

.md-datetime-picker__list-item {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 16px;
    gap: 0 16px;

    & {
        @include ripple.ripple();
        --md-comp-ripple-radius: 100%;
    }

    & {
        @include ripple.ripple-bounded();
    }

    & {
        @include ripple.ripple-trigger();
    }

    &[selected] {
        @include ripple.ripple-selected();
    }

    &:focus {
        @include ripple.ripple-focus();
    }

    &:active {
        @include ripple.ripple-press();
    }

    &:hover {
        @include ripple.ripple-hover();
    }

    &[activated] {
        box-shadow: inset 0 0 0 1px var(--md-sys-color-outline-variant);
    }

    &[selected] {
        background-color: var(--md-sys-color-surface-variant);
    }
}

.md-datetime-picker__table {
    display: flex;
    flex-direction: column;
    padding: 4px 16px;
    gap: 8px 0;
}

.md-datetime-picker__table-header {
    display: flex;
    flex-direction: column;
}

.md-datetime-picker__table-row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.md-datetime-picker__table-cell {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.md-datetime-picker__table-body {
    display: flex;
    flex-direction: column;
    gap: 8px 0;

    .md-datetime-picker__table-cell {
        & {
            @include ripple.ripple();
            --md-comp-ripple-radius: 100%;
        }

        & {
            @include ripple.ripple-trigger();
        }

        &[selected] {
            @include ripple.ripple-selected();
        }

        &:focus {
            @include ripple.ripple-focus();
        }

        &:active {
            @include ripple.ripple-press();
        }

        &:hover {
            @include ripple.ripple-hover();
        }

        &[activated] {
            box-shadow: inset 0 0 0 1px var(--md-sys-color-primary);
        }

        &[selected] {
            background-color: var(--md-sys-color-primary);
            color: var(--md-sys-color-on-primary);
        }
    }
}

.md-datetime-picker__float {
    width: 256px;
    height: 256px;
    margin: 40px 52px;
    border-radius: 128px;
    background-color: var(--md-sys-color-surface-container-highest);
    position: relative;

    &::before {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background-color: var(--md-sys-color-primary);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
}

.md-datetime-picker__float-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    position: absolute;
    z-index: 1;

    &::before {
        content: "";
        height: 2px;
        width: 100px;
        background-color: var(--md-sys-color-primary);
        opacity: 0;
        position: absolute;
        right: 50%;
        top: 50%;
        z-index: -1;
        transform-origin: 100% 50%;
    }

    & {
        @include ripple.ripple();
        position: absolute;
        --md-comp-ripple-radius: 100%;
    }

    & {
        @include ripple.ripple-trigger();
    }

    &[selected] {
        @include ripple.ripple-selected();
    }

    &:focus {
        @include ripple.ripple-focus();
    }

    &:active {
        @include ripple.ripple-press();
    }

    &:hover {
        @include ripple.ripple-hover();
    }

    &[activated] {
        box-shadow: inset 0 0 0 1px var(--md-sys-color-primary);
    }

    &[selected] {
        background-color: var(--md-sys-color-primary);
        color: var(--md-sys-color-on-primary);

        &::before {
            opacity: 1;
        }
    }

    &:hover {
        &::before {
            opacity: 8%;
        }
    }
}

.md-datetime-picker__float--hour {
    @for $i from 1 through 12 {
        .md-datetime-picker__float-item:nth-child(#{$i}) {
            --radius: 100px;
            --offsetX: 104px;
            --offsetY: 104px;

            --x: calc(var(--radius) * cos(#{$i - 4} / 12 * 2 * pi));

            --y: calc(var(--radius) * sin(#{$i - 4} / 12 * 2 * pi));
            left: calc(var(--x) + var(--offsetX));
            top: calc(var(--y) + var(--offsetY));

            &::before {
                transform: rotate(calc((360deg / 12) * ($i - 4)));
            }
        }

        .md-datetime-picker__float-item:nth-child(#{$i + 12}) {
            --radius: 76px;
            --offsetX: 104px;
            --offsetY: 104px;

            --x: calc(var(--radius) * cos(#{$i - 4} / 12 * 2 * pi));

            --y: calc(var(--radius) * sin(#{$i - 4} / 12 * 2 * pi));
            left: calc(var(--x) + var(--offsetX));
            top: calc(var(--y) + var(--offsetY));

            &::before {
                width: 76px;
                transform: rotate(calc((360deg / 12) * ($i - 4)));
            }
        }
    }
}

.md-datetime-picker__float--minute {
    @for $i from 1 through 60 {
        .md-datetime-picker__float-item:nth-child(#{$i}) {
            --radius: 100px;
            --offsetX: 104px;
            --offsetY: 104px;

            --x: calc(var(--radius) * cos(#{$i - 16} / 60 * 2 * pi));

            --y: calc(var(--radius) * sin(#{$i - 16} / 60 * 2 * pi));
            left: calc(var(--x) + var(--offsetX));
            top: calc(var(--y) + var(--offsetY));

            @if ((($i - 16) % 5) != 0) {
                &:not([activated]):not([selected]):not(:hover) {
                    color: transparent;
                }
            }

            &::before {
                transform: rotate(calc((360deg / 60) * ($i - 16)));
            }
        }
    }
}
