
@keyframes ripple-out {
    0% {
        width: 0;
    }

    100% {
    }
}

@keyframes basic-dialog-show {
    from {
        opacity: 0;
        transform: translate3d(-50%, -100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(-50%, -50%, 0);
    }
}

@keyframes basic-dialog-close {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(-50%, -100%, 0);
    }
}

@keyframes full-screen-dialog-show {
    from {
        opacity: 0;
        transform: translate3d(-50%, 2000px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(-50%, -50%, 0);
    }
}

@keyframes full-screen-dialog-close {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(-50%, 2000px, 0);
    }
}

@keyframes tooltip-open {
    from {
        opacity: 0;
        transform: scale3d(0.7, 0.7, 0.7);
    }

    50% {
        opacity: 1;
    }
}

@keyframes tooltip-close {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
        transform: scale3d(0.7, 0.7, 0.7);
    }

    to {
        opacity: 0;
    }
}

@keyframes snackbar-open {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes snackbar-close {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}
