.md-example {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.md-example__icon {
    @extend .md-icon;
}

.md-example__label {
    @extend .md-typography--label-large;
}
