@use "../mixins/mixins.scss";

@keyframes bottom-app-bar-south-in {
    0% {
        visibility: visible;
        margin-bottom: calc(0px - var(--md-comp-bottom-app-bar-height));
    }

    100% {
        margin-bottom: 0;
    }
}

@keyframes bottom-app-bar-south-out {
    0% {
        visibility: visible;
        margin-bottom: 0;
    }

    100% {
        visibility: hidden;
        margin-bottom: calc(0px - var(--md-comp-bottom-app-bar-height));
    }
}

@keyframes bottom-app-bar-south-modal-in {
    0% {
        visibility: visible;
        transform: translate3d(0%, 100%, 0);
    }

    100% {
        transform: translate3d(0%, 0%, 0);
    }
}

@keyframes bottom-app-bar-south-modal-out {
    0% {
        visibility: visible;
        transform: translate3d(0%, 0%, 0);
    }

    100% {
        visibility: hidden;
        transform: translate3d(0%, 100%, 0);
    }
}

.md-bottom-app-bar {
    --md-comp-bottom-app-bar-height: 80px;
    display: inline-flex;
    flex-direction: column;
    border-radius: 0;
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface);
    box-shadow: var(--md-sys-elevation-level2);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
    animation-duration: var(--md-sys-motion-duration-short4);

    &.md-border__item--south {
        --md-comp-bottom-app-bar-animation: bottom-app-bar-south-out;
        height: var(--md-comp-bottom-app-bar-height);
        margin-bottom: calc(0px - var(--md-comp-bottom-app-bar-height));
        animation-name: var(--md-comp-bottom-app-bar-animation, bottom-app-bar-south-out);
        visibility: hidden;

        &[open] {
            --md-comp-bottom-app-bar-animation: bottom-app-bar-south-in;
            visibility: visible;
            margin-bottom: 0;
            animation-name: var(--md-comp-bottom-app-bar-animation, bottom-app-bar-south-in);
        }
    }
}

.md-bottom-app-bar__header {
    display: flex;
    align-items: center;
    height: var(--md-comp-bottom-app-bar-height);
    padding: 12px 16px;
    gap: 0 16px;

    + .md-bottom-app-bar__container {
        // margin-top: -16px;
        margin-top: 0;
    }
}

.md-bottom-app-bar__actions {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0 16px;
}

// .md-bottom-app-bar__actions--start {}

.md-bottom-app-bar__actions--end {
    margin-left: auto;
    .md-fab {
        box-shadow: none;
    }
}

.md-bottom-app-bar__label {
    display: flex;
    flex-direction: column;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.md-bottom-app-bar__label-primary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mixins.typescale-body-large();
}

.md-bottom-app-bar__label-secondary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mixins.typescale-body-medium();
    color: var(--md-sys-color-on-surface-variant);
}

.md-bottom-app-bar__icon-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 16px;
}

.md-bottom-app-bar__icon-button {
    color: var(--md-sys-color-on-surface-variant);
}

.md-bottom-app-bar__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
}

.md-bottom-app-bar__body {
    flex: 1;
    overflow: auto;
    @include mixins.typescale-body-medium();
    color: var(--md-sys-color-on-surface-variant);
    // padding: 0 16px;
    // margin: 16px 0;
    padding: 0;
    margin: 0;

    + .md-bottom-app-bar__footer {
        // margin-top: -16px;
        margin-top: 0;
    }
}

.md-bottom-app-bar__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 16px;
    gap: 0 8px;
    margin-top: auto;
}

.md-bottom-app-bar--modal {
    background-color: var(--md-sys-color-surface-container-low);
    box-shadow: var(--md-sys-elevation-level1);
    position: absolute;
    z-index: 11;

    &.md-border__item--south {
        --md-comp-bottom-app-bar-animation: bottom-app-bar-south-modal-out;
        margin-bottom: 0;
        border-radius: 16px 16px 0 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translate3d(0%, 100%, 0);
        animation-name: var(--md-comp-bottom-app-bar-animation, bottom-app-bar-south-modal-out);
        visibility: hidden;

        &[open] {
            --md-comp-bottom-app-bar-animation: bottom-app-bar-south-modal-in;
            visibility: visible;
            transform: translate3d(0, 0, 0);
            animation-name: var(--md-comp-bottom-app-bar-animation, bottom-app-bar-south-modal-in);
        }
    }
}
