.md-markdown {
    h1 {
        margin: 24px 0;
        @include typescale-headline-large();
        font-weight: 600;
    }

    h2 {
        margin: 24px 0;
        @include typescale-headline-medium();
        font-weight: 600;
    }

    h3 {
        margin: 24px 0;
        @include typescale-headline-small();
        font-weight: 600;
    }

    h4 {
        margin: 24px 0;
        @include typescale-title-large();
        font-weight: 600;
    }

    h5 {
        margin: 24px 0;
        @include typescale-title-medium();
        font-weight: 600;
    }

    h6 {
        margin: 24px 0;
        @include typescale-title-small();
        font-weight: 600;
    }

    p {
        margin: 24px 0;
        @include typescale-body-large();
    }

    em {
        font-style: italic;
    }

    strong {
        font-weight: 600;
    }

    blockquote {
        margin: 24px 0;
        padding: 16px 16px;
        border-radius: 12px;
        background-color: var(--md-sys-color-surface-container-high);
        color: var(--md-sys-color-on-surface-variant);

        blockquote {
            padding: 0 16px;
        }
    }

    pre {
        margin: 24px 0;
        padding: 16px 16px;
        border-radius: 12px;
        background-color: var(--md-sys-color-surface-container-high);
        color: var(--md-sys-color-on-surface-variant);
        @include typescale-body-medium();
        font-family: Consolas, 'Courier New', monospace;
    }

    // br {}

    code {
        padding: 2px 4px;
        border-radius: 4px;
        background-color: var(--md-sys-color-surface-container-high);
        color: var(--md-sys-color-on-surface-variant);
        @include typescale-body-medium();
        font-family: Consolas, 'Courier New', monospace;
    }

    ul {
        margin: 24px;

        ul {
            margin: 0 24px;
        }
    }

    ol {
        margin: 24px;

        ol {
            margin: 0 24px;
        }
    }

    // li {}

    // img {}

    // a {}

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    // thead {}

    // tbody {}

    // tr {}

    th {
        text-align: left;
        padding: calc(((56px - 20px) / 2) + (4px * -2)) 16px;
        border: 1px solid var(--md-sys-color-outline-variant);
        @include typescale-label-large();
    }

    td {
        padding: calc(((52px - 20px) / 2) + (4px * -2)) 16px;
        border: 1px solid var(--md-sys-color-outline-variant);
        @include typescale-body-medium();
    }
}
