.md-markdown {
    h1 {
        margin: var(--md-sys-typescale-headline-large-line-height) 0;
        @include typescale-headline-large();
    }

    h2 {
        margin: var(--md-sys-typescale-headline-medium-line-height) 0;
        @include typescale-headline-medium();
    }

    h3 {
        margin: var(--md-sys-typescale-headline-small-line-height) 0;
        @include typescale-headline-small();
    }

    h4 {
        margin: var(--md-sys-typescale-title-large-line-height) 0;
        @include typescale-title-large();
    }

    h5 {
        margin: var(--md-sys-typescale-title-medium-line-height) 0;
        @include typescale-title-medium();
    }

    h6 {
        margin: var(--md-sys-typescale-title-small-line-height) 0;
        @include typescale-title-small();
    }

    p {
        margin: var(--md-sys-typescale-body-large-line-height) 0;
        @include typescale-body-large();
    }

    em {
        font-style: italic;
    }

    strong {
        font-weight: bold;
    }

    blockquote {
        margin: var(--md-sys-typescale-body-large-line-height) 0;
        padding: calc(var(--md-sys-typescale-body-large-line-height) / 2) var(--md-sys-typescale-body-large-line-height);
        background-color: var(--md-sys-color-surface-container);
        color: var(--md-sys-color-on-surface-variant);
        blockquote {
            padding: 0 var(--md-sys-typescale-body-large-line-height);
        }
    }

    pre {
        margin: var(--md-sys-typescale-body-large-line-height) 0;
        padding: calc(var(--md-sys-typescale-body-large-line-height) / 2) var(--md-sys-typescale-body-large-line-height);
        background-color: var(--md-sys-color-surface-container);
        color: var(--md-sys-color-on-surface-variant);
    }

    // br {}

    code {
        background-color: var(--md-sys-color-surface-container);
        color: var(--md-sys-color-on-surface-variant);
    }

    ul {
        margin: var(--md-sys-typescale-body-large-line-height);
        ul {
            margin: 0 var(--md-sys-typescale-body-large-line-height);
        }
    }

    ol {
        margin: var(--md-sys-typescale-body-large-line-height);
        ol {
            margin: 0 var(--md-sys-typescale-body-large-line-height);
        }
    }

    // li {}

    // img {}

    // a {}

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    // thead {}

    // tbody {}

    // tr {}

    th {
        text-align: left;
        padding: calc(var(--md-sys-typescale-body-large-line-height) / 2) var(--md-sys-typescale-body-large-line-height);
        border: 1px solid var(--md-sys-color-outline-variant);
    }

    td {
        padding: calc(var(--md-sys-typescale-body-large-line-height) / 2) var(--md-sys-typescale-body-large-line-height);
        border: 1px solid var(--md-sys-color-outline-variant);
    }
}
