.md-image {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.md-image__native {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

// shape
.md-image--shape {
    overflow: hidden;
}
