@use "../mixins/mixins.scss";

.md-chips {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px 8px;
}
.md-chip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 32px;
    border-radius: 8px;
    padding: 0 12px;
    gap: 0 8px;
    color: var(--md-sys-color-primary);
    border: 1px solid var(--md-sys-color-outline);

    &[selected] {
        background-color: var(--md-sys-color-secondary-container);
        color: var(--md-sys-color-on-secondary-container);

        .md-button__icon {
            font-variation-settings:
                "FILL" 1,
                "wght" 400,
                "GRAD" 0,
                "opsz" 24;
        }
    }

    &[disabled] {
        color: var(--md-sys-color-on-surface38);
        border-color: var(--md-sys-color-on-surface12);
    }
}
.md-chip__icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
    margin-left: -4px;
}
.md-chip__label {
    @include mixins.typescale-label-large();
}
.md-chip__avatar {
    width: 24px;
    height: 24px;
    margin-left: -8px;
}
.md-chip__action {
    width: 18px;
    height: 18px;
    margin-right: -4px;
    .md-icon-button__icon {
        width: 18px;
        height: 18px;
        font-size: 18px;
    }
}
