@use "../mixins/mixins.scss";
.md-data-table {
    --md-comp-data-table-cell-density: 0;
    --md-comp-data-table-cell-height: calc(56px + (var(--md-comp-data-table-cell-density) * 4px));
    display: block;
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
}

.md-data-table__native {
    border-collapse: separate;
    border-spacing: 0;
    display: block;
    overflow: auto;
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;

    // thead{}
    tbody {
        .md-data-table__cell {
            @include mixins.ripple();
            @include mixins.ripple-bounded();
            @include mixins.ripple-trigger();
        }
        &:focus {
            .md-data-table__cell {
                @include mixins.ripple-focus();
            }
        }
        &:active {
            .md-data-table__cell {
                @include mixins.ripple-press();
            }
        }
        &:hover {
            .md-data-table__cell {
                @include mixins.ripple-hover();
            }
        }
        &:-moz-drag-over {
            .md-data-table__cell {
                @include mixins.ripple-drag();
            }
        }
        &[disabled] {
            .md-data-table__cell {
                @include mixins.ripple-disabled();
            }
        }
        &[selected] {
            .md-data-table__cell {
                background-color: var(--md-sys-color-secondary-container);
                color: var(--md-sys-color-on-secondary-container);
                .md-data-table__icon {
                    color: var(--md-sys-color-primary);
                    font-variation-settings:
                        "FILL" 1,
                        "wght" 400,
                        "GRAD" 0,
                        "opsz" 24;
                }
            }
        }
    }
    // tfoot{}
    // tr{}
    th {
        text-align: left;

        border-bottom: 1px solid var(--md-sys-color-outline-variant);
        // border-right: 1px solid var(--md-sys-color-outline-variant);
        // border-top: 1px solid var(--md-sys-color-outline-variant);
        &:first-child {
            // border-left: 1px solid var(--md-sys-color-outline-variant);
        }
    }
    td {
        max-width: 0;
        border-bottom: 1px solid var(--md-sys-color-outline-variant);
        // border-right: 1px solid var(--md-sys-color-outline-variant);
        &:first-child {
            // border-left: 1px solid var(--md-sys-color-outline-variant);
        }
    }
}

.md-data-table__cell {
    display: flex;
    align-items: center;
    min-height: var(--md-comp-data-table-cell-height);
    padding: 8px 16px;
    gap: 0 16px;
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
}

.md-data-table__labels {
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: 100%;
}
.md-data-table__label {
    @include mixins.typescale-body-large();
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.md-data-table__sublabel {
    @include mixins.typescale-body-medium();
    height: var(--md-sys-typescale-body-medium-line-height);
    overflow: hidden;
    color: var(--md-sys-color-on-surface-variant);
}

.md-data-table__cell--two-line {
    min-height: 72px;
}
.md-data-table__cell--three-line {
    align-items: flex-start;
    padding-top: 12px;
    padding-bottom: 12px;
    min-height: 88px;
    .md-data-table__sublabel {
        height: calc(var(--md-sys-typescale-body-medium-line-height) * 2);
    }
}

.md-data-table__cell--right-aligned {
    justify-content: flex-end;
}
