.md-data-table {
    border-radius: var(--md-sys-shape-corner-medium);
    background-color: var(--md-sys-color-surface-container-lowest);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level0);

    .md-card__header {
        padding: 16px;
        gap: 0 16px;

        + .md-card__body {
            margin-top: -16px;
        }
    }

    .md-card__actions {
        gap: 0 16px;
    }

    .md-card__label-primary {
        @include typescale-body-large();
    }

    .md-card__inner {
        padding: 0 16px;
        margin: 16px 0;

        + .md-card__footer {
            margin-top: -16px;
        }
    }

    .md-card__footer {
        padding: 16px;
        gap: 0 8px;
    }
}
