.md-panel {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface-container);
}

.md-panel__header {
    display: flex;
    align-items: center;
    padding: 24px;
    gap: 0 16px;

    + .md-panel__body {
        margin-top: 0;
    }
}

.md-panel__body {
    flex: 1;
    overflow: auto;
    padding: 0 24px;
    margin: 24px 0;
    @extend .md-typography--body-medium;

    + .md-panel__footer {
        margin-top: -24px;
    }
}

.md-panel__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 24px;
    gap: 0 8px;
}

// .md-panel__start {}

.md-panel__center {
    display: flex;
    flex-direction: column;
    flex: 1;
}

// .md-panel__end {}

// .md-panel__icon {}

.md-panel__label {
    @extend .md-typography--title-large;
}

.md-panel__supporting-text {
    @extend .md-typography--body-medium;
}

// dialog

.md-panel--dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 12;
    transform: scale(1) translate3d(-50%, -50%, 0);
    transform-origin: left top;
    pointer-events: all;
    opacity: 1;
    transition-property: none;
    transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
    transition-duration: var(--md-sys-motion-duration-short2);

    &:not([open]) {
        transform: scale(0.88) translate3d(-50%, -50%, 0);
        pointer-events: none;
        opacity: 0;
    }
}

// drawer

.md-panel--drawer {
    // position: absolute;
    // z-index: 12;
    transition-property: none;
    transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
    transition-duration: var(--md-sys-motion-duration-short2);
}

.md-panel--top {
    // top: 0;
    // left: 0;
    // right: 0;
    transform: translate3d(0, 0, 0);

    &:not([open]) {
        transform: translate3d(0%, -100%, 0);
    }
}

.md-panel--right {
    // right: 0;
    // top: 0;
    // bottom: 0;
    transform: translate3d(0, 0, 0);

    &:not([open]) {
        transform: translate3d(100%, 0%, 0);
    }
}

.md-panel--bottom {
    // bottom: 0;
    // left: 0;
    // right: 0;
    transform: translate3d(0, 0, 0);

    &:not([open]) {
        transform: translate3d(0%, 100%, 0);
    }
}

.md-panel--left {
    // left: 0;
    // top: 0;
    // bottom: 0;
    transform: translate3d(0, 0, 0);

    &:not([open]) {
        transform: translate3d(-100%, 0%, 0);
    }
}

.md-panel__scrim {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 11;
    background: var(--md-sys-color-scrim);
    opacity: 32%;
}

// .md-layout {
//     padding-top: var(--md-panel-drawer-top, 0px);
//     padding-right: var(--md-panel-drawer-right, 0px);
//     padding-bottom: var(--md-panel-drawer-bottom, 0px);
//     padding-left: var(--md-panel-drawer-left, 0px);
// }

// .md-panel--top {
//     right: var(--md-panel-drawer-right, 0px);
//     left: var(--md-panel-drawer-left, 0px);
// }

// .md-panel--bottom {
//     right: var(--md-panel-drawer-right, 0px);
//     left: var(--md-panel-drawer-left, 0px);
// }
