.md-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 40px;
    border-radius: 20px;
    padding: 0 12px;
    gap: 0 8px;
    // background: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-primary);
    position: relative;

    // &[activated]{
    //     background: var(--md-sys-color-secondary-container);
    //     color: var(--md-sys-color-on-secondary-container);
    // }
}

.md-button__native {
    appearance: none;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    color: transparent;
}

.md-button__icon {
    @extend .md-icon;
    // height: 18px;
    // width: 18px;
    font-size: 18px;

    + .md-button__label {
        margin-right: 4px;
    }
}

.md-button__label {
    @extend .md-typography--label-large;
}

//
.md-button--elevated,
.md-button--filled,
.md-button--filled-tonal,
.md-button--outlined {
    padding: 0 24px;
    // border: 1px solid var(--md-sys-color-outline);

    .md-button__icon {
        margin-left: -8px;

        + .md-button__label {
            margin-right: 0;
        }
    }
}

.md-button--elevated {
    background: var(--md-sys-color-surface);
    color: var(--md-sys-color-primary);
    box-shadow: var(--md-sys-elevation-level1);
}
.md-button--filled {
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}
.md-button--filled-tonal {
    background: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}
.md-button--outlined {
    // background: var(--md-sys-color-surface);
    color: var(--md-sys-color-primary);
    border: 1px solid var(--md-sys-color-outline);
}
