@use "../mixins/mixins.scss";

.md-button {
    --md-comp-button-density: 0;
    --md-comp-button-height: calc(40px + (var(--md-comp-button-density) * 4px));
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: var(--md-comp-button-height);
    padding: 0 12px;
    gap: 0 8px;
    border-radius: calc(var(--md-comp-button-height) / 2);
    color: var(--md-sys-color-primary);
    min-width: 0;
    max-width: 100%;
    position: relative;

    &[selected] {
        background-color: var(--md-sys-color-secondary-container);
        color: var(--md-sys-color-on-secondary-container);

        .md-button__icon {
            font-variation-settings:
                "FILL" 1,
                "wght" 400,
                "GRAD" 0,
                "opsz" 24;
        }
    }

    &[disabled] {
        color: var(--md-sys-color-on-surface38);
    }
}

.md-button__native {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: transparent;
    color: transparent;
}

.md-button__icon {
    width: 18px;
    height: 18px;
    font-size: 18px;

    + .md-button__label {
        margin-right: 4px;
    }
}

.md-button__label {
    @include mixins.typescale-label-large();
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.md-button--elevated {
    padding: 0 24px;
    background-color: var(--md-sys-color-surface-container-low);
    color: var(--md-sys-color-primary);
    box-shadow: var(--md-sys-elevation-level1);

    .md-button__icon {
        + .md-button__label {
            margin-right: 0;
        }
    }

    &[disabled] {
        background-color: var(--md-sys-color-on-surface12);
        color: var(--md-sys-color-on-surface38);
        box-shadow: none;
    }
}

.md-button--filled {
    padding: 0 24px;
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);

    .md-button__icon {
        + .md-button__label {
            margin-right: 0;
        }
    }

    &.md-ripple {
        &::after {
            background-color: var(--md-sys-color-on-primary);
        }
    }

    &[disabled] {
        background-color: var(--md-sys-color-on-surface12);
        color: var(--md-sys-color-on-surface38);
    }
}

.md-button--filled-tonal {
    padding: 0 24px;
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);

    .md-button__icon {
        + .md-button__label {
            margin-right: 0;
        }
    }

    &[disabled] {
        background-color: var(--md-sys-color-on-surface12);
        color: var(--md-sys-color-on-surface38);
    }
}

.md-button--outlined {
    padding: 0 24px;
    color: var(--md-sys-color-primary);
    border: 1px solid var(--md-sys-color-outline);

    .md-button__icon {
        + .md-button__label {
            margin-right: 0;
        }
    }

    &[disabled] {
        color: var(--md-sys-color-on-surface38);
        border-color: var(--md-sys-color-on-surface12);
    }
}
