.md-list-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.md-list-item__icon {
    @extend .md-icon;
}

.md-list-item__label {
    @extend .md-typography--label-large;
}
