.md-switch {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    width: 52px;
    height: 32px;
}

.md-switch__native {
    appearance: none;
    width: 52px;
    height: 32px;
    border-radius: var(--md-sys-shape-corner-full);
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;

    &:checked {
        + .md-switch__track {
            background-color: var(--md-sys-color-primary);
            border-color: var(--md-sys-color-primary);
            // transition-duration: var(--md-sys-motion-expressive-fast-spatial-duration);
            // transition-timing-function: cubic-bezier(var(--md-sys-motion-expressive-fast-spatial));

            .md-switch__thumb {
                // width: 24px;
                // height: 24px;
                border-radius: var(--md-sys-shape-corner-full);
                // left: 22px;
                transform: translate3d(-7.6923076923076925%, -50%, 0) scale3d(1, 1, 1);
                background-color: var(--md-sys-color-on-primary);
                color: var(--md-sys-color-primary);
                // transition-duration: var(--md-sys-motion-expressive-fast-spatial-duration);
                // transition-timing-function: cubic-bezier(var(--md-sys-motion-expressive-fast-spatial));
            }
        }
    }

    &:active {
        + .md-switch__track {
            .md-switch__thumb {
                // width: 28px;
                // height: 28px;
                border-radius: var(--md-sys-shape-corner-full);
                // left: 0px;
                transform: translate3d(-92.3076923076923%, -50%, 0) scale3d(1.1666666666666667, 1.1666666666666667, 1.1666666666666667);
            }
        }

        &:checked {
            + .md-switch__track {
                .md-switch__thumb {
                    // left: 20px;
                    transform: translate3d(-7.6923076923076925%, -50%, 0) scale3d(1.1666666666666667, 1.1666666666666667, 1.1666666666666667);
                }
            }
        }
    }

    &:focus-visible {
        outline-offset: 2px;
        border-radius: var(--md-sys-shape-corner-full);
    }
}

.md-switch__track {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 52px;
    height: 32px;
    background-color: var(--md-sys-color-surface-container-highest);
    border: 2px solid var(--md-sys-color-outline);
    border-radius: var(--md-sys-shape-corner-full);
    position: relative;
    //will-change: background-color, border-color;
    transition-property: background-color, border-color;
    transition-duration: var(--md-sys-motion-expressive-fast-spatial-duration);
    transition-timing-function: cubic-bezier(var(--md-sys-motion-expressive-fast-spatial));
}

.md-switch__thumb {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    background-color: var(--md-sys-color-outline);
    color: var(--md-sys-color-surface-container-highest);
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: var(--md-sys-shape-corner-full);
    // left: 2px;
    left: 50%;
    top: 50%;
    transform: translate3d(-92.3076923076923%, -50%, 0) scale3d(1, 1, 1);
    //will-change: transform, border-radius, background-color, color;
    transition-property: transform, border-radius, background-color, color;
    transition-duration: var(--md-sys-motion-expressive-fast-spatial-duration);
    transition-timing-function: cubic-bezier(var(--md-sys-motion-expressive-fast-spatial));

    &:empty {
        // width: 16px;
        // height: 16px;
        border-radius: var(--md-sys-shape-corner-full);
        // left: 4px;
        transform: translate3d(-92.3076923076923%, -50%, 0) scale3d(0.6666666666666666, 0.6666666666666666, 0.6666666666666666);
    }

    &.md-ripple {
        &::after {
            width: 40px;
        }
    }

    &.md-ripple--press {
        &::after {
            width: 0;
        }
    }
}

.md-switch__icon {
    // width: 16px;
    // height: 16px;
    font-size: 16px;
}

.md-switch--disabled {
    pointer-events: none;
    opacity: 38%;

    .md-switch__track {
        background-color: var(--md-sys-color-surface);
        border-color: var(--md-sys-color-on-surface);
    }

    .md-switch__thumb {
        background-color: var(--md-sys-color-on-surface);
        color: var(--md-sys-color-surface);
    }

    .md-switch__native {
        &:checked {
            + .md-switch__track {
                background-color: var(--md-sys-color-surface);
                border-color: var(--md-sys-color-on-surface);

                .md-switch__thumb {
                    background-color: var(--md-sys-color-on-surface);
                    color: var(--md-sys-color-surface);
                }
            }
        }
    }
}
