.md-switch {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 52px;
    height: 32px;
    position: relative;
}

.md-switch__native {
    appearance: none;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);

    &:checked {
        ~ .md-switch__track {
            background-color: var(--md-sys-color-primary);
            border-color: var(--md-sys-color-primary);

            .md-switch__thumb {
                width: 24px;
                height: 24px;
                border-radius: 12px;
                left: 22px;
                background-color: var(--md-sys-color-on-primary);
                color: var(--md-sys-color-primary);
            }
        }

        &:active {
            ~ .md-switch__track {
                .md-switch__thumb {
                    left: 20px;
                }
            }
        }
    }

    &:active {
        ~ .md-switch__track {
            .md-switch__thumb {
                width: 28px;
                height: 28px;
                border-radius: 14px;
                left: 0px;
            }
        }
    }
}

.md-switch__track {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 32px;
    background-color: var(--md-sys-color-surface-container-highest);
    border: 2px solid var(--md-sys-color-outline);
    border-radius: 16px;
    position: relative;
    transition-property: background-color, border;
    transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
    transition-duration: var(--md-sys-motion-duration-short2);
}

.md-switch__thumb {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: var(--md-sys-color-outline);
    color: var(--md-sys-color-surface-container-highest);
    position: absolute;
    left: 2px;
    transition-property: width, height, border-radius, background-color, left;
    transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
    transition-duration: var(--md-sys-motion-duration-short2);

    &.md-ripple {
        &::after {
            width: 40px;
        }
    }

    &:empty {
        width: 16px;
        height: 16px;
        border-radius: 8px;
        left: 6px;
    }
}

.md-switch__icon {
    width: 16px;
    height: 16px;
    font-size: 16px;
}
