/* navigation drawer */
.md-navigation-drawer {
    --md-comp-pane-width: 360px;
    display: inline-flex;
    border-radius: var(--md-sys-shape-corner-none);
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level0);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-emphasized));
    animation-duration: var(--md-sys-motion-duration-short4);
    grid-area: west;
    min-width: var(--md-comp-pane-width);
    margin-left: calc(0px - var(--md-comp-pane-height, 100vw));
    animation-name: var(--md-comp-pane-animation, sheetWestOut);
    &[open] {
        margin-left: 0;
        animation-name: var(--md-comp-pane-animation, sheetWestIn);
    }
    .md-pane__body {
        padding: 0;
        margin: 0;
        border-radius: inherit;
    }
}
.md-navigation-drawer.md-pane--modal {
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level0);
    position: absolute;
    z-index: 7;
    grid-area: auto;
    margin-left: 0;
    border-radius: 0 var(--md-sys-shape-corner-large) var(--md-sys-shape-corner-large) 0;
    transform: translate3d(-100%, 0, 0);
    left: 0;
    top: 0;
    bottom: 0;
    animation-name: var(--md-comp-pane-animation, sheetWestModalOut);
    &[open] {
        box-shadow: var(--md-sys-elevation-level1);
        transform: translate3d(0, 0, 0);
        animation-name: var(--md-comp-pane-animation, sheetWestModalIn);
    }
}
.md-navigation-drawer__list {
    .md-list__item {
        margin: 0 12px;
        border-radius: calc(56px / 2);
    }
    .md-block__inner {
        gap: 0 12px;
    }

    // .md-block__section{}

    // .md-block__section--start{}
    // .md-block__icon{}
    // .md-block__section--center{}
    .md-block__headline {
        @include typescale-label-large();
    }
}
