@use "../mixins/mixins.scss";

.md-navigation-drawer {
    grid-area: west;
    overflow: auto;
    display: inline-flex;
    flex-direction: column;
    width: 360px;
    margin-left: calc(0px - var(--md-comp-navigation-drawer-width));
    background-color: var(--md-sys-color-surface);
    --md-comp-navigation-drawer-animation: navigation-drawer-in;
    animation-name: var(--md-comp-navigation-drawer-animation);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
    animation-duration: var(--md-sys-motion-duration-short3);

    &[open] {
        margin-left: 0;
        --md-comp-navigation-drawer-animation: navigation-drawer-out;
        animation-name: var(--md-comp-navigation-drawer-animation);
        animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
    }
}

.md-navigation-drawer__header {
    display: flex;
    align-items: center;
    padding: 24px;
    gap: 0 16px;
}

.md-navigation-drawer__icons {
    display: flex;
    align-items: center;
    gap: 0 16px;
}

.md-navigation-drawer__labels {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.md-navigation-drawer__label {
    @include mixins.typescale-title-large();
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.md-navigation-drawer__sublabel {
    @include mixins.typescale-body-medium();
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--md-sys-color-on-surface-variant);
}

.md-navigation-drawer__actions {
    display: flex;
    align-items: center;
    gap: 0 16px;
    margin-left: auto;
}

.md-navigation-drawer__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    min-height: 0;
}

.md-navigation-drawer__body {
    flex: 1;
    overflow: auto;
}

.md-navigation-drawer {
    .md-list {
        .md-list__row {
            margin: 0 12px;
        }

        .md-list__item {
            gap: 0 12px;
            border-radius: 28px;
        }

        .md-list__label {
            @include mixins.typescale-label-large();
        }
    }
}

.md-navigation-drawer--modal {
    background-color: var(--md-sys-color-surface-container-low);
    box-shadow: var(--md-sys-elevation-level1);
    position: absolute;
    z-index: 11;

    &.md-navigation-drawer {
        margin-left: 0;
        top: 0;
        bottom: 0;
        left: 0;
        border-radius: 0 var(--md-sys-shape-corner-extra-large) var(--md-sys-shape-corner-extra-large) 0;
        transform: translate3d(-100%, 0, 0);
        --md-comp-navigation-drawer-animation: navigation-drawer-modal-in;

        &[open] {
            transform: translate3d(0, 0, 0);
            --md-comp-navigation-drawer-animation: navigation-drawer-modal-out;
        }
    }
}

@include mixins.layout-compact() {
    .md-navigation-drawer {
        width: calc(100% - 40px);
    }
}
