/* dialog */
.md-dialog {
    display: inline-flex;
    min-width: 280px;
    max-width: 560px;
    transform: translate3d(-50%, -50%, 0);
    border-radius: var(--md-sys-shape-corner-extra-large);
    background-color: var(--md-sys-color-surface-container-highest);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level3);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 7;
    visibility: hidden;
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-emphasized));
    animation-duration: var(--md-sys-motion-duration-short4);
    animation-name: var(--md-comp-pane-animation, dialogOut);
    &[open] {
        visibility: visible;
        animation-name: var(--md-comp-pane-animation, dialogIn);
        .md-pane__body {
            overflow: auto;
            animation-name: var(--md-comp-pane-animation, dialogBodyIn);
        }
    }
    .md-pane__header {
        padding: 24px;
        border-radius: inherit;
        background-color: inherit;
        color: inherit;
        .md-block__inner {
            flex-direction: column;
            gap: 16px;
        }
        .md-block__section--start {
            + .md-block__section--center {
                align-self: center;
            }
        }
        .md-block__section--center {
            align-self: flex-start;
        }
        .md-block__headline {
            @include typescale-title-large();
        }
        + .md-pane__wrapper {
            margin-top: -28px;
        }
    }
    .md-pane__wrapper {
        border-radius: inherit;
    }
    .md-pane__body {
        padding: 0 24px;
        margin: 24px 0;
        border-radius: inherit;
        @include typescale-body-medium();
        overflow: hidden;
        animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-emphasized));
        animation-duration: var(--md-sys-motion-duration-short4);
        animation-name: var(--md-comp-pane-animation, dialogBodyOut);
        + .md-pane__footer {
            margin-top: -24px;
        }
    }
    .md-pane__footer {
        padding: 24px;
        border-radius: inherit;
        background-color: inherit;
        color: inherit;
    }
}
.md-dialog.md-pane--full-screen {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    border-radius: var(--md-sys-shape-corner-none);
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level0);
    animation-name: var(--md-comp-pane-animation, dialogFullScreenOut);
    &[open] {
        animation-name: var(--md-comp-pane-animation, dialogFullScreenIn);
    }
    .md-pane__header {
        padding: 8px 16px;
        border-radius: inherit;
        background-color: inherit;
        color: inherit;
        .md-block__inner {
            flex-direction: row;
            gap: 0 16px;
        }
        + .md-pane__wrapper {
            margin-top: -24px;
        }
    }
}
