@use "../mixins/mixins.scss";

.md-dialog {
    display: inline-flex;
    flex-direction: column;
    min-width: 280px;
    max-width: 560px;
    max-height: 100%;
    border-radius: var(--md-sys-shape-corner-extra-large);
    background-color: var(--md-sys-color-surface-container-high);
    box-shadow: var(--md-sys-elevation-level3);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 11;
    transform: translate3d(-50%, -50%, 0);
    opacity: 0;
    pointer-events: none;
    --md-comp-dialog-animation: dialog-in;
    animation-name: var(--md-comp-dialog-animation);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
    animation-duration: var(--md-sys-motion-duration-short3);

    .md-dialog__body {
        animation-name: dialog-body-in;
        animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
        animation-duration: var(--md-sys-motion-duration-short3);
    }

    &[open] {
        opacity: 1;
        pointer-events: all;
        --md-comp-dialog-animation: dialog-out;
        animation-name: var(--md-comp-dialog-animation);
        animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));

        .md-dialog__body {
            animation-name: dialog-body-out;
            animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
        }
    }
}

.md-dialog__header {
    display: flex;
    align-items: center;
    padding: 24px;
    gap: 0 16px;

    + .md-dialog__wrapper {
        margin-top: -32px;
    }
}

.md-dialog__icons {
    display: flex;
    align-items: center;
    gap: 0 16px;
}

.md-dialog__labels {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.md-dialog__label {
    @include mixins.typescale-headline-small();
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.md-dialog__sublabel {
    @include mixins.typescale-body-medium();
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--md-sys-color-on-surface-variant);
}

.md-dialog__actions {
    display: flex;
    align-items: center;
    gap: 0 16px;
    margin-left: auto;
}

.md-dialog__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    min-height: 0;
}

.md-dialog__body {
    flex: 1;
    padding: 0 24px;
    margin: 24px 0;
    overflow: auto;
    @include mixins.typescale-body-medium();
    color: var(--md-sys-color-on-surface-variant);

    + .md-dialog__footer {
        margin-top: -24px;
    }
}

.md-dialog__footer {
    display: flex;
    align-items: center;
    padding: 24px;
}

.md-dialog__buttons {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0 8px;
}

.md-dialog__spacer {
    flex: 1;
}
