.md-icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;

    &[toggle] {
        background: inherit;
        color: inherit;

        &[activated] {
            .md-icon-button__icon {
                color: var(--md-sys-color-primary);
            }
        }
    }
}

.md-icon-button__icon {
    @extend .md-icon;
}

.md-icon-button--filled,
.md-icon-button--filled-tonal,
.md-icon-button--outlined {
    height: 40px;
    border-radius: 20px;
    width: 40px;

    &[toggle] {
        background: inherit;
        color: inherit;

        &[activated] {
            .md-icon-button__icon {
                color: inherit;
            }
        }
    }
}

.md-icon-button--filled {
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);

    &[toggle] {
        background: var(--md-sys-color-surface-variant);
        color: var(--md-sys-color-primary);

        &[activated] {
            background: var(--md-sys-color-primary);
            color: var(--md-sys-color-on-primary);
        }
    }
}

.md-icon-button--filled-tonal {
    background: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);

    &[toggle] {
        background: var(--md-sys-color-surface-variant);
        color: var(--md-sys-color-on-surface-variant);

        &[activated] {
            background: var(--md-sys-color-secondary-container);
            color: var(--md-sys-color-on-secondary-container);
        }
    }
}

.md-icon-button--outlined {
    color: var(--md-sys-color-primary);
    border: 1px solid var(--md-sys-color-outline);

    &[toggle] {
        border: 1px solid var(--md-sys-color-outline);
        color: var(--md-sys-color-on-surface-variant);

        &[activated] {
            background: var(--md-sys-color-inverse-surface);
            color: var(--md-sys-color-inverse-on-surface);
            border: 1px solid var(--md-sys-color-inverse-surface);
        }
    }
}
