/* tooltip */
.md-tooltip {
    display: inline-flex;
    border-radius: var(--md-sys-shape-corner-medium);
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level2);
    position: absolute;
    z-index: 7;
    visibility: hidden;
    pointer-events: none;
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-emphasized));
    animation-duration: var(--md-sys-motion-duration-short4);
    animation-name: var(--md-comp-pane-animation, tooltipOut);
    &[open] {
        visibility: visible;
        animation-name: var(--md-comp-pane-animation, tooltipIn);
        .md-pane__body {
            overflow: auto;
            animation-name: var(--md-comp-pane-animation, tooltipBodyIn);
        }
    }
    .md-pane__header {
        min-height: auto;
        padding: 12px 16px;
        border-radius: inherit;
        background-color: inherit;
        color: inherit;
        .md-block__inner {
            gap: 16px;
        }
        .md-block__headline {
            @include typescale-title-small();
        }
        + .md-pane__wrapper {
            margin-top: -20px;
        }
    }
    .md-pane__wrapper {
        border-radius: inherit;
    }
    .md-pane__body {
        padding: 0 16px;
        margin: 12px 0;
        border-radius: inherit;
        @include typescale-body-medium();
        overflow: hidden;
        animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-emphasized));
        animation-duration: var(--md-sys-motion-duration-short4);
        animation-name: var(--md-comp-pane-animation, tooltipBodyOut);
        + .md-pane__footer {
            margin-top: -8px;
        }
    }
    .md-pane__footer {
        min-height: auto;
        padding: 8px 16px;
        border-radius: inherit;
        background-color: inherit;
        color: inherit;
        .md-block__section--start {
            gap: 0 40px;
        }
        .md-button {
            pointer-events: all;
        }
        .md-button__native {
            padding-left: 4px;
            padding-right: 4px;
        }
    }
}
.md-tooltip.md-pane--plain {
    border-radius: var(--md-sys-shape-corner-extra-small);
    background-color: var(--md-sys-color-inverse-surface);
    color: var(--md-sys-color-inverse-on-surface);
    box-shadow: var(--md-sys-elevation-level0);
    .md-pane__body {
        padding: 0 8px;
        margin: 4px 0;
        @include typescale-body-small();
    }
}
