.md-slider {
    --md-comp-slider-track-height: 16px;
    --md-comp-slider-label-container-height: 44px;
    --md-comp-slider-label-container-width: 48px;
    --md-comp-slider-handle-height: 44px;
    --md-comp-slider-handle-width: 4px;
    --md-comp-slider-track-shape: 8px;
    --md-comp-slider-inset-icon-size: 0px;
    --md-comp-slider-stop-indicator-size: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 192px;
    margin: 0 calc(var(--md-comp-slider-stop-indicator-size) / 2);
    height: calc(var(--md-comp-slider-handle-height) + (4px * 2));
    position: relative;
    user-select: none;
}

// .md-slider__hidden {}

.md-slider__native {
    appearance: none;
    background-color: transparent;
    outline: none;

    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 6;
}

.md-slider__native::-webkit-slider-container {
    appearance: none;
}

.md-slider__native::-webkit-slider-runnable-track {
    appearance: none;
}

.md-slider__native::-webkit-slider-thumb {
    appearance: none;

    height: var(--md-comp-slider-handle-height);
    width: var(--md-comp-slider-handle-width);
    background-color: transparent;
}

.md-slider__native::-moz-range-track {
    appearance: none;
}

.md-slider__native::-moz-range-progress {
    appearance: none;
}

.md-slider__native::-moz-range-thumb {
    appearance: none;
    border: 0;
    border-radius: 0;

    height: var(--md-comp-slider-handle-height);
    width: var(--md-comp-slider-handle-width);
    background-color: transparent;
}

.md-slider__icon {
    position: absolute;
    left: calc(14px + (4px - 14px) * var(--md-comp-slider-fraction0));
    z-index: 3;
    pointer-events: none;
    font-size: var(--md-comp-slider-inset-icon-size);
    width: var(--md-comp-slider-inset-icon-size);
    height: var(--md-comp-slider-inset-icon-size);
    color: var(--md-sys-color-on-secondary-container);
}

.md-slider__icon--active {
    color: var(--md-sys-color-on-primary);
}

.md-slider__track {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    left: calc(0px - (var(--md-comp-slider-stop-indicator-size) / 2));
    right: calc(0px - (var(--md-comp-slider-stop-indicator-size) / 2));
    height: var(--md-comp-slider-track-height);
}
.md-slider__track::before,
.md-slider__track::after {
    content: "";
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    border-radius: var(--md-comp-slider-track-shape);
    background-size: calc((100% - var(--md-comp-slider-stop-indicator-size) * 2) / var(--md-comp-slider-stop)) 100%;
}

.md-slider__track::before {
    background-color: var(--md-sys-color-secondary-container);
    background-image: radial-gradient(circle at var(--md-comp-slider-stop-indicator-size) center, var(--md-sys-color-on-secondary-container) 0, var(--md-sys-color-on-secondary-container) calc(var(--md-comp-slider-stop-indicator-size) / 2), transparent calc(var(--md-comp-slider-stop-indicator-size) / 2));
}

.md-slider__track::after {
    background-color: var(--md-sys-color-primary);
    clip-path: inset(0 calc(100% - var(--md-comp-slider-percentage0)) 0 0);
}

.md-slider--discrete {
    .md-slider__track::after {
        background-image: radial-gradient(circle at var(--md-comp-slider-stop-indicator-size) center, var(--md-sys-color-on-primary) 0, var(--md-sys-color-on-primary) calc(var(--md-comp-slider-stop-indicator-size) / 2), transparent calc(var(--md-comp-slider-stop-indicator-size) / 2));
    }
}

.md-slider__thumb {
    height: var(--md-comp-slider-handle-height);
    width: var(--md-comp-slider-handle-width);
    border-radius: var(--md-sys-shape-corner-full);
    background-color: var(--md-sys-color-primary);
    box-shadow: 0 0 0 6px var(--md-sys-color-background);
    position: absolute;
    left: calc(var(--md-comp-slider-fraction0) * (100% - var(--md-comp-slider-handle-width)) + (var(--md-comp-slider-handle-width) / 2));
    transform: translate3d(-50%, 0, 0);
    z-index: 4;
    pointer-events: none;
}

.md-slider__label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--md-comp-slider-label-container-height);
    width: var(--md-comp-slider-label-container-width);
    padding: 12px 16px;
    border-radius: var(--md-sys-shape-corner-full);
    background-color: var(--md-sys-color-inverse-surface);
    color: var(--md-sys-color-inverse-on-surface);
    position: absolute;
    z-index: 5;
    pointer-events: none;

    transition-duration: var(--md-sys-motion-duration-short3);
    transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
}

.md-slider__native:is(:active, :focus-visible) + .md-slider__thumb + .md-slider__label {
    transition-duration: var(--md-sys-motion-duration-short2);
    transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
}

.md-slider__native:focus-visible + .md-slider__thumb {
    outline: 2px solid var(--md-sys-color-outline);
    outline-offset: 2px;
}

// .md-slider--standard {}

.md-slider--horizontal {
    .md-slider__label {
        bottom: calc(100% - (var(--md-comp-slider-label-container-height) / 2));
        left: calc(var(--md-comp-slider-fraction0) * (100% - var(--md-comp-slider-handle-width)) + (var(--md-comp-slider-handle-width) / 2));
        transform: translate3d(-50%, 0, 0) scale3d(0, 0, 0);

        will-change: bottom, transform;
        transition-property: bottom, transform;
    }

    .md-slider__native:is(:active, :focus-visible) + .md-slider__thumb + .md-slider__label {
        bottom: 100%;
        transform: translate3d(-50%, 0, 0) scale3d(1, 1, 1);
    }

    &.md-slider--centered {
        .md-slider__track::after {
            clip-path: inset(0 calc(100% - var(--md-comp-slider-percentage1)) 0 var(--md-comp-slider-percentage0));
        }
    }

    &.md-slider--range {
        .md-slider__native0 {
            clip-path: inset(0 calc(100% - (40px / 2 + (100% - 40px) * (var(--md-comp-slider-fraction0) + (var(--md-comp-slider-fraction1) - var(--md-comp-slider-fraction0)) / 2))) 0 0);
        }

        .md-slider__native1 {
            clip-path: inset(0 0 0 calc(40px / 2 + (100% - 40px) * (var(--md-comp-slider-fraction0) + (var(--md-comp-slider-fraction1) - var(--md-comp-slider-fraction0)) / 2)));
        }

        .md-slider__track::after {
            clip-path: inset(0 calc(100% - var(--md-comp-slider-percentage1)) 0 var(--md-comp-slider-percentage0));
        }

        .md-slider__thumb1 {
            left: calc(var(--md-comp-slider-fraction1) * (100% - var(--md-comp-slider-handle-width)) + (var(--md-comp-slider-handle-width) / 2));
        }

        .md-slider__label1 {
            left: calc(var(--md-comp-slider-fraction1) * (100% - var(--md-comp-slider-handle-width)) + (var(--md-comp-slider-handle-width) / 2));
        }
    }
}

.md-slider--vertical {
    height: 192px;
    width: calc(var(--md-comp-slider-handle-height) + (4px * 2));
    margin: calc(var(--md-comp-slider-stop-indicator-size) / 2) 0;

    .md-slider__native {
        writing-mode: vertical-lr;
        direction: rtl;
    }

    .md-slider__native::-webkit-slider-thumb {
        width: var(--md-comp-slider-handle-height);
        height: var(--md-comp-slider-handle-width);
    }

    .md-slider__native::-moz-range-thumb {
        width: var(--md-comp-slider-handle-height);
        height: var(--md-comp-slider-handle-width);
    }

    .md-slider__icon {
        left: auto;
        bottom: calc(14px + (4px - 14px) * var(--md-comp-slider-fraction0));
    }

    .md-slider__track {
        left: auto;
        right: auto;
        height: auto;

        top: calc(0px - (var(--md-comp-slider-stop-indicator-size) / 2));
        bottom: calc(0px - (var(--md-comp-slider-stop-indicator-size) / 2));
        width: var(--md-comp-slider-track-height);
    }
    .md-slider__track::before,
    .md-slider__track::after {
        background-size: 100% calc((100% - var(--md-comp-slider-stop-indicator-size) * 2) / var(--md-comp-slider-stop));
    }

    .md-slider__track::before {
        background-image: radial-gradient(circle at center var(--md-comp-slider-stop-indicator-size), var(--md-sys-color-on-secondary-container) 0, var(--md-sys-color-on-secondary-container) calc(var(--md-comp-slider-stop-indicator-size) / 2), transparent calc(var(--md-comp-slider-stop-indicator-size) / 2));
    }

    .md-slider__track::after {
        clip-path: inset(calc(100% - var(--md-comp-slider-percentage0)) 0 0 0);
    }

    &.md-slider--discrete {
        .md-slider__track::after {
            background-image: radial-gradient(circle at center var(--md-comp-slider-stop-indicator-size), var(--md-sys-color-on-primary) 0, var(--md-sys-color-on-primary) calc(var(--md-comp-slider-stop-indicator-size) / 2), transparent calc(var(--md-comp-slider-stop-indicator-size) / 2));
        }
    }

    .md-slider__thumb {
        width: var(--md-comp-slider-handle-height);
        height: var(--md-comp-slider-handle-width);
        left: auto;
        bottom: calc(var(--md-comp-slider-fraction0) * (100% - var(--md-comp-slider-handle-width)) + (var(--md-comp-slider-handle-width) / 2));
        transform: translate3d(0, 50%, 0);
    }

    .md-slider__label {
        left: calc(100% - (var(--md-comp-slider-label-container-height) / 2));
        bottom: calc(var(--md-comp-slider-fraction0) * (100% - var(--md-comp-slider-handle-width)) + (var(--md-comp-slider-handle-width) / 2));
        transform: translate3d(0, 50%, 0) scale3d(0, 0, 0);

        will-change: left, transform;
        transition-property: left, transform;
    }

    .md-slider__native:is(:active, :focus-visible) + .md-slider__thumb + .md-slider__label {
        left: 100%;
        transform: translate3d(0, 50%, 0) scale3d(1, 1, 1);
    }

    .md-slider__stops {
        flex-direction: column-reverse;
        width: auto;
        height: 100%;
    }

    &.md-slider--centered {
        .md-slider__track::after {
            clip-path: inset(calc(100% - var(--md-comp-slider-percentage1)) 0 var(--md-comp-slider-percentage0) 0);
        }
    }

    &.md-slider--range {
        .md-slider__native0 {
            clip-path: inset(calc(100% - (40px / 2 + (100% - 40px) * (var(--md-comp-slider-fraction0) + (var(--md-comp-slider-fraction1) - var(--md-comp-slider-fraction0)) / 2))) 0 0 0);
        }

        .md-slider__native1 {
            clip-path: inset(0 0 calc(40px / 2 + (100% - 40px) * (var(--md-comp-slider-fraction0) + (var(--md-comp-slider-fraction1) - var(--md-comp-slider-fraction0)) / 2)) 0);
        }

        .md-slider__track::after {
            clip-path: inset(calc(100% - var(--md-comp-slider-percentage1)) 0 var(--md-comp-slider-percentage0) 0);
        }

        .md-slider__thumb1 {
            bottom: calc(var(--md-comp-slider-fraction1) * (100% - var(--md-comp-slider-handle-width)) + (var(--md-comp-slider-handle-width) / 2));
        }

        .md-slider__label1 {
            bottom: calc(var(--md-comp-slider-fraction1) * (100% - var(--md-comp-slider-handle-width)) + (var(--md-comp-slider-handle-width) / 2));
        }
    }
}

.md-slider--extra-small {
    --md-comp-slider-track-height: 16px;
    --md-comp-slider-label-container-height: 44px;
    --md-comp-slider-label-container-width: 48px;
    --md-comp-slider-handle-height: 44px;
    --md-comp-slider-handle-width: 4px;
    --md-comp-slider-track-shape: 8px;
    --md-comp-slider-inset-icon-size: 0px;
}

.md-slider--small {
    --md-comp-slider-track-height: 24px;
    --md-comp-slider-label-container-height: 44px;
    --md-comp-slider-label-container-width: 48px;
    --md-comp-slider-handle-height: 44px;
    --md-comp-slider-handle-width: 4px;
    --md-comp-slider-track-shape: 8px;
    --md-comp-slider-inset-icon-size: 0px;
}

.md-slider--medium {
    --md-comp-slider-track-height: 40px;
    --md-comp-slider-label-container-height: 44px;
    --md-comp-slider-label-container-width: 48px;
    --md-comp-slider-handle-height: 52px;
    --md-comp-slider-handle-width: 4px;
    --md-comp-slider-track-shape: 12px;
    --md-comp-slider-inset-icon-size: 24px;
}

.md-slider--large {
    --md-comp-slider-track-height: 56px;
    --md-comp-slider-label-container-height: 44px;
    --md-comp-slider-label-container-width: 48px;
    --md-comp-slider-handle-height: 68px;
    --md-comp-slider-handle-width: 4px;
    --md-comp-slider-track-shape: 16px;
    --md-comp-slider-inset-icon-size: 24px;
}

.md-slider--extra-large {
    --md-comp-slider-track-height: 96px;
    --md-comp-slider-label-container-height: 44px;
    --md-comp-slider-label-container-width: 48px;
    --md-comp-slider-handle-height: 108px;
    --md-comp-slider-handle-width: 4px;
    --md-comp-slider-track-shape: 28px;
    --md-comp-slider-inset-icon-size: 32px;
}
