.md-switch {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 52px;
    height: 32px;
    position: relative;
}
.md-switch__native {
    appearance: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    z-index: 1;

    &:checked {
        + .md-switch__track {
            background: var(--md-sys-color-primary);
            border-color: var(--md-sys-color-primary);
            .md-switch__thumb {
                width: 24px;
                height: 24px;
                background: var(--md-sys-color-on-primary);
                color: var(--md-sys-color-primary);
                left: 22px;
                --md-ripple-diameter: 166.66666666666669%;
            }
        }
        &:active {
            + .md-switch__track {
                .md-switch__thumb {
                    left: 20px;
                }
            }
        }
    }
    &:not(:checked) {
        &:active {
            + .md-switch__track {
                .md-switch__thumb {
                    left: 0;
                }
            }
        }
    }
    &:active {
        + .md-switch__track {
            .md-switch__thumb {
                width: 28px;
                height: 28px;
                --md-ripple-diameter: 142.85714285714286%;
            }
        }
    }
}
.md-switch__track {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 52px;
    height: 32px;
    border: 2px solid var(--md-sys-color-outline);
    background: var(--md-sys-color-surface-container-highest);
    border-radius: 16px;
    position: relative;
    transition-property: background, color, border;
    transition-duration: var(--md-sys-motion-duration-short2);
    transition-timing-function: var(--md-sys-motion-easing-standard-accelerate);
}
.md-switch__thumb {
    @extend .md-icon;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--md-sys-color-outline);
    color: var(--md-sys-color-on-primary);
    position: absolute;
    left: 6px;
    transition-property: width, height, left, background, color, border;
    transition-duration: var(--md-sys-motion-duration-short2);
    transition-timing-function: var(--md-sys-motion-easing-standard-accelerate);
    --md-ripple-diameter: 250%;
    
    &:not(:empty){
        width: 24px;
        height: 24px;
        left: 2px;
        --md-ripple-diameter: 166.66666666666669%;
    }
}
