.md-switch {
    position: relative;
}

.md-switch__native {
    appearance: none;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: transparent;
    color: transparent;

    &:checked {
        + .md-switch__track {
            background: var(--md-sys-color-primary);
            border-color: var(--md-sys-color-primary);

            .md-switch__thumb {
                height: 24px;
                border-radius: 12px;
                width: 24px;
                background: var(--md-sys-color-on-primary);
                left: 22px;
            }
        }

        &:active {
            + .md-switch__track {
                .md-switch__thumb {
                    left: 20px;
                }
            }
        }
    }

    &:active {
        + .md-switch__track {
            .md-switch__thumb {
                height: 28px;
                border-radius: 14px;
                width: 28px;
                left: 0px;
            }
        }
    }
}

.md-switch__track {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 32px;
    border-radius: 16px;
    width: 52px;
    border: 2px solid var(--md-sys-color-outline);
    position: relative;
    transition-property: all;
    transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
    transition-duration: var(--md-sys-motion-duration-short2);
}

.md-switch__thumb {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 16px;
    border-radius: 8px;
    width: 16px;
    background: var(--md-sys-color-outline);
    position: absolute;
    left: 6px;
    transition-property: all;
    transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
    transition-duration: var(--md-sys-motion-duration-short2);

    .md-ripple__layer{
        width: 40px !important;
    }
}
