/* block */
.md-block {
    display: flex;
    min-width: 0;
    min-height: 0;
    padding: 8px 16px;
    // background-color: var(--md-sys-color-surface-container-lowest);
    // color: var(--md-sys-color-on-surface);
}
.md-block__inner {
    flex: 1;
    display: flex;
    align-items: center;
    min-width: 0;
    min-height: 0;
    gap: 0 16px;
}
.md-block__section {
    display: inline-flex;
    min-width: 0;
    min-height: 0;
    gap: 0 16px;
}
.md-block__section--center {
    flex: 1;
    flex-direction: column;
}
.md-block__section--end {
    margin-left: auto;
    .md-block__video {
        height: 64px;
        margin-left: 0;
        margin-right: -16px;
    }
}
.md-block__avatar {
    width: 40px;
    height: 40px;
}
.md-block__image {
    width: 56px;
    height: 56px;
}
.md-block__video {
    height: 64px;
    margin: 4px 0 4px -16px;
}
.md-block__headline {
    @include typescale-body-large();
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--md-sys-color-on-surface);
}
.md-block__supporting-text {
    @include typescale-body-medium();
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--md-sys-color-on-surface-variant);
}
.md-block {
    min-height: 56px;
}
.md-block--two-line {
    min-height: 72px;
}
.md-block--three-line {
    min-height: 88px;
    padding-top: 12px;
    padding-bottom: 12px;
    .md-block__inner {
        align-items: flex-start;
    }
    .md-block__video {
        margin-top: 0;
        margin-bottom: 0;
    }
}
/* pane */
.md-pane {
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    max-width: 100%;
    max-height: 100%;
    border-radius: var(--md-sys-shape-corner-none);
    background-color: var(--md-sys-color-surface-container-lowest);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level0);
}
.md-pane__header {
    display: flex;
    align-items: center;
    padding: 16px;
    border-radius: inherit;
    + .md-pane__wrapper {
        margin-top: -16px;
    }
}
.md-pane__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    border-radius: inherit;
}
.md-pane__body {
    flex: 1;
    padding: 0 16px;
    margin: 16px 0;
    border-radius: inherit;
    overflow: auto;
    + .md-pane__footer {
        margin-top: -16px;
    }
}
.md-pane__footer {
    display: flex;
    align-items: center;
    padding: 16px;
    margin-top: auto;
    border-radius: inherit;
    .md-block__section--start {
        flex: 1;
        gap: 0 8px;
    }
}
/* sheet */
@keyframes _sheetNorthIn {
    0% {
        margin-top: calc(0px - var(--md-comp-pane-height, 100vh));
    }
    100% {
        margin-top: 0;
    }
}
@keyframes _sheetNorthOut {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: calc(0px - var(--md-comp-pane-height, 100vh));
    }
}
@keyframes _sheetSouthIn {
    0% {
        margin-bottom: calc(0px - var(--md-comp-pane-height, 100vh));
    }
    100% {
        margin-bottom: 0;
    }
}
@keyframes _sheetSouthOut {
    0% {
        margin-bottom: 0;
    }
    100% {
        margin-bottom: calc(0px - var(--md-comp-pane-height, 100vh));
    }
}
@keyframes _sheetWestIn {
    0% {
        margin-left: calc(0px - var(--md-comp-pane-width, 100vh));
    }
    100% {
        margin-left: 0;
    }
}
@keyframes _sheetWestOut {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: calc(0px - var(--md-comp-pane-width, 100vh));
    }
}
@keyframes _sheetEastIn {
    0% {
        margin-right: calc(0px - var(--md-comp-pane-width, 100vh));
    }
    100% {
        margin-right: 0;
    }
}
@keyframes _sheetEastOut {
    0% {
        margin-right: 0;
    }
    100% {
        margin-right: calc(0px - var(--md-comp-pane-width, 100vh));
    }
}
@keyframes _sheetNorthModalIn {
    0% {
        transform: translate3d(0, -100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes _sheetNorthModalOut {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, -100%, 0);
    }
}
@keyframes _sheetEastModalIn {
    0% {
        transform: translate3d(100%, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes _sheetEastModalOut {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(100%, 0, 0);
    }
}
@keyframes _sheetSouthModalIn {
    0% {
        transform: translate3d(0, 100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes _sheetSouthModalOut {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, 100%, 0);
    }
}
@keyframes _sheetWestModalIn {
    0% {
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes _sheetWestModalOut {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}
@keyframes _dialogIn {
    0% {
        visibility: visible;
        height: calc(var(--md-comp-pane-height) - 88px);
        transform: translate3d(-50%, calc(-50% - 88px), 0);
        opacity: 0;
    }
    100% {
        height: var(--md-comp-pane-height);
        transform: translate3d(-50%, -50%, 0);
        opacity: 1;
    }
}
@keyframes _dialogOut {
    0% {
        visibility: visible;
        transform: translate3d(-50%, -50%, 0);
        opacity: 1;
    }
    100% {
        visibility: hidden;
        transform: translate3d(-50%, calc(-50% - 88px), 0);
        opacity: 0;
    }
}
@keyframes _dialogBodyIn {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}
@keyframes _dialogBodyOut {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}
@keyframes _dialogFullScreenIn {
    0% {
        visibility: visible;
        transform: translate3d(-50%, -100%, 0);
    }
    100% {
        transform: translate3d(-50%, -50%, 0);
    }
}
@keyframes _dialogFullScreenOut {
    0% {
        visibility: visible;
        transform: translate3d(-50%, -50%, 0);
    }
    100% {
        visibility: hidden;
        transform: translate3d(-50%, 50%, 0);
    }
}
@keyframes _menuIn {
    0% {
        visibility: visible;
        height: 64px;
        opacity: 0;
    }
    100% {
        height: var(--md-comp-pane-height);
        opacity: 1;
    }
}
@keyframes _menuOut {
    0% {
        visibility: visible;
        height: var(--md-comp-pane-height);
        opacity: 1;
    }
    100% {
        visibility: hidden;
        height: 64px;
        opacity: 0;
    }
}
@keyframes _menuBodyIn {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}
@keyframes _menuBodyOut {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}
@keyframes _pickerIn {
    0% {
        visibility: visible;
        height: calc(var(--md-comp-pane-height) - 96px);
        transform: translate3d(0, 48px, 0);
        opacity: 0;
    }
    100% {
        height: var(--md-comp-pane-height);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
@keyframes _pickerOut {
    0% {
        visibility: visible;
        height: var(--md-comp-pane-height);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    100% {
        visibility: hidden;
        height: calc(var(--md-comp-pane-height) - 96px);
        transform: translate3d(0, 48px, 0);
        opacity: 0;
    }
}
@keyframes _pickerBodyIn {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}
@keyframes _pickerBodyOut {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}
@keyframes _tooltipIn {
    0% {
        visibility: visible;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes _tooltipOut {
    0% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}
@keyframes _tooltipBodyIn {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}
@keyframes _tooltipBodyOut {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}
@keyframes _snackbarIn {
    0% {
        visibility: visible;
        height: 0;
        opacity: 0;
    }
    100% {
        height: var(--md-comp-pane-height);
        opacity: 1;
    }
}
@keyframes _snackbarOut {
    0% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}
@keyframes _snackbarBodyIn {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}
@keyframes _snackbarBodyOut {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}
/* picker */
.md-pane--picker {
    display: inline-flex;
    width: 360px;
    height: 456px;
    border-radius: var(--md-sys-shape-corner-extra-large);
    background-color: var(--md-sys-color-surface-container-highest);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level0);
    position: absolute;
    z-index: 7;
    visibility: hidden;
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-emphasized));
    animation-duration: var(--md-sys-motion-duration-short4);
    animation-name: var(--md-comp-pane-animation, _pickerOut);
    &[open] {
        visibility: visible;
        animation-name: var(--md-comp-pane-animation, _pickerIn);
        .md-pane__body {
            overflow: auto;
            animation-name: var(--md-comp-pane-animation, _pickerBodyIn);
        }
    }
    .md-pane__body {
        padding: 0;
        margin: 0;
        border-radius: inherit;
        overflow: hidden;
        animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-emphasized));
        animation-duration: var(--md-sys-motion-duration-short4);
        animation-name: var(--md-comp-pane-animation, _dialogBodyOut);
    }
}
