/* block */
.md-block {
    display: flex;
    min-width: 0;
    min-height: 0;
    padding: 8px 16px;
    // background-color: var(--md-sys-color-surface-container-lowest);
    // color: var(--md-sys-color-on-surface);
}
.md-block__inner {
    flex: 1;
    display: flex;
    align-items: center;
    min-width: 0;
    min-height: 0;
    gap: 0 16px;
}
.md-block__section {
    display: inline-flex;
    min-width: 0;
    min-height: 0;
    gap: 0 16px;
}
.md-block__section--start {
    align-items: center;
}
.md-block__section--center {
    flex: 1;
    flex-direction: column;
}
.md-block__section--end {
    margin-left: auto;
    .md-block__video {
        height: 64px;
        margin-left: 0;
        margin-right: -16px;
    }
}
.md-block__avatar {
    width: 40px;
    height: 40px;
}
.md-block__image {
    width: 56px;
    height: 56px;
}
.md-block__video {
    height: 64px;
    margin: 4px 0 4px -16px;
}
.md-block__headline {
    @include typescale-body-large();
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--md-sys-color-on-surface);
}
.md-block__supporting-text {
    @include typescale-body-medium();
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--md-sys-color-on-surface-variant);
}
.md-block {
    min-height: 56px;
}
.md-block--two-line {
    min-height: 72px;
}
.md-block--three-line {
    min-height: 88px;
    padding-top: 12px;
    padding-bottom: 12px;
    .md-block__inner {
        align-items: flex-start;
    }
    .md-block__video {
        margin-top: 0;
        margin-bottom: 0;
    }
}
/* pane */
.md-pane {
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    max-width: 100%;
    max-height: 100%;
    border-radius: var(--md-sys-shape-corner-none);
    background-color: var(--md-sys-color-surface-container-lowest);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level0);
}
.md-pane__header {
    display: flex;
    align-items: center;
    padding: 16px;
    border-radius: inherit;
    + .md-pane__wrapper {
        margin-top: -16px;
    }
}
.md-pane__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    border-radius: inherit;
}
.md-pane__body {
    flex: 1;
    padding: 0 16px;
    margin: 16px 0;
    border-radius: inherit;
    overflow: auto;
    + .md-pane__footer {
        margin-top: -16px;
    }
}
.md-pane__footer {
    display: flex;
    align-items: center;
    padding: 16px;
    margin-top: auto;
    border-radius: inherit;
    .md-block__section--start {
        flex: 1;
        gap: 0 8px;
    }
}
