.md-block {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 0 16px;
    background-color: var(--md-sys-color-surface-container-lowest);
    color: var(--md-sys-color-on-surface-variant);
}
.md-block__avatar {
    width: 40px;
    height: 40px;
}
.md-block__image {
    width: 56px;
    height: 56px;
}
.md-block__video {
    height: 64px;
    margin: 4px 0;
    margin-left: -16px;
}
.md-block__group {
    flex: 1;
    display: flex;
    flex-direction: column;
    ~ .md-block__video {
        margin-left: 0;
        margin-right: -16px;
    }
}
.md-block__headline {
    @include typescale-body-large();
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--md-sys-color-on-surface);
}
.md-block__supporting-text {
    @include typescale-body-medium();
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--md-sys-color-on-surface-variant);
}
.md-block {
    min-height: 56px;
}
.md-block--two-line {
    min-height: 72px;
}
.md-block--three-line {
    min-height: 88px;
    padding-top: 12px;
    padding-bottom: 12px;
    align-items: flex-start;
    .md-block__video {
        margin-top: 0;
        margin-bottom: 0;
    }
}
