/* scheme */
@mixin scheme-light() {
    @media (prefers-color-scheme: light) {
        @content;
    }
}
@mixin scheme-dark() {
    @media (prefers-color-scheme: dark) {
        @content;
    }
}
/* breakpoint */
@mixin breakpoint-compact() {
    @media (max-width: 599px) {
        @content;
    }
}
@mixin breakpoint-medium() {
    @media (min-width: 600px) and (max-width: 839px) {
        @content;
    }
}
@mixin breakpoint-expanded() {
    @media (min-width: 840px) {
        @content;
    }
}
/* container */
@mixin container-compact() {
    @container (width < 599px) {
        @content;
    }
}
@mixin container-medium() {
    @container (width > 600px) and (width < 839px) {
        @content;
    }
}
@mixin container-expanded() {
    @container (width > 840px) {
        @content;
    }
}
/* typescale */
@mixin typescale-display-large() {
    font-size: var(--md-sys-typescale-display-large-size);
    line-height: var(--md-sys-typescale-display-large-line-height);
    letter-spacing: var(--md-sys-typescale-display-large-tracking);
    font-weight: var(--md-sys-typescale-display-large-weight);
    font-family: var(--md-sys-typescale-display-large-font);
}
@mixin typescale-display-medium() {
    font-size: var(--md-sys-typescale-display-medium-size);
    line-height: var(--md-sys-typescale-display-medium-line-height);
    letter-spacing: var(--md-sys-typescale-display-medium-tracking);
    font-weight: var(--md-sys-typescale-display-medium-weight);
    font-family: var(--md-sys-typescale-display-medium-font);
}
@mixin typescale-display-small() {
    font-size: var(--md-sys-typescale-display-small-size);
    line-height: var(--md-sys-typescale-display-small-line-height);
    letter-spacing: var(--md-sys-typescale-display-small-tracking);
    font-weight: var(--md-sys-typescale-display-small-weight);
    font-family: var(--md-sys-typescale-display-small-font);
}
@mixin typescale-headline-large() {
    font-size: var(--md-sys-typescale-headline-large-size);
    line-height: var(--md-sys-typescale-headline-large-line-height);
    letter-spacing: var(--md-sys-typescale-headline-large-tracking);
    font-weight: var(--md-sys-typescale-headline-large-weight);
    font-family: var(--md-sys-typescale-headline-large-font);
}
@mixin typescale-headline-medium() {
    font-size: var(--md-sys-typescale-headline-medium-size);
    line-height: var(--md-sys-typescale-headline-medium-line-height);
    letter-spacing: var(--md-sys-typescale-headline-medium-tracking);
    font-weight: var(--md-sys-typescale-headline-medium-weight);
    font-family: var(--md-sys-typescale-headline-medium-font);
}
@mixin typescale-headline-small() {
    font-size: var(--md-sys-typescale-headline-small-size);
    line-height: var(--md-sys-typescale-headline-small-line-height);
    letter-spacing: var(--md-sys-typescale-headline-small-tracking);
    font-weight: var(--md-sys-typescale-headline-small-weight);
    font-family: var(--md-sys-typescale-headline-small-font);
}
@mixin typescale-title-large() {
    font-size: var(--md-sys-typescale-title-large-size);
    line-height: var(--md-sys-typescale-title-large-line-height);
    letter-spacing: var(--md-sys-typescale-title-large-tracking);
    font-weight: var(--md-sys-typescale-title-large-weight);
    font-family: var(--md-sys-typescale-title-large-font);
}
@mixin typescale-title-medium() {
    font-size: var(--md-sys-typescale-title-medium-size);
    line-height: var(--md-sys-typescale-title-medium-line-height);
    letter-spacing: var(--md-sys-typescale-title-medium-tracking);
    font-weight: var(--md-sys-typescale-title-medium-weight);
    font-family: var(--md-sys-typescale-title-medium-font);
}
@mixin typescale-title-small() {
    font-size: var(--md-sys-typescale-title-small-size);
    line-height: var(--md-sys-typescale-title-small-line-height);
    letter-spacing: var(--md-sys-typescale-title-small-tracking);
    font-weight: var(--md-sys-typescale-title-small-weight);
    font-family: var(--md-sys-typescale-title-small-font);
}
@mixin typescale-body-large() {
    font-size: var(--md-sys-typescale-body-large-size);
    line-height: var(--md-sys-typescale-body-large-line-height);
    letter-spacing: var(--md-sys-typescale-body-large-tracking);
    font-weight: var(--md-sys-typescale-body-large-weight);
    font-family: var(--md-sys-typescale-body-large-font);
}
@mixin typescale-body-medium() {
    font-size: var(--md-sys-typescale-body-medium-size);
    line-height: var(--md-sys-typescale-body-medium-line-height);
    letter-spacing: var(--md-sys-typescale-body-medium-tracking);
    font-weight: var(--md-sys-typescale-body-medium-weight);
    font-family: var(--md-sys-typescale-body-medium-font);
}
@mixin typescale-body-small() {
    font-size: var(--md-sys-typescale-body-small-size);
    line-height: var(--md-sys-typescale-body-small-line-height);
    letter-spacing: var(--md-sys-typescale-body-small-tracking);
    font-weight: var(--md-sys-typescale-body-small-weight);
    font-family: var(--md-sys-typescale-body-small-font);
}
@mixin typescale-label-large() {
    font-size: var(--md-sys-typescale-label-large-size);
    line-height: var(--md-sys-typescale-label-large-line-height);
    letter-spacing: var(--md-sys-typescale-label-large-tracking);
    font-weight: var(--md-sys-typescale-label-large-weight);
    font-family: var(--md-sys-typescale-label-large-font);
}
@mixin typescale-label-medium() {
    font-size: var(--md-sys-typescale-label-medium-size);
    line-height: var(--md-sys-typescale-label-medium-line-height);
    letter-spacing: var(--md-sys-typescale-label-medium-tracking);
    font-weight: var(--md-sys-typescale-label-medium-weight);
    font-family: var(--md-sys-typescale-label-medium-font);
}
@mixin typescale-label-small() {
    font-size: var(--md-sys-typescale-label-small-size);
    line-height: var(--md-sys-typescale-label-small-line-height);
    letter-spacing: var(--md-sys-typescale-label-small-tracking);
    font-weight: var(--md-sys-typescale-label-small-weight);
    font-family: var(--md-sys-typescale-label-small-font);
}
@mixin layout-border-item-north() {
    grid-area: 1 / 1 / 2 / 4;
}
@mixin layout-border-item-east() {
    grid-area: 2 / 3 / 3 / 4;
}
@mixin layout-border-item-south() {
    grid-area: 3 / 1 / 4 / 4;
}
@mixin layout-border-item-west() {
    grid-area: 2 / 1 / 3 / 2;
}
@mixin layout-border-item-center() {
    grid-area: 2 / 2 / 3 / 3;
}
@mixin layout-border-item-full-west() {
    grid-area: 1 / 1 / 4 / 2;
}
@mixin layout-border-item-full-east() {
    grid-area: 1 / 3 / 4 / 4;
}
@mixin layout-border-item-full() {
    grid-area: 1 / 1 / 4 / 4;
}
@keyframes rippleIn {
    0% {
        width: 0;
    }
}
@keyframes rippleOut {
    0% {
        opacity: 10%;
    }
}
@keyframes sheetNorthIn {
    0% {
        margin-top: calc(0px - var(--md-comp-pane-height, 100vh));
    }
    100% {
        margin-top: 0;
    }
}
@keyframes sheetNorthOut {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: calc(0px - var(--md-comp-pane-height, 100vh));
    }
}
@keyframes sheetSouthIn {
    0% {
        margin-bottom: calc(0px - var(--md-comp-pane-height, 100vh));
    }
    100% {
        margin-bottom: 0;
    }
}
@keyframes sheetSouthOut {
    0% {
        margin-bottom: 0;
    }
    100% {
        margin-bottom: calc(0px - var(--md-comp-pane-height, 100vh));
    }
}
@keyframes sheetWestIn {
    0% {
        margin-left: calc(0px - var(--md-comp-pane-width, 100vh));
    }
    100% {
        margin-left: 0;
    }
}
@keyframes sheetWestOut {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: calc(0px - var(--md-comp-pane-width, 100vh));
    }
}
@keyframes sheetEastIn {
    0% {
        margin-right: calc(0px - var(--md-comp-pane-width, 100vh));
    }
    100% {
        margin-right: 0;
    }
}
@keyframes sheetEastOut {
    0% {
        margin-right: 0;
    }
    100% {
        margin-right: calc(0px - var(--md-comp-pane-width, 100vh));
    }
}
@keyframes sheetNorthModalIn {
    0% {
        transform: translate3d(0, -100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes sheetNorthModalOut {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, -100%, 0);
    }
}
@keyframes sheetEastModalIn {
    0% {
        transform: translate3d(100%, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes sheetEastModalOut {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(100%, 0, 0);
    }
}
@keyframes sheetSouthModalIn {
    0% {
        transform: translate3d(0, 100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes sheetSouthModalOut {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, 100%, 0);
    }
}
@keyframes sheetWestModalIn {
    0% {
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes sheetWestModalOut {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}
@keyframes dialogIn {
    0% {
        visibility: visible;
        height: calc(var(--md-comp-pane-height) - 88px);
        transform: translate3d(-50%, calc(-50% - 88px), 0);
        opacity: 0;
    }
    100% {
        height: var(--md-comp-pane-height);
        transform: translate3d(-50%, -50%, 0);
        opacity: 1;
    }
}
@keyframes dialogOut {
    0% {
        visibility: visible;
        transform: translate3d(-50%, -50%, 0);
        opacity: 1;
    }
    100% {
        visibility: hidden;
        transform: translate3d(-50%, calc(-50% - 88px), 0);
        opacity: 0;
    }
}
@keyframes dialogBodyIn {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}
@keyframes dialogBodyOut {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}
@keyframes dialogFullScreenIn {
    0% {
        visibility: visible;
        transform: translate3d(-50%, -100%, 0);
    }
    100% {
        transform: translate3d(-50%, -50%, 0);
    }
}
@keyframes dialogFullScreenOut {
    0% {
        visibility: visible;
        transform: translate3d(-50%, -50%, 0);
    }
    100% {
        visibility: hidden;
        transform: translate3d(-50%, 50%, 0);
    }
}
@keyframes menuIn {
    0% {
        visibility: visible;
        height: 64px;
        opacity: 0;
    }
    100% {
        height: var(--md-comp-pane-height);
        opacity: 1;
    }
}
@keyframes menuOut {
    0% {
        visibility: visible;
        height: var(--md-comp-pane-height);
        opacity: 1;
    }
    100% {
        visibility: hidden;
        height: 64px;
        opacity: 0;
    }
}
@keyframes menuBodyIn {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}
@keyframes menuBodyOut {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}
@keyframes pickerIn {
    0% {
        visibility: visible;
        height: calc(var(--md-comp-pane-height) - 96px);
        transform: translate3d(0, 48px, 0);
        opacity: 0;
    }
    100% {
        height: var(--md-comp-pane-height);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
@keyframes pickerOut {
    0% {
        visibility: visible;
        height: var(--md-comp-pane-height);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    100% {
        visibility: hidden;
        height: calc(var(--md-comp-pane-height) - 96px);
        transform: translate3d(0, 48px, 0);
        opacity: 0;
    }
}
@keyframes pickerBodyIn {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}
@keyframes pickerBodyOut {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}
@keyframes tooltipIn {
    0% {
        visibility: visible;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes tooltipOut {
    0% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}
@keyframes tooltipBodyIn {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}
@keyframes tooltipBodyOut {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}
@keyframes snackbarIn {
    0% {
        visibility: visible;
        height: 0;
        opacity: 0;
    }
    100% {
        height: var(--md-comp-pane-height);
        opacity: 1;
    }
}
@keyframes snackbarOut {
    0% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}
@keyframes snackbarBodyIn {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}
@keyframes snackbarBodyOut {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}
