.md-toolbar {
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 0 16px;
    // border-bottom: 1px solid var(--md-sys-color-outline-variant);

    .md-button {
        color: var(--md-sys-color-on-surface-variant);
    }
}

.md-tool{
    display: flex;
    display: inline-flex;
    vertical-align: middle;
    min-height: 56px;
    padding: 8px 16px;
    background-color: var(--md-sys-color-surface-container-lowest);
    color: var(--md-sys-color-on-surface-variant);
}
.md-tool__inner{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0 16px;
}
.md-tool__section{
    display: flex;
    gap: 0 16px;
}
.md-tool__section--start{
    .md-tool__video{
        margin-left: -16px;
    }
}
// .md-tool__icon-button{}
.md-tool__section--center{
    flex: 1;
    flex-direction: column;
}
// .md-tool__headline{}
// .md-tool__checkbox{}
// .md-tool__radio-button{}
// .md-tool__switch{}
.md-tool__avatar{
    width: 40px;
    height: 40px;
}
.md-tool__image{
    width: 56px;
    height: 56px;
}
.md-tool__video{
    height: 64px;
    margin: 4px 0;
}
// .md-tool__supporting-text{}
// .md-tool__icon{}
.md-tool__section--end{
    .md-tool__video{
        margin-right: -16px;
    }
}
// .md-tool__badge{}
.md-tool--vertical{
    .md-tool__inner{
        flex-direction: column;
    }
    .md-tool__section--center{
        justify-content: center;
    }
}