.md-top-app-bar {
    --md-comp-sheet-height: 64px;
    grid-area: north;
    display: inline-flex;
    min-height: var(--md-comp-sheet-height);
    margin-top: calc(0px - var(--md-comp-sheet-height, 100vh));
    border-radius: var(--md-sys-shape-corner-none);
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level0);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-emphasized));
    animation-duration: var(--md-sys-motion-duration-short4);
    animation-name: var(--md-comp-sheet-animation, sheetNorthOut);
    &[open] {
        margin-top: 0;
        animation-name: var(--md-comp-sheet-animation, sheetNorthIn);
    }
    .md-card__header {
        padding: 18px 16px;
        gap: 0 24px;
        > .md-block__group {
            > .md-block__headline {
                @include typescale-title-large();
            }
        }
    }
}
.md-top-app-bar.md-card--center {
    .md-card__header {
        > .md-block__group {
            align-items: center;
        }
    }
}
.md-top-app-bar.md-card--medium {
    --md-comp-sheet-height: 112px;
    .md-card__header {
        flex: 1;
        flex-wrap: wrap;
        align-content: space-between;
        padding: 20px 16px 24px 16px;
        > .md-block__group {
            order: 1;
            flex: 1 0 100%;
            > .md-block__headline {
                @include typescale-headline-small();
            }
        }
    }
}
.md-top-app-bar.md-card--large {
    --md-comp-sheet-height: 152px;
    .md-card__header {
        flex: 1;
        flex-wrap: wrap;
        align-content: space-between;
        padding: 20px 16px 28px 16px;
        > .md-block__group {
            order: 1;
            flex: 1 0 100%;
            > .md-block__headline {
                @include typescale-headline-medium();
            }
        }
    }
}
