/* top app bar */
.md-top-app-bar {
    --md-comp-pane-height: 64px;
    display: inline-flex;
    border-radius: var(--md-sys-shape-corner-none);
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level0);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-emphasized));
    animation-duration: var(--md-sys-motion-duration-short4);
    grid-area: north;
    min-height: var(--md-comp-pane-height);
    margin-top: calc(0px - var(--md-comp-pane-height, 100vh));
    animation-name: var(--md-comp-pane-animation, _sheetNorthOut);
    &[open] {
        margin-top: 0;
        animation-name: var(--md-comp-pane-animation, _sheetNorthIn);
    }
    .md-pane__header {
        padding: 18px 16px;
        border-radius: inherit;
        background-color: inherit;
        color: inherit;
        .md-block__inner {
            gap: 0 24px;
        }
        .md-block__section {
            gap: 0 24px;
        }
        .md-block__headline {
            @include typescale-title-large();
        }
        + .md-pane__wrapper {
            margin-top: -16px;
        }
    }
}
.md-top-app-bar.md-pane--center-aligned {
    --md-comp-pane-height: 64px;
    .md-pane__header {
        .md-block__section--center {
            align-items: center;
        }
    }
}
.md-top-app-bar.md-pane--small {
    --md-comp-pane-height: 64px;
    .md-pane__header {
        .md-block__inner {
            gap: 0 16px;
        }
    }
}
.md-top-app-bar.md-pane--medium {
    --md-comp-pane-height: 112px;
    .md-pane__header {
        height: 100%;
        padding: 20px 16px 24px 16px;
        .md-block__inner {
            height: 100%;
            flex-wrap: wrap;
            align-content: space-between;
        }
        .md-block__section--center {
            flex: 1 0 100%;
            order: 1;
        }
        .md-block__headline {
            @include typescale-headline-medium();
        }
    }
}
.md-top-app-bar.md-pane--large {
    --md-comp-pane-height: 152px;
    .md-pane__header {
        height: 100%;
        padding: 20px 16px 28px 16px;
        .md-block__inner {
            height: 100%;
            flex-wrap: wrap;
            align-content: space-between;
        }
        .md-block__section--center {
            flex: 1 0 100%;
            order: 1;
        }
        .md-block__headline {
            @include typescale-headline-large();
        }
    }
}
