@use "../mixins/mixins.scss";

@keyframes navigation-rail-west-in {
    0% {
        visibility: visible;
        margin-left: calc(0px - var(--md-comp-navigation-rail-width));
    }

    100% {
        margin-left: 0;
    }
}

@keyframes navigation-rail-west-out {
    0% {
        visibility: visible;
        margin-left: 0;
    }

    100% {
        visibility: hidden;
        margin-left: calc(0px - var(--md-comp-navigation-rail-width));
    }
}

@keyframes navigation-rail-west-modal-in {
    0% {
        visibility: visible;
        transform: translate3d(-100%, 0%, 0);
    }

    100% {
        transform: translate3d(0%, 0%, 0);
    }
}

@keyframes navigation-rail-west-modal-out {
    0% {
        visibility: visible;
        transform: translate3d(0%, 0%, 0);
    }

    100% {
        visibility: hidden;
        transform: translate3d(-100%, 0%, 0);
    }
}

.md-navigation-rail {
    --md-comp-navigation-rail-width: 80px;
    display: inline-flex;
    flex-direction: column;
    border-radius: 0;
    background-color: var(--md-sys-color-surface);
    // box-shadow: var(--md-sys-elevation-level0);
    color: var(--md-sys-color-on-surface);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
    animation-duration: var(--md-sys-motion-duration-short4);

    &.md-border__item--west {
        --md-comp-navigation-rail-animation: navigation-rail-west-out;
        width: var(--md-comp-navigation-rail-width);
        margin-left: calc(0px - var(--md-comp-navigation-rail-width));
        animation-name: var(--md-comp-navigation-rail-animation, navigation-rail-west-out);
        visibility: hidden;

        &[open] {
            --md-comp-navigation-rail-animation: navigation-rail-west-in;
            visibility: visible;
            margin-left: 0;
            animation-name: var(--md-comp-navigation-rail-animation, navigation-rail-west-in);
        }
    }
}

.md-navigation-rail__header {
    display: flex;
    align-items: center;
    padding: 24px;
    gap: 0 16px;

    + .md-navigation-rail__container {
        // margin-top: -32px;
        margin-top: 0;
    }
}

.md-navigation-rail__label {
    display: flex;
    flex-direction: column;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.md-navigation-rail__label-primary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mixins.typescale-body-large();
}

.md-navigation-rail__label-secondary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mixins.typescale-body-medium();
    color: var(--md-sys-color-on-surface-variant);
}

.md-navigation-rail__icon-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 16px;
}

.md-navigation-rail__icon-button {
    color: var(--md-sys-color-on-surface-variant);
}

.md-navigation-rail__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
}

.md-navigation-rail__body {
    flex: 1;
    overflow: auto;
    @include mixins.typescale-body-medium();
    color: var(--md-sys-color-on-surface-variant);
    // padding: 0 24px;
    // margin: 24px 0;
    padding: 0;
    margin: 0;

    + .md-navigation-rail__footer {
        // margin-top: -24px;
        margin-top: 0;
    }
}

.md-navigation-rail__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 24px;
    gap: 0 8px;
    margin-top: auto;
}

.md-navigation-rail--modal {
    background-color: var(--md-sys-color-surface-container-low);
    box-shadow: var(--md-sys-elevation-level1);
    position: absolute;
    z-index: 11;

    &.md-border__item--west {
        --md-comp-navigation-rail-animation: navigation-rail-west-modal-out;
        margin-left: 0;
        border-radius: 0 16px 16px 0;
        left: 0;
        top: 0;
        bottom: 0;
        transform: translate3d(-100%, 0%, 0);
        animation-name: var(--md-comp-navigation-rail-animation, navigation-rail-west-modal-out);
        visibility: hidden;

        &[open] {
            --md-comp-navigation-rail-animation: navigation-rail-west-modal-in;
            visibility: visible;
            transform: translate3d(0, 0, 0);
            animation-name: var(--md-comp-navigation-rail-animation, navigation-rail-west-modal-in);
        }
    }
}

.md-navigation-rail__list {
    .md-list__item {
        flex-direction: column;
        justify-content: center;
        padding: 0;
        gap: 0;
        position: relative;
        &[selected] {
            background-color: inherit;
            color: inherit;
            .md-list__icon {
                background-color: var(--md-sys-color-secondary-container);
                color: var(--md-sys-color-on-secondary-container);
                animation-name: var(--md-comp-navigation-bar-animation, navigation-bar-out);
            }
        }
    }
    .md-list__icon {
        width: 56px;
        height: 32px;
        border-radius: 16px;
        animation-name: var(--md-comp-navigation-bar-animation, navigation-bar-in);
        animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
        animation-duration: var(--md-sys-motion-duration-short4);
    }
    .md-list__label {
        margin: 4px 0;
    }
    .md-list__label-primary {
        @include mixins.typescale-label-medium();
    }

    .md-list__badge {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(0%, -50%, 0);
        margin-left: 0px;
        margin-top: -8px;

        &:empty {
            transform: translate3d(-50%, -50%, 0);
            margin-left: 8px;
        }
    }
    .md-list__icon {
        ~ .md-list__label {
            ~ .md-list__badge {
                margin-top: -20px;
            }
        }
    }
}
