@use "../mixins/mixins.scss";

.md-time-picker {
    --md-comp-time-picker-density: -2;
    --md-comp-time-picker-list-item-height: calc(48px + (var(--md-comp-time-picker-density) * 4px));
    --md-comp-time-picker-table-item-height: calc(40px + (var(--md-comp-time-picker-density) * 4px));
    --md-comp-time-picker-circle-item-height: calc(48px + (var(--md-comp-time-picker-density) * 4px));
    --md-comp-time-picker-container-width: calc((var(--md-comp-time-picker-table-item-height) * 7) + (8px * 6) + (4px * 2) + (12px * 2));
    --md-comp-time-picker-container-height: calc((var(--md-comp-time-picker-table-item-height) * 7) + (8px * 6));
    --md-comp-time-picker-width: var(--md-comp-time-picker-container-width);
    --md-comp-time-picker-height: calc(var(--md-comp-time-picker-container-height) + (64px * 2));
    display: inline-flex;
    flex-direction: column;
    width: var(--md-comp-time-picker-width);
    height: var(--md-comp-time-picker-height);
    border-radius: var(--md-sys-shape-corner-large);
    background-color: var(--md-sys-color-surface-container-high);
    position: absolute;
    z-index: 11;
    opacity: 0;
    pointer-events: none;
    --md-comp-time-picker-animation: time-picker-in;
    animation-name: var(--md-comp-time-picker-animation);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
    animation-duration: var(--md-sys-motion-duration-short3);

    .md-time-picker__body {
        animation-name: time-picker-body-in;
        animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
        animation-duration: var(--md-sys-motion-duration-short3);
    }

    &[open] {
        opacity: 1;
        pointer-events: all;
        --md-comp-time-picker-animation: time-picker-out;
        animation-name: var(--md-comp-time-picker-animation);
        animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));

        .md-time-picker__body {
            animation-name: time-picker-body-out;
            animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
        }
    }
}

.md-time-picker__header {
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 0 16px;
}

.md-time-picker__icons {
    display: flex;
    align-items: center;
    gap: 0 16px;
}

.md-time-picker__labels {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.md-time-picker__label {
    @include mixins.typescale-body-medium();
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.md-time-picker__sublabel {
    @include mixins.typescale-body-medium();
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--md-sys-color-on-surface-variant);
}

.md-time-picker__actions {
    display: flex;
    align-items: center;
    gap: 0 16px;
    margin-left: auto;
}

.md-time-picker__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    min-height: 0;
}

.md-time-picker__body {
    flex: 1;
    @include mixins.typescale-body-medium();
    color: var(--md-sys-color-on-surface-variant);
}

.md-time-picker__footer {
    display: flex;
    align-items: center;
    padding: 12px;
}

.md-time-picker__buttons {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0 8px;
}

.md-time-picker__spacer {
    flex: 1;
}

.md-time-picker__items {
    display: flex;
    width: var(--md-comp-time-picker-container-width);
    height: var(--md-comp-time-picker-container-height);
    overflow: hidden;
}

.md-time-picker__item {
    flex: 1 0 100%;
    overflow: auto;
    // transform: translate3d(calc((0 - var(--md-comp-time-picker-index)) * 100%), 0, 0);
}

.md-time-picker__circle {
    position: relative;
    width: 256px;
    height: 256px;
    margin: calc((var(--md-comp-time-picker-container-height) - 256px) / 2) calc((var(--md-comp-time-picker-container-width) - 256px) / 2);
    border-radius: calc(256px / 2);
    background-color: var(--md-sys-color-surface-container-highest);

    &::before {
        content: "";
        width: 8px;
        height: 8px;
        transform: translate3d(-50%, -50%, 0);
        border-radius: 4px;
        background-color: var(--md-sys-color-primary);
        position: absolute;
        left: 50%;
        top: 50%;
    }
}

.md-time-picker__circle-item {
    --md-comp-time-picker-circle-item-offset: calc((256px / 2) - (var(--md-comp-time-picker-circle-item-height) / 2));
    --md-comp-time-picker-circle-item-radius: calc(var(--md-comp-time-picker-circle-item-offset) - 4px);
    --md-comp-time-picker-circle-item-radius2: calc(var(--md-comp-time-picker-circle-item-radius) - (var(--md-comp-time-picker-circle-item-height) / 2));
    --md-comp-time-picker-circle-item-height2: calc(var(--md-comp-time-picker-circle-item-height) / 2);
    --md-comp-time-picker-circle-item-offset2: calc(var(--md-comp-time-picker-circle-item-offset) + (var(--md-comp-time-picker-circle-item-height2) / 2));
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: var(--md-comp-time-picker-circle-item-height);
    width: var(--md-comp-time-picker-circle-item-height);
    border-radius: calc(var(--md-comp-time-picker-circle-item-height) / 2);
    @include mixins.ripple();
    @include mixins.ripple-trigger();

    &:focus {
        @include mixins.ripple-focus();
    }

    &:active {
        @include mixins.ripple-press();
    }

    &:hover {
        @include mixins.ripple-hover();
    }

    &:-moz-drag-over {
        @include mixins.ripple-drag();
    }

    &:disabled {
        @include mixins.ripple-disabled();
    }

    &[activated] {
        border: 1px solid var(--md-sys-color-outline);
    }

    &[selected] {
        background-color: var(--md-sys-color-primary);
        color: var(--md-sys-color-on-primary);

        &::before {
            opacity: 1;
        }
    }

    --md-comp-ripple-radius: 100%;
    position: absolute;

    &::before {
        content: "";
        height: 2px;
        transform-origin: 100% 50%;
        background-color: var(--md-sys-color-primary);
        opacity: 0;
        position: absolute;
        right: 50%;
        top: 50%;
    }
}

.md-time-picker__circle--hours {
    .md-time-picker__circle-item {
        @for $i from 1 through 12 {
            &:nth-child(#{$i}) {
                left: calc(var(--md-comp-time-picker-circle-item-radius) * cos((($i - 4) / 12) * 2 * pi) + var(--md-comp-time-picker-circle-item-offset));
                top: calc(var(--md-comp-time-picker-circle-item-radius) * sin((($i - 4) / 12) * 2 * pi) + var(--md-comp-time-picker-circle-item-offset));

                &::before {
                    width: var(--md-comp-time-picker-circle-item-radius);
                    transform: rotate(calc((360deg / 12) * ($i - 4)));
                }
            }

            &:nth-child(#{$i + 12}) {
                left: calc(var(--md-comp-time-picker-circle-item-radius2) * cos((($i - 4) / 12) * 2 * pi) + var(--md-comp-time-picker-circle-item-offset));
                top: calc(var(--md-comp-time-picker-circle-item-radius2) * sin((($i - 4) / 12) * 2 * pi) + var(--md-comp-time-picker-circle-item-offset));

                &::before {
                    width: var(--md-comp-time-picker-circle-item-radius2);
                    transform: rotate(calc((360deg / 12) * ($i - 4)));
                }
            }
        }
    }
}

.md-time-picker__circle--minutes {
    .md-time-picker__circle-item {
        @for $i from 1 through 60 {
            &:nth-child(#{$i}) {
                left: calc(var(--md-comp-time-picker-circle-item-radius) * cos((($i - 16) / 60) * 2 * pi) + var(--md-comp-time-picker-circle-item-offset));
                top: calc(var(--md-comp-time-picker-circle-item-radius) * sin((($i - 16) / 60) * 2 * pi) + var(--md-comp-time-picker-circle-item-offset));

                &::before {
                    width: var(--md-comp-time-picker-circle-item-radius);
                    transform: rotate(calc((360deg / 60) * ($i - 16)));
                }
            }

            &:nth-child(#{$i}) {
                @if ((($i - 16) % 5) != 0) {
                    height: var(--md-comp-time-picker-circle-item-height2);
                    width: var(--md-comp-time-picker-circle-item-height2);
                    border-radius: calc(var(--md-comp-time-picker-circle-item-height2) / 2);
                    left: calc(var(--md-comp-time-picker-circle-item-radius) * cos((($i - 16) / 60) * 2 * pi) + var(--md-comp-time-picker-circle-item-offset2));
                    top: calc(var(--md-comp-time-picker-circle-item-radius) * sin((($i - 16) / 60) * 2 * pi) + var(--md-comp-time-picker-circle-item-offset2));
                    color: transparent;
                }
            }
        }
    }
}
