@use "../mixins/mixins.scss";

.md-snackbar {
    display: inline-flex;
    flex-wrap: wrap;
    width: 344px;
    min-height: 48px;
    border-radius: var(--md-sys-shape-corner-extra-small);
    background-color: var(--md-sys-color-inverse-surface);
    color: var(--md-sys-color-inverse-on-surface);
    box-shadow: var(--md-sys-elevation-level3);
    position: absolute;
    left: 8px;
    bottom: 8px;
    z-index: 11;
    opacity: 0;
    pointer-events: none;
    --md-comp-snackbar-animation: snackbar-in;
    animation-name: var(--md-comp-snackbar-animation);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
    animation-duration: var(--md-sys-motion-duration-short3);

    .md-snackbar__body {
        animation-name: snackbar-body-in;
        animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
        animation-duration: var(--md-sys-motion-duration-short3);
    }

    &[open] {
        opacity: 1;
        pointer-events: all;
        --md-comp-snackbar-animation: snackbar-out;
        animation-name: var(--md-comp-snackbar-animation);
        animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));

        .md-snackbar__body {
            animation-name: snackbar-body-out;
            animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
        }
    }
}

.md-snackbar__body {
    width: 72%;
    padding: 0 16px;
    margin: 14px 0 14px 0;
    overflow: auto;
    @include mixins.typescale-body-medium();
}

.md-snackbar__footer {
    display: flex;
    align-items: center;
    padding: 2px 4px;
    margin-left: auto;
}

.md-snackbar__buttons {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0 8px;

    .md-button {
        color: var(--md-sys-color-inverse-primary);
    }
}

.md-snackbar__spacer {
    flex: 1;
}
