/* snackbar */
.md-snackbar {
    display: inline-flex;
    width: 344px;
    border-radius: var(--md-sys-shape-corner-extra-small);
    background-color: var(--md-sys-color-inverse-surface);
    color: var(--md-sys-color-inverse-on-surface);
    box-shadow: var(--md-sys-elevation-level3);
    position: absolute;
    left: 8px;
    bottom: 8px;
    z-index: 7;
    visibility: hidden;
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-emphasized));
    animation-duration: var(--md-sys-motion-duration-short4);
    animation-name: var(--md-comp-pane-animation, snackbarOut);
    &[open] {
        visibility: visible;
        animation-name: var(--md-comp-pane-animation, snackbarIn);
        .md-pane__body {
            overflow: auto;
            animation-name: var(--md-comp-pane-animation, snackbarBodyIn);
        }
    }
    .md-pane__wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 4px 0 4px 0;
        gap: 4px 0;
    }
    .md-pane__body {
        flex: 1 0 64%;
        padding: 0 16px;
        margin: 10px 0 10px 0;
        border-radius: inherit;
        @include typescale-body-medium();
        overflow: hidden;
        animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-emphasized));
        animation-duration: var(--md-sys-motion-duration-short4);
        animation-name: var(--md-comp-pane-animation, snackbarBodyOut);
        + .md-pane__footer {
            margin-top: 0px;
        }
    }
    .md-pane__footer {
        min-height: auto;
        padding: 0 8px 0 8px;
        margin-left: auto;
        border-radius: inherit;
        background-color: inherit;
        color: inherit;
        .md-button {
            color: var(--md-sys-color-inverse-primary);
            &.md-ripple {
                &:after {
                    background-color: var(--md-sys-color-surface);
                }
            }
        }
    }
}
