.demo-main-top-app-bar {
    padding: 0 28px;
}

.demo-layout__column {
    line-height: 56px;
    padding: 0 16px;
    background-color: #fff;
    border: 1px solid;
}

.demo-layout__region {
    line-height: 56px;
    padding: 0 16px;
    background-color: #fff;
    border: 1px solid;
}

.demo-movable {
    position: relative;
    width: 256px;
    height: 256px;
}
