.md-bottom-sheet {
    display: inline-flex;
    max-width: 640px;
    max-height: calc(100% - 72px);
    width: 100%;
    margin: 72px auto 0 auto;
    transform: translate3d(0%, 100%, 0);
    border-radius: var(--md-sys-shape-corner-large) var(--md-sys-shape-corner-large) 0 0;
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level0);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-emphasized));
    animation-duration: var(--md-sys-motion-duration-short4);
    min-height: var(--md-comp-sheet-height);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 7;
    animation-name: var(--md-comp-sheet-animation, sheetSouthModalOut);
    &[open] {
        margin-bottom: 0;
        transform: translate3d(0, 0, 0);
        box-shadow: var(--md-sys-elevation-level1);
        animation-name: var(--md-comp-sheet-animation, sheetSouthModalIn);
    }
    .md-card__header {
        padding: 24px 24px 24px 16px;
        gap: 0 12px;
        > .md-block__group {
            > .md-block__headline {
                @include typescale-title-large();
            }
        }
        + .md-card__body {
            margin-top: -24px;
        }
    }
    .md-card__inner {
        padding: 0 24px 0 16px;
        margin: 24px 0;
        + .md-card__footer {
            margin-top: -24px;
        }
    }
    .md-card__footer {
        padding: 24px 24px 24px 16px;
        gap: 0 8px;
    }
}
