@use "../mixins/mixins.scss";

.md-month-picker {
    --md-comp-month-picker-density: -2;
    --md-comp-month-picker-list-item-height: calc(48px + (var(--md-comp-month-picker-density) * 4px));
    --md-comp-month-picker-table-item-height: calc(40px + (var(--md-comp-month-picker-density) * 4px));
    --md-comp-month-picker-circle-item-height: calc(48px + (var(--md-comp-month-picker-density) * 4px));
    --md-comp-month-picker-container-width: calc((var(--md-comp-month-picker-table-item-height) * 7) + (8px * 6) + (4px * 2) + (12px * 2));
    --md-comp-month-picker-container-height: calc((var(--md-comp-month-picker-table-item-height) * 7) + (8px * 6));
    --md-comp-month-picker-width: var(--md-comp-month-picker-container-width);
    --md-comp-month-picker-height: calc(var(--md-comp-month-picker-container-height) + (64px * 2));
    --md-comp-month-picker-animation: month-picker-in;

    display: inline-flex;
    flex-direction: column;
    width: var(--md-comp-month-picker-width);
    height: var(--md-comp-month-picker-height);
    border-radius: var(--md-sys-shape-corner-large);
    background-color: var(--md-sys-color-surface-container-high);
    position: absolute;
    z-index: 11;
    opacity: 0;
    pointer-events: none;
    animation-name: var(--md-comp-month-picker-animation);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
    animation-duration: var(--md-sys-motion-duration-short3);

    .md-month-picker__body {
        animation-name: month-picker-body-in;
        animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
        animation-duration: var(--md-sys-motion-duration-short3);
    }

    &[open] {
        --md-comp-month-picker-animation: month-picker-out;

        opacity: 1;
        pointer-events: all;
        animation-name: var(--md-comp-month-picker-animation);
        animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));

        .md-month-picker__body {
            animation-name: month-picker-body-out;
            animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
        }
    }
}

.md-month-picker__header {
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 0 16px;
}

.md-month-picker__icons {
    display: flex;
    align-items: center;
    gap: 0 16px;
}

.md-month-picker__labels {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.md-month-picker__label {
    @include mixins.typescale-body-medium();
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.md-month-picker__sublabel {
    @include mixins.typescale-body-medium();
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--md-sys-color-on-surface-variant);
}

.md-month-picker__actions {
    display: flex;
    align-items: center;
    gap: 0 16px;
    margin-left: auto;
}

.md-month-picker__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    min-height: 0;
}

.md-month-picker__body {
    flex: 1;
    @include mixins.typescale-body-medium();
    color: var(--md-sys-color-on-surface-variant);
}

.md-month-picker__footer {
    display: flex;
    align-items: center;
    padding: 12px;
}

.md-month-picker__buttons {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0 8px;
}

.md-month-picker__spacer {
    flex: 1;
}

.md-month-picker__items {
    display: flex;
    width: var(--md-comp-month-picker-container-width);
    height: var(--md-comp-month-picker-container-height);
    overflow: hidden;
}

.md-month-picker__item {
    flex: 1 0 100%;
    overflow: auto;
    // transform: translate3d(calc((0 - var(--md-comp-month-picker-index)) * 100%), 0, 0);
}

.md-month-picker__list {
    display: flex;
    flex-direction: column;
}

.md-month-picker__list-item {
    display: flex;
    align-items: center;
    height: var(--md-comp-month-picker-list-item-height);
    padding: 0 16px;
    gap: 0 16px;
    @include mixins.ripple();
    @include mixins.ripple-bounded();
    @include mixins.ripple-trigger();

    &:focus {
        @include mixins.ripple-focus();
    }

    &:active {
        @include mixins.ripple-press();
    }

    &:hover {
        @include mixins.ripple-hover();
    }

    &:-moz-drag-over {
        @include mixins.ripple-drag();
    }

    &:disabled {
        @include mixins.ripple-disabled();
    }

    &[activated] {
        border: 1px solid var(--md-sys-color-outline);
    }

    &[selected] {
        background-color: var(--md-sys-color-secondary-container);
        color: var(--md-sys-color-on-secondary-container);
    }
}
