@use "../../shared/mixins.scss";

.md-split-button {
    --md-comp-split-button-gap: 2px;
    // leading icon
    --md-comp-split-button-leading-icon-height: 20px;
    // leading
    --md-comp-split-button-leading-height: 40px;
    --md-comp-split-button-leading-padding-left: 16px;
    --md-comp-split-button-leading-padding-right: 12px;
    --md-comp-split-button-leading-gap: 8px;
    --md-comp-split-button-leading-border-top-right-radius: 4px;
    --md-comp-split-button-leading-border-bottom-right-radius: 4px;
    // trailing
    --md-comp-split-button-trailing-height: 40px;
    --md-comp-split-button-trailing-padding-left: 12px;
    --md-comp-split-button-trailing-padding-right: 14px;
    --md-comp-split-button-trailing-border-top-left-radius: 4px;
    --md-comp-split-button-trailing-border-bottom-left-radius: 4px;
    // trailing icon
    --md-comp-split-button-trailing-icon-height: 22px;
    // selected trailing
    --md-comp-split-button-selected-trailing-padding-left: 13px;
    --md-comp-split-button-selected-trailing-padding-right: 13px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0 var(--md-comp-split-button-gap);

    .md-split-button__icon {
        font-size: var(--md-comp-split-button-leading-icon-height);
        height: var(--md-comp-split-button-leading-icon-height);
        width: var(--md-comp-split-button-leading-icon-height);
    }
    .md-split-button__label {
        @include mixins.typescale-label-large();
    }

    .md-split-button__leading {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: var(--md-comp-split-button-leading-height);
        padding-left: var(--md-comp-split-button-leading-padding-left);
        padding-right: var(--md-comp-split-button-leading-padding-right);
        gap: 0 var(--md-comp-split-button-leading-gap);
        border-radius: calc(var(--md-comp-split-button-leading-height) / 2);
        border-top-right-radius: var(--md-comp-split-button-leading-border-top-right-radius);
        border-bottom-right-radius: var(--md-comp-split-button-leading-border-bottom-right-radius);
    }
    .md-split-button__trailing {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: var(--md-comp-split-button-trailing-height);
        padding-left: var(--md-comp-split-button-trailing-padding-left);
        padding-right: var(--md-comp-split-button-trailing-padding-right);
        border-radius: calc(var(--md-comp-split-button-trailing-height) / 2);
        border-top-left-radius: var(--md-comp-split-button-trailing-border-top-left-radius);
        border-bottom-left-radius: var(--md-comp-split-button-trailing-border-bottom-left-radius);
        .md-split-button__icon {
            font-size: var(--md-comp-split-button-trailing-icon-height);
            height: var(--md-comp-split-button-trailing-icon-height);
            width: var(--md-comp-split-button-trailing-icon-height);
        }
    }

    &.md-split-button--selected {
        .md-split-button__trailing {
            padding-left: var(--md-comp-split-button-selected-trailing-padding-left);
            padding-right: var(--md-comp-split-button-selected-trailing-padding-right);
            border-radius: calc(var(--md-comp-split-button-trailing-height) / 2);
            .md-split-button__icon {
                transform: rotate(180deg);
            }
        }
    }
}

.md-split-button__leading,
.md-split-button__trailing {
    //will-change: border-radius;
    transition-property: border-radius;
    transition-duration: var(--md-sys-motion-duration-short1);
    transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));

    &:active {
        transition-duration: var(--md-sys-motion-duration-short2);
        transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
    }
}
.md-split-button__trailing {
    .md-split-button__icon {
        //will-change: transform;
        transition-property: transform;
        transition-duration: var(--md-sys-motion-duration-short1);
        transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
    }

    &:active {
        .md-split-button__icon {
            transition-duration: var(--md-sys-motion-duration-short2);
            transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
        }
    }
}

.md-split-button--extra-small {
    --md-comp-split-button-gap: 2px;
    // leading icon
    --md-comp-split-button-leading-icon-height: 20px;
    // leading
    --md-comp-split-button-leading-height: 32px;
    --md-comp-split-button-leading-padding-left: 12px;
    --md-comp-split-button-leading-padding-right: 10px;
    --md-comp-split-button-leading-gap: 4px;
    --md-comp-split-button-leading-border-top-right-radius: 4px;
    --md-comp-split-button-leading-border-bottom-right-radius: 4px;
    // trailing
    --md-comp-split-button-trailing-height: 32px;
    --md-comp-split-button-trailing-padding-left: 12px;
    --md-comp-split-button-trailing-padding-right: 14px;
    --md-comp-split-button-trailing-border-top-left-radius: 4px;
    --md-comp-split-button-trailing-border-bottom-left-radius: 4px;
    // trailing icon
    --md-comp-split-button-trailing-icon-height: 22px;
    // selected trailing
    --md-comp-split-button-selected-trailing-padding-left: 13px;
    --md-comp-split-button-selected-trailing-padding-right: 13px;

    .md-split-button__label {
        @include mixins.typescale-label-large();
    }
}
.md-split-button--small {
    --md-comp-split-button-gap: 2px;
    // leading icon
    --md-comp-split-button-leading-icon-height: 20px;
    // leading
    --md-comp-split-button-leading-height: 40px;
    --md-comp-split-button-leading-padding-left: 16px;
    --md-comp-split-button-leading-padding-right: 12px;
    --md-comp-split-button-leading-gap: 8px;
    --md-comp-split-button-leading-border-top-right-radius: 4px;
    --md-comp-split-button-leading-border-bottom-right-radius: 4px;
    // trailing
    --md-comp-split-button-trailing-height: 40px;
    --md-comp-split-button-trailing-padding-left: 12px;
    --md-comp-split-button-trailing-padding-right: 14px;
    --md-comp-split-button-trailing-border-top-left-radius: 4px;
    --md-comp-split-button-trailing-border-bottom-left-radius: 4px;
    // trailing icon
    --md-comp-split-button-trailing-icon-height: 22px;
    // selected trailing
    --md-comp-split-button-selected-trailing-padding-left: 13px;
    --md-comp-split-button-selected-trailing-padding-right: 13px;

    .md-split-button__label {
        @include mixins.typescale-label-large();
    }
}
.md-split-button--medium {
    --md-comp-split-button-gap: 2px;
    // leading icon
    --md-comp-split-button-leading-icon-height: 24px;
    // leading
    --md-comp-split-button-leading-height: 56px;
    --md-comp-split-button-leading-padding-left: 24px;
    --md-comp-split-button-leading-padding-right: 24px;
    --md-comp-split-button-leading-gap: 8px;
    --md-comp-split-button-leading-border-top-right-radius: 4px;
    --md-comp-split-button-leading-border-bottom-right-radius: 4px;
    // trailing
    --md-comp-split-button-trailing-height: 56px;
    --md-comp-split-button-trailing-padding-left: 13px;
    --md-comp-split-button-trailing-padding-right: 17px;
    --md-comp-split-button-trailing-border-top-left-radius: 4px;
    --md-comp-split-button-trailing-border-bottom-left-radius: 4px;
    // trailing icon
    --md-comp-split-button-trailing-icon-height: 24px;
    // selected trailing
    --md-comp-split-button-selected-trailing-padding-left: 15px;
    --md-comp-split-button-selected-trailing-padding-right: 15px;

    .md-split-button__label {
        @include mixins.typescale-title-medium();
    }
}
.md-split-button--large {
    --md-comp-split-button-gap: 2px;
    // leading icon
    --md-comp-split-button-leading-icon-height: 32px;
    // leading
    --md-comp-split-button-leading-height: 96px;
    --md-comp-split-button-leading-padding-left: 48px;
    --md-comp-split-button-leading-padding-right: 48px;
    --md-comp-split-button-leading-gap: 12px;
    --md-comp-split-button-leading-border-top-right-radius: 8px;
    --md-comp-split-button-leading-border-bottom-right-radius: 8px;
    // trailing
    --md-comp-split-button-trailing-height: 96px;
    --md-comp-split-button-trailing-padding-left: 26px;
    --md-comp-split-button-trailing-padding-right: 32px;
    --md-comp-split-button-trailing-border-top-left-radius: 8px;
    --md-comp-split-button-trailing-border-bottom-left-radius: 8px;
    // trailing icon
    --md-comp-split-button-trailing-icon-height: 38px;
    // selected trailing
    --md-comp-split-button-selected-trailing-padding-left: 29px;
    --md-comp-split-button-selected-trailing-padding-right: 29px;

    .md-split-button__label {
        @include mixins.typescale-headline-small();
    }
}
.md-split-button--extra-large {
    --md-comp-split-button-gap: 2px;
    // leading icon
    --md-comp-split-button-leading-icon-height: 40px;
    // leading
    --md-comp-split-button-leading-height: 136px;
    --md-comp-split-button-leading-padding-left: 64px;
    --md-comp-split-button-leading-padding-right: 64px;
    --md-comp-split-button-leading-gap: 16px;
    --md-comp-split-button-leading-border-top-right-radius: 12px;
    --md-comp-split-button-leading-border-bottom-right-radius: 12px;
    // trailing
    --md-comp-split-button-trailing-height: 136px;
    --md-comp-split-button-trailing-padding-left: 37px;
    --md-comp-split-button-trailing-padding-right: 49px;
    --md-comp-split-button-trailing-border-top-left-radius: 12px;
    --md-comp-split-button-trailing-border-bottom-left-radius: 12px;
    // trailing icon
    --md-comp-split-button-trailing-icon-height: 50px;
    // selected trailing
    --md-comp-split-button-selected-trailing-padding-left: 43px;
    --md-comp-split-button-selected-trailing-padding-right: 43px;

    .md-split-button__label {
        @include mixins.typescale-headline-large();
    }
}

.md-split-button--elevated .md-split-button__leading,
.md-split-button--elevated .md-split-button__trailing {
    background-color: var(--md-sys-color-surface-container-low);
    color: var(--md-sys-color-primary);
    box-shadow: var(--md-sys-elevation-level1);
}
.md-split-button--filled .md-split-button__leading,
.md-split-button--filled .md-split-button__trailing {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}
.md-split-button--tonal .md-split-button__leading,
.md-split-button--tonal .md-split-button__trailing {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}
.md-split-button--outlined .md-split-button__leading,
.md-split-button--outlined .md-split-button__trailing {
    border: 1px solid var(--md-sys-color-outline-variant);
    color: var(--md-sys-color-on-surface-variant);
}
