@use "../mixins/mixins.scss";

.md-sheet {
    display: inline-flex;
    flex-direction: column;
    background-color: var(--md-sys-color-surface);
}

.md-sheet__header {
    display: flex;
    align-items: center;
    padding: 24px;
    gap: 0 16px;
}

.md-sheet__icons {
    display: flex;
    align-items: center;
    gap: 0 16px;
}

.md-sheet__labels {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.md-sheet__label {
    @include mixins.typescale-title-large();
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.md-sheet__sublabel {
    @include mixins.typescale-body-medium();
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--md-sys-color-on-surface-variant);
}

.md-sheet__actions {
    display: flex;
    align-items: center;
    gap: 0 16px;
    margin-left: auto;
}

.md-sheet__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    min-height: 0;
}

.md-sheet__body {
    flex: 1;
    overflow: auto;
}

.md-sheet__footer {
    display: flex;
    align-items: center;
    padding: 24px;
}

.md-sheet__buttons {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0 8px;
}

.md-sheet__spacer {
    flex: 1;
}

.md-sheet--north {
    grid-area: north;
    overflow: auto;
    height: var(--md-comp-sheet-height);
    margin-top: calc(0px - var(--md-comp-sheet-height));
    --md-comp-sheet-animation: sheet-north-in;
    animation-name: var(--md-comp-sheet-animation);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
    animation-duration: var(--md-sys-motion-duration-short3);

    &[open] {
        margin-top: 0;
        --md-comp-sheet-animation: sheet-north-out;
        animation-name: var(--md-comp-sheet-animation);
        animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
    }
}

.md-sheet--east {
    grid-area: east;
    overflow: auto;
    width: var(--md-comp-sheet-width);
    margin-right: calc(0px - var(--md-comp-sheet-width));
    --md-comp-sheet-animation: sheet-east-in;
    animation-name: var(--md-comp-sheet-animation);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
    animation-duration: var(--md-sys-motion-duration-short3);

    &[open] {
        margin-right: 0;
        --md-comp-sheet-animation: sheet-east-out;
        animation-name: var(--md-comp-sheet-animation);
        animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
    }
}

.md-sheet--south {
    grid-area: south;
    overflow: auto;
    height: var(--md-comp-sheet-height);
    margin-bottom: calc(0px - var(--md-comp-sheet-height));
    --md-comp-sheet-animation: sheet-south-in;
    animation-name: var(--md-comp-sheet-animation);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
    animation-duration: var(--md-sys-motion-duration-short3);

    &[open] {
        margin-bottom: 0;
        --md-comp-sheet-animation: sheet-south-out;
        animation-name: var(--md-comp-sheet-animation);
        animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
    }
}

.md-sheet--west {
    grid-area: west;
    overflow: auto;
    width: var(--md-comp-sheet-width);
    margin-left: calc(0px - var(--md-comp-sheet-width));
    --md-comp-sheet-animation: sheet-west-in;
    animation-name: var(--md-comp-sheet-animation);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
    animation-duration: var(--md-sys-motion-duration-short3);

    &[open] {
        margin-left: 0;
        --md-comp-sheet-animation: sheet-west-out;
        animation-name: var(--md-comp-sheet-animation);
        animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
    }
}

.md-sheet--center {
    grid-area: center;
    overflow: auto;
}

.md-sheet--modal {
    background-color: var(--md-sys-color-surface-container-low);
    box-shadow: var(--md-sys-elevation-level1);
    position: absolute;
    z-index: 11;

    &.md-sheet--north {
        margin-top: 0;
        left: 0;
        right: 0;
        top: 0;
        border-radius: 0 0 var(--md-sys-shape-corner-extra-large) var(--md-sys-shape-corner-extra-large);
        transform: translate3d(0, -100%, 0);
        --md-comp-sheet-animation: sheet-north-modal-in;

        &[open] {
            transform: translate3d(0, 0, 0);
            --md-comp-sheet-animation: sheet-north-modal-out;
        }
    }

    &.md-sheet--east {
        margin-right: 0;
        top: 0;
        bottom: 0;
        right: 0;
        border-radius: var(--md-sys-shape-corner-extra-large) 0 0 var(--md-sys-shape-corner-extra-large);
        transform: translate3d(100%, 0, 0);
        --md-comp-sheet-animation: sheet-east-modal-in;

        &[open] {
            transform: translate3d(0, 0, 0);
            --md-comp-sheet-animation: sheet-east-modal-out;
        }
    }

    &.md-sheet--south {
        margin-bottom: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: var(--md-sys-shape-corner-extra-large) var(--md-sys-shape-corner-extra-large) 0 0;
        transform: translate3d(0, 100%, 0);
        --md-comp-sheet-animation: sheet-south-modal-in;

        &[open] {
            transform: translate3d(0, 0, 0);
            --md-comp-sheet-animation: sheet-south-modal-out;
        }
    }

    &.md-sheet--west {
        margin-left: 0;
        top: 0;
        bottom: 0;
        left: 0;
        border-radius: 0 var(--md-sys-shape-corner-extra-large) var(--md-sys-shape-corner-extra-large) 0;
        transform: translate3d(-100%, 0, 0);
        --md-comp-sheet-animation: sheet-west-modal-in;

        &[open] {
            transform: translate3d(0, 0, 0);
            --md-comp-sheet-animation: sheet-west-modal-out;
        }
    }
}
