
.md-box {
    display: flex;
    background-color: var(--md-sys-color-surface-container-lowest);
    color: var(--md-sys-color-on-surface-variant);    
}
.md-box__container {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 0 16px;
}
// .md-box__icon-button{}
.md-box__section {
    flex: 1;
    display: flex;
    flex-direction: column;
    ~ .md-box__video {
        margin-left: 0;
        margin-right: -16px;
    }
}
.md-box__headline {
    @include typescale-body-large();
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
// .md-box__badge{}
// .md-box__checkbox{}
// .md-checkbox{}
// .md-checkbox__native{}
// .md-checkbox__track{}
// .md-checkbox__thumb{}
// .md-box__radio-button{}
// .md-box__switch{}
.md-box__avatar {
    width: 40px;
    height: 40px;
}
.md-box__image {
    width: 56px;
    height: 56px;
}
.md-box__video {
    height: 64px;
    margin: 4px 0;
    margin-left: -16px;
}
// .md-box__icon{}
.md-box__supporting-text {
    @include typescale-body-medium();
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.md-box {
    min-height: 56px;
}
.md-box--two-line {
    min-height: 72px;
}
.md-box--three-line {
    min-height: 88px;
    .md-box__inner {
        padding-top: 12px;
        padding-bottom: 12px;
        align-items: flex-start;
    }
    .md-box__video {
        margin-top: 0;
        margin-bottom: 0;
    }
}
