.md-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    position: relative;
}

.md-checkbox__native {
    appearance: none;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: transparent;
    color: transparent;

    &:indeterminate {
        + .md-checkbox__track {
            background: var(--md-sys-color-primary);
            border-color: var(--md-sys-color-primary);

            .md-checkbox__thumb {
                height: 2px;
                width: 10px;
                border-bottom: 2px solid var(--md-sys-color-on-primary);
            }
        }
    }

    &:checked {
        + .md-checkbox__track {
            background: var(--md-sys-color-primary);
            border-color: var(--md-sys-color-primary);

            .md-checkbox__thumb {
                height: 5px;
                width: 10px;
                transform: rotate(-45deg);
                margin-top: -2px;
                border-left: 2px solid var(--md-sys-color-on-primary);
                border-bottom: 2px solid var(--md-sys-color-on-primary);
            }
        }
    }
}

.md-checkbox__track {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 18px;
    border-radius: 2px;
    width: 18px;
    border: 2px solid var(--md-sys-color-outline);
}

.md-checkbox__thumb {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
