/* 
initialize
*/

@mixin initialize {
    &--initialize {
        &,
        *,
        *::before,
        *::after {
            transition: none !important;
            animation: none !important;
        }
    }
}
/* 
ripple
*/

@mixin ripple-vars() {
    --md-comp-ripple-radius: 141.4213562373095%;
    --md-comp-ripple-left: 50%;
    --md-comp-ripple-top: 50%;
    --md-comp-ripple-x: 0%;
    --md-comp-ripple-y: 0%;
}

@mixin ripple() {
    position: relative;

    &:after {
        content: "";
        width: var(--md-comp-ripple-radius);
        aspect-ratio: 1/1;
        border-radius: var(--md-sys-shape-corner-full);
        position: absolute;
        left: var(--md-comp-ripple-left);
        top: var(--md-comp-ripple-top);
        transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1) translate3d(var(--md-comp-ripple-x), var(--md-comp-ripple-y), 0) scale3d(1, 1, 1);
        background-color: currentColor;
        opacity: 0;
        pointer-events: none;
    }
}

@mixin ripple-bounded() {
    overflow: hidden;
}

@mixin ripple-trigger() {
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

@mixin ripple-focus() {
    &::after {
        opacity: 10%;
    }
}

@mixin ripple-press() {
    &::after {
        opacity: 10%;
        animation-name: zoomInCenter;
        animation-duration: var(--md-sys-motion-expressive-fast-spatial-duration);
        animation-timing-function: cubic-bezier(var(--md-sys-motion-expressive-fast-spatial));
    }
}

@mixin ripple-hover() {
    &::after {
        opacity: 8%;
    }
}

@mixin ripple-drag() {
    &::after {
        opacity: 16%;
    }
}

// @mixin ripple-selection() {
//     background-color: var(--md-sys-color-secondary-container);
//     color: var(--md-sys-color-on-secondary-container);
// }

@mixin ripple-disabled() {
    pointer-events: none;

    // &::after {
    //     opacity: 0%;
    // }
}
