@keyframes md-state {
    from {
        width: 0%;
    }
}

@keyframes md-state-fadeout {
    from {
        opacity: 10%;
    }
}

.md-state {
    position: relative;

    &--containment {
        overflow: hidden;
    }

    &--button {
        cursor: pointer;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    &__layer {
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0) translate3d(0, 0, 0);
        background: var(--md-sys-color-on-surface);
        opacity: 0;
        pointer-events: none;
        animation: none var(--md-sys-motion-duration-short4) cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
    }

    &--inverted {
        > .md-state__layer {
            background: var(--md-sys-color-surface);
        }
    }

    &[activated] {
        background: var(--md-sys-color-secondary-container);
        color: var(--md-sys-color-on-secondary-container);
    }

    &--focused {
        > .md-state__layer {
            opacity: 10%;
        }
    }

    &--pressed {
        > .md-state__layer {
            opacity: 10%;
        }
    }

    &--fadeout {
        > .md-state__layer {
            opacity: 0;
            animation:
                none var(--md-sys-motion-duration-short4) cubic-bezier(var(--md-sys-motion-easing-standard-accelerate)),
                none var(--md-sys-motion-duration-long4) cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
        }
    }

    &--hover {
        > .md-state__layer {
            opacity: 8%;
        }
    }

    &[disabled] {
        opacity: 38%;
        pointer-events: none;

        > .md-state__layer {
            opacity: 0%;
        }
    }
}
