/* navigation bar */
.md-navigation-bar {
    --md-comp-pane-height: 80px;
    display: inline-flex;
    border-radius: var(--md-sys-shape-corner-none);
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level0);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-emphasized));
    animation-duration: var(--md-sys-motion-duration-short4);
    grid-area: south;
    min-height: var(--md-comp-pane-height);
    margin-bottom: calc(0px - var(--md-comp-pane-height, 100vh));
    animation-name: var(--md-comp-pane-animation, sheetSouthOut);
    &[open] {
        margin-bottom: 0;
        animation-name: var(--md-comp-pane-animation, sheetSouthIn);
    }
    .md-pane__body {
        padding: 0;
        margin: 0;
        border-radius: inherit;
    }
}
.md-navigation-bar__tree {
    flex-direction: row;
    padding: 0;
    gap: 0 8px;
    .md-tree__item {
        flex: 1 0 auto;
        flex-direction: column;
        justify-content: center;
        min-height: 80px;
        padding: 12px;
        &.md-ripple {
            @include ripple-reset();
        }
        &.md-ripple {
            .md-tree__icon {
                @include ripple();
            }
        }
        &.md-ripple--button {
            .md-tree__icon {
                @include ripple-button();
            }
        }
        &.md-ripple--focused,
        &.md-ripple--hover,
        &.md-ripple--pressed,
        &.md-ripple[selected],
        &.md-ripple[dragged],
        &.md-ripple[disabled] {
            .md-tree__icon {
                @include ripple-size();
            }
        }
        &.md-ripple--clipped.md-ripple--focused,
        &.md-ripple--clipped.md-ripple--hover,
        &.md-ripple--clipped.md-ripple--pressed,
        &.md-ripple--clipped.md-ripple[selected],
        &.md-ripple--clipped.md-ripple[dragged],
        &.md-ripple--clipped.md-ripple[disabled] {
            .md-tree__icon {
                @include ripple-clipped();
            }
        }
        &.md-ripple--focused {
            .md-tree__icon {
                @include ripple-focused();
            }
        }
        &.md-ripple--fade-out.md-ripple--focused {
            .md-tree__icon {
                @include ripple-fade-out();
            }
        }
        &.md-ripple--hover {
            .md-tree__icon {
                @include ripple-hover();
            }
        }
        &.md-ripple--pressed {
            .md-tree__icon {
                @include ripple-pressed();
            }
        }
        &.md-ripple[activated] {
            .md-tree__icon {
                @include ripple-activated();
            }
        }
        &.md-ripple[selected] {
            .md-tree__icon {
                @include ripple-selected();
            }
        }
        &.md-ripple[dragged] {
            .md-tree__icon {
                @include ripple-dragged();
            }
        }
        &.md-ripple[disabled] {
            .md-tree__icon {
                @include ripple-disabled();
            }
        }
    }
    .md-tree__icon {
        width: 64px;
        height: 32px;
        border-radius: 16px;
    }
    .md-tree__inner {
        flex: 0;
    }
    .md-tree__label {
        margin: 4px 0;
    }
    .md-tree__label-primary {
        @include typescale-label-medium();
    }
    .md-tree__badge {
        margin-top: -8px;
        transform: translate3d(-0%, -50%, 0);
        position: absolute;
        left: 50%;
        top: 50%;
        &:empty {
            margin-left: 5px;
        }
    }
    .md-tree__inner {
        .md-tree__label {
            + .md-tree__badge {
                margin-top: -20px;
            }
        }
    }
}
