.md-navigation-bar {
}

.md-navigation-bar__list {
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: row;

    .md-list__item {
        flex-direction: column;
        justify-content: center;
        min-height: 80px;
        padding-top: 12px;
        padding-bottom: 12px;
        // row-gap: 4px;
        position: relative;

        &[activated] {
            background: inherit;
            color: inherit;

            .md-list__icon {
                background: var(--md-sys-color-secondary-container);
                color: var(--md-sys-color-primary);
            }
        }
    }

    .md-list__icon {
        height: 32px;
        border-radius: 16px;
        width: 64px;
    }

    .md-list__label {
        @extend .md-typography--label-medium;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .md-list__badge {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        margin-top: -8px;
        margin-left: 8px;
    }

    .md-list__center {
        + .md-list__end {
            .md-list__badge {
                margin-top: -20px;
            }
        }
    }
}
