/* navigation bar */
.md-navigation-bar {
    --md-comp-pane-height: 80px;
    display: inline-flex;
    border-radius: var(--md-sys-shape-corner-none);
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level0);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-emphasized));
    animation-duration: var(--md-sys-motion-duration-short4);
    grid-area: south;
    min-height: var(--md-comp-pane-height);
    margin-bottom: calc(0px - var(--md-comp-pane-height, 100vh));
    animation-name: var(--md-comp-pane-animation, sheetSouthOut);
    &[open] {
        margin-bottom: 0;
        animation-name: var(--md-comp-pane-animation, sheetSouthIn);
    }
    .md-pane__body {
        padding: 0;
        margin: 0;
        border-radius: inherit;
    }
}
.md-navigation-bar__list {
    flex-direction: row;
    height: 100%;
    padding: 0;
    gap: 0 8px;
    .md-list__item {
        flex: 1;
        align-items: center;
        padding: 12px 0;
        @include ripple-reset();
        .md-block__icon {
            @include ripple();
            @include ripple-button();
        }
        &:focus,
        &:hover,
        &:active,
        &[selected],
        &[dragged],
        &[disabled] {
            .md-block__icon {
                @include ripple-size();
                @include ripple-clipped();
            }
        }
        &:focus {
            .md-block__icon {
                @include ripple-focused();
            }
        }
        &:hover {
            .md-block__icon {
                @include ripple-hover();
            }
        }
        &:active {
            .md-block__icon {
                @include ripple-pressed();
            }
        }
        &[activated] {
            .md-block__icon {
                @include ripple-activated();
            }
        }
        &[selected] {
            .md-block__icon {
                @include ripple-selected();
            }
        }
        &[dragged] {
            .md-block__icon {
                @include ripple-dragged();
            }
        }
        &[disabled] {
            .md-block__icon {
                @include ripple-disabled();
            }
        }
    }
    .md-block__inner {
        flex-direction: column;
        position: relative;
    }
    .md-block__icon {
        width: 64px;
        height: 32px;
        border-radius: calc(32px / 2);
    }
    .md-block__headline {
        margin: 4px 0;
        @include typescale-label-medium();
    }
    .md-block__badge {
        margin-top: -8px;
        transform: translate3d(0, -50%, 0);
        position: absolute;
        left: 50%;
        top: 50%;
        &:empty {
            margin-left: 5px;
        }
    }
    .md-block__section--start + .md-block__section--center + .md-block__badge {
        margin-top: -20px;
    }
}
