@use "../mixins/mixins.scss";

.md-navigation-list {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}

.md-navigation-list__row {
    display: flex;
    flex-direction: column;
}

.md-navigation-list__item {
    display: flex;
    align-items: center;
    min-height: 56px;
    padding: 8px 16px;
    gap: 0 16px;

    &[selected] {
        background-color: var(--md-sys-color-secondary-container);
        color: var(--md-sys-color-on-secondary-container);

        .md-navigation-list__icon {
            font-variation-settings:
                "FILL" 1,
                "wght" 400,
                "GRAD" 0,
                "opsz" 24;
        }
    }
}

// .md-navigation-list__checkbox {}

// .md-navigation-list__radio-button {}

// .md-navigation-list__switch {}

.md-navigation-list__avatar {
    width: 40px;
    height: 40px;
}

.md-navigation-list__image {
    width: 56px;
    height: 56px;
}

.md-navigation-list__video {
    height: 64px;
    margin: 4px 0 4px -16px;
}

// .md-navigation-list__icon {}

.md-navigation-list__labels {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: 100%;
}

.md-navigation-list__label {
    @include mixins.typescale-body-large();
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.md-navigation-list__sublabel {
    @include mixins.typescale-body-medium();
    // height: calc(var(--md-sys-typescale-body-medium-line-height) * 2);
    height: var(--md-sys-typescale-body-medium-line-height);
    overflow: hidden;
    color: var(--md-sys-color-on-surface-variant);
}

.md-navigation-list__text {
    @include mixins.typescale-label-small();
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--md-sys-color-on-surface-variant);
}

.md-navigation-list__item--two-line {
    min-height: 72px;
}

.md-navigation-list__item--three-line {
    align-items: flex-start;
    padding-top: 12px;
    padding-bottom: 12px;
    min-height: 88px;

    .md-navigation-list__sublabel {
        height: calc(var(--md-sys-typescale-body-medium-line-height) * 2);
    }
}

.md-menu {
    .md-navigation-list {
        .md-navigation-list__item {
            min-height: 48px;
            padding: 0 12px;
            gap: 0 12px;
        }

        .md-navigation-list__label {
            @include mixins.typescale-label-large();
        }
    }
}

.md-navigation-rail {
    .md-navigation-list {
        padding: 0;
        --md-comp-navigation-list-icon-animation: navigation-list-icon-out;

        .md-navigation-list__item {
            flex-direction: column;
            justify-content: center;
            padding: 0;
            width: 80px;
            position: relative;

            &[selected] {
                background-color: inherit;
                // color: inherit;

                .md-navigation-list__icon {
                    background-color: var(--md-sys-color-secondary-container);
                    color: var(--md-sys-color-on-secondary-container);
                    animation-name: var(--md-comp-navigation-list-icon-animation);
                    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
                    animation-duration: var(--md-sys-motion-duration-short3);
                }
            }
        }

        .md-navigation-list__icon {
            width: 56px;
            height: 32px;
            border-radius: 16px;
        }

        .md-navigation-list__label {
            @include mixins.typescale-label-medium();
            margin: 4px 0;
        }

        .md-navigation-list__badge {
            margin-top: -8px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate3d(0%, -50%, 0);

            &:empty {
                transform: translate3d(-50%, -50%, 0);
                margin-left: 8px;
            }
        }

        .md-navigation-list__icon {
            ~ .md-navigation-list__labels {
                ~ .md-navigation-list__badge {
                    // margin-top: -12px;
                    margin-top: -20px;
                }
            }
        }
    }
}
