@keyframes ripple-out {
    0% {
        width: 0;
    }

    100% {
        width: var(--md-comp-ripple-radius);
    }
}

@mixin ripple() {
    position: relative;
    --md-comp-ripple-radius: 141.4213562373095%;
    --md-comp-ripple-left: 50%;
    --md-comp-ripple-top: 50%;
    --md-comp-ripple-translateX: 0%;
    --md-comp-ripple-translateY: 0%;

    &::after {
        content: "";
        width: var(--md-comp-ripple-radius);
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--md-sys-color-primary);
        opacity: 0;
        position: absolute;
        left: var(--md-comp-ripple-left);
        top: var(--md-comp-ripple-top);
        z-index: 1;
        transform: translate3d(-50%, -50%, 0) translate3d(var(--md-comp-ripple-translateX), var(--md-comp-ripple-translateY), 0);
        pointer-events: none;
    }
}

@mixin ripple-bounded() {
    overflow: hidden;
}

@mixin ripple-trigger() {
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

@mixin ripple-selected() {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}

@mixin ripple-focus() {
    &::after {
        opacity: 10%;
        animation-name: ripple-out;
        animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
        animation-duration: var(--md-sys-motion-duration-short4);
    }
}

@mixin ripple-press() {
    &::after {
        opacity: 10%;
        animation-name: none;
    }
}

@mixin ripple-hover() {
    &::after {
        opacity: 8%;
    }
}

.md-ripple {
    @include ripple();
}

.md-ripple--bounded {
    @include ripple-bounded();
}

.md-ripple--trigger {
    @include ripple-trigger();
}

.md-ripple[selected] {
    @include ripple-selected();
}

.md-ripple--focus {
    @include ripple-focus();
}

.md-ripple--press {
    @include ripple-press();
}

.md-ripple--hover {
    @include ripple-hover();
}
