.md-list {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}

.md-list__row {
    display: flex;
    flex-direction: column;
}
.md-list__item {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 0 16px;
}
.md-list__divider {
    margin-top: 8px;
    margin-bottom: 7px;
    border-bottom: 1px solid var(--md-sys-color-outline-variant);
}

.md-list__center {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.md-list__end {
    .md-list__supporting-text {
        @extend .md-typography--label-small;
    }
}

.md-list__label {
    @extend .md-typography--body-large;
}
.md-list__supporting-text {
    @extend .md-typography--body-medium;
    overflow: hidden;
}

.md-list__avatar {
    height: 40px;
}
.md-list__image {
    height: 56px;
}
.md-list__video {
    height: 64px;
    margin: 4px 0;
    margin-left: -16px;
}

.md-list {
    .md-list__item {
        min-height: 56px;
    }
}
.md-list--two-line {
    .md-list__item {
        min-height: 72px;
    }
}
.md-list--three-line {
    .md-list__item {
        align-items: start;
        min-height: 88px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .md-list__end {
        .md-list__supporting-text {
            height: auto;
        }
    }
    .md-list__supporting-text {
        height: 40px;
    }

    .md-list__video {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.md-menu__list {
    .md-list__item {
        min-height: 48px;
        padding: 0 12px;
        gap: 0 12px;
    }
    .md-list__end {
        .md-list__supporting-text {
            @extend .md-typography--label-large;
        }
    }
    .md-list__label {
        @extend .md-typography--label-large;
    }
}

.md-navigation-bar__list {
    flex-direction: row;
    .md-list__row {
        flex: 1;
    }
    .md-list__item {
        flex-direction: column;
        justify-content: center;
        min-height: 80px;
        padding-top: 12px;
        padding-bottom: 12px;
        row-gap: 4px;

        &.md-state[activated] {
            background: inherit;
            color: inherit;

            .md-list__icon {
                background: var(--md-sys-color-secondary-container);
                color: var(--md-sys-color-on-secondary-container);
            }
        }
    }
    .md-list__label {
        @extend .md-typography--label-medium;
        margin-bottom: 4px;
    }
    .md-list__icon {
        height: 32px;
        border-radius: 16px;
        width: 64px;
    }

    .md-list__badge {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        margin-top: -20px;
        margin-left: 8px;
    }

    .md-list__item--no-label {
        .md-list__badge {
            margin-top: -8px;
            margin-left: 8px;
        }
    }
}
