@use "../mixins/mixins.scss";

@keyframes sheet-north-in {
    0% {
        visibility: visible;
        margin-top: calc(0px - var(--md-comp-sheet-height));
    }

    100% {
        margin-top: 0;
    }
}

@keyframes sheet-east-in {
    0% {
        visibility: visible;
        margin-right: calc(0px - var(--md-comp-sheet-width));
    }

    100% {
        margin-right: 0;
    }
}

@keyframes sheet-south-in {
    0% {
        visibility: visible;
        margin-bottom: calc(0px - var(--md-comp-sheet-height));
    }

    100% {
        margin-bottom: 0;
    }
}

@keyframes sheet-west-in {
    0% {
        visibility: visible;
        margin-left: calc(0px - var(--md-comp-sheet-width));
    }

    100% {
        margin-left: 0;
    }
}

@keyframes sheet-north-out {
    0% {
        visibility: visible;
        margin-top: 0;
    }

    100% {
        visibility: hidden;
        margin-top: calc(0px - var(--md-comp-sheet-height));
    }
}

@keyframes sheet-east-out {
    0% {
        visibility: visible;
        margin-right: 0;
    }

    100% {
        visibility: hidden;
        margin-right: calc(0px - var(--md-comp-sheet-width));
    }
}

@keyframes sheet-south-out {
    0% {
        visibility: visible;
        margin-bottom: 0;
    }

    100% {
        visibility: hidden;
        margin-bottom: calc(0px - var(--md-comp-sheet-height));
    }
}

@keyframes sheet-west-out {
    0% {
        visibility: visible;
        margin-left: 0;
    }

    100% {
        visibility: hidden;
        margin-left: calc(0px - var(--md-comp-sheet-width));
    }
}

@keyframes sheet-north-modal-in {
    0% {
        visibility: visible;
        transform: translate3d(0%, -100%, 0);
    }

    100% {
        transform: translate3d(0%, 0%, 0);
    }
}

@keyframes sheet-east-modal-in {
    0% {
        visibility: visible;
        transform: translate3d(100%, 0%, 0);
    }

    100% {
        transform: translate3d(0%, 0%, 0);
    }
}

@keyframes sheet-south-modal-in {
    0% {
        visibility: visible;
        transform: translate3d(0%, 100%, 0);
    }

    100% {
        transform: translate3d(0%, 0%, 0);
    }
}

@keyframes sheet-west-modal-in {
    0% {
        visibility: visible;
        transform: translate3d(-100%, 0%, 0);
    }

    100% {
        transform: translate3d(0%, 0%, 0);
    }
}

@keyframes sheet-north-modal-out {
    0% {
        visibility: visible;
        transform: translate3d(0%, 0%, 0);
    }

    100% {
        visibility: hidden;
        transform: translate3d(0%, -100%, 0);
    }
}

@keyframes sheet-east-modal-out {
    0% {
        visibility: visible;
        transform: translate3d(0%, 0%, 0);
    }

    100% {
        visibility: hidden;
        transform: translate3d(100%, 0%, 0);
    }
}

@keyframes sheet-south-modal-out {
    0% {
        visibility: visible;
        transform: translate3d(0%, 0%, 0);
    }

    100% {
        visibility: hidden;
        transform: translate3d(0%, 100%, 0);
    }
}

@keyframes sheet-west-modal-out {
    0% {
        visibility: visible;
        transform: translate3d(0%, 0%, 0);
    }

    100% {
        visibility: hidden;
        transform: translate3d(-100%, 0%, 0);
    }
}

.md-sheet {
    display: inline-flex;
    flex-direction: column;
    border-radius: 0;
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
    animation-duration: var(--md-sys-motion-duration-short4);

    &.md-border__item--north {
        --md-comp-sheet-animation: sheet-north-out;
        height: var(--md-comp-sheet-height);
        margin-top: calc(0px - var(--md-comp-sheet-height));
        animation-name: var(--md-comp-sheet-animation, sheet-north-out);
        visibility: hidden;

        &[open] {
            --md-comp-sheet-animation: sheet-north-in;
            visibility: visible;
            margin-top: 0;
            animation-name: var(--md-comp-sheet-animation, sheet-north-in);
        }
    }

    &.md-border__item--east {
        --md-comp-sheet-animation: sheet-east-out;
        width: var(--md-comp-sheet-width);
        margin-right: calc(0px - var(--md-comp-sheet-width));
        animation-name: var(--md-comp-sheet-animation, sheet-east-out);
        visibility: hidden;

        &[open] {
            --md-comp-sheet-animation: sheet-east-in;
            visibility: visible;
            margin-right: 0;
            animation-name: var(--md-comp-sheet-animation, sheet-east-in);
        }
    }

    &.md-border__item--south {
        --md-comp-sheet-animation: sheet-south-out;
        height: var(--md-comp-sheet-height);
        margin-bottom: calc(0px - var(--md-comp-sheet-height));
        animation-name: var(--md-comp-sheet-animation, sheet-south-out);
        visibility: hidden;

        &[open] {
            --md-comp-sheet-animation: sheet-south-in;
            visibility: visible;
            margin-bottom: 0;
            animation-name: var(--md-comp-sheet-animation, sheet-south-in);
        }
    }

    &.md-border__item--west {
        --md-comp-sheet-animation: sheet-west-out;
        width: var(--md-comp-sheet-width);
        margin-left: calc(0px - var(--md-comp-sheet-width));
        animation-name: var(--md-comp-sheet-animation, sheet-west-out);
        visibility: hidden;

        &[open] {
            --md-comp-sheet-animation: sheet-west-in;
            visibility: visible;
            margin-left: 0;
            animation-name: var(--md-comp-sheet-animation, sheet-west-in);
        }
    }
}

.md-sheet__header {
    display: flex;
    align-items: center;
    padding: 24px;
    gap: 0 16px;

    + .md-sheet__container {
        // margin-top: -32px;
        margin-top: 0;
    }
}

.md-sheet__label {
    display: flex;
    flex-direction: column;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.md-sheet__label-primary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mixins.typescale-body-large();
}

.md-sheet__label-secondary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mixins.typescale-body-medium();
    color: var(--md-sys-color-on-surface-variant);
}

.md-sheet__icon-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 16px;
}

.md-sheet__icon-button {
    color: var(--md-sys-color-on-surface-variant);
}

.md-sheet__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
}

.md-sheet__body {
    flex: 1;
    overflow: auto;
    @include mixins.typescale-body-medium();
    color: var(--md-sys-color-on-surface-variant);
    // padding: 0 24px;
    // margin: 24px 0;
    padding: 0;
    margin: 0;

    + .md-sheet__footer {
        // margin-top: -24px;
        margin-top: 0;
    }
}

.md-sheet__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 24px;
    gap: 0 8px;
    margin-top: auto;
}

.md-sheet--modal {
    background-color: var(--md-sys-color-surface-container-low);
    box-shadow: var(--md-sys-elevation-level1);
    position: absolute;
    z-index: 11;

    &.md-border__item--north {
        --md-comp-sheet-animation: sheet-north-modal-out;
        margin-top: 0;
        border-radius: 0 0 16px 16px;
        top: 0;
        left: 0;
        right: 0;
        transform: translate3d(0%, -100%, 0);
        animation-name: var(--md-comp-sheet-animation, sheet-north-modal-out);
        visibility: hidden;

        &[open] {
            --md-comp-sheet-animation: sheet-north-modal-in;
            visibility: visible;
            transform: translate3d(0, 0, 0);
            animation-name: var(--md-comp-sheet-animation, sheet-north-modal-in);
        }
    }

    &.md-border__item--east {
        --md-comp-sheet-animation: sheet-east-modal-out;
        margin-right: 0;
        border-radius: 16px 0 0 16px;
        right: 0;
        top: 0;
        bottom: 0;
        transform: translate3d(100%, 0%, 0);
        animation-name: var(--md-comp-sheet-animation, sheet-east-modal-out);
        visibility: hidden;

        &[open] {
            --md-comp-sheet-animation: sheet-east-modal-in;
            visibility: visible;
            transform: translate3d(0, 0, 0);
            animation-name: var(--md-comp-sheet-animation, sheet-east-modal-in);
        }
    }

    &.md-border__item--south {
        --md-comp-sheet-animation: sheet-south-modal-out;
        margin-bottom: 0;
        border-radius: 16px 16px 0 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translate3d(0%, 100%, 0);
        animation-name: var(--md-comp-sheet-animation, sheet-south-modal-out);
        visibility: hidden;

        &[open] {
            --md-comp-sheet-animation: sheet-south-modal-in;
            visibility: visible;
            transform: translate3d(0, 0, 0);
            animation-name: var(--md-comp-sheet-animation, sheet-south-modal-in);
        }
    }

    &.md-border__item--west {
        --md-comp-sheet-animation: sheet-west-modal-out;
        margin-left: 0;
        border-radius: 0 16px 16px 0;
        left: 0;
        top: 0;
        bottom: 0;
        transform: translate3d(-100%, 0%, 0);
        animation-name: var(--md-comp-sheet-animation, sheet-west-modal-out);
        visibility: hidden;

        &[open] {
            --md-comp-sheet-animation: sheet-west-modal-in;
            visibility: visible;
            transform: translate3d(0, 0, 0);
            animation-name: var(--md-comp-sheet-animation, sheet-west-modal-in);
        }
    }
}
