/* menu */
.md-menu {
    display: inline-flex;
    min-width: 112px;
    max-width: 280px;
    height: 256px;
    border-radius: var(--md-sys-shape-corner-extra-small);
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level2);
    position: absolute;
    z-index: 7;
    visibility: hidden;
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-emphasized));
    animation-duration: var(--md-sys-motion-duration-short4);
    animation-name: var(--md-comp-pane-animation, menuOut);
    &[open] {
        visibility: visible;
        animation-name: var(--md-comp-pane-animation, menuIn);
        .md-pane__body {
            overflow: auto;
            animation-name: var(--md-comp-pane-animation, menuBodyIn);
        }
    }
    .md-pane__body {
        padding: 0;
        margin: 0;
        border-radius: inherit;
        overflow: hidden;
        animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-emphasized));
        animation-duration: var(--md-sys-motion-duration-short4);
        animation-name: var(--md-comp-pane-animation, dialogBodyOut);
    }
}
.md-menu__list {
    .md-list__item {
        min-height: 48px;
        padding: 0 12px;
    }
    .md-block__inner {
        gap: 0 12px;
    }
    .md-block__headline {
        @include typescale-label-large();
    }
}
