@use "../../shared/mixins.scss";

.md-card {
    display: flex;
    flex-direction: column;
    will-change: box-shadow;
    transition-property: box-shadow;
    transition-duration: var(--md-sys-motion-duration-short2);
    transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));

    // &:active {
    //     transition-duration: var(--md-sys-motion-duration-short3);
    //     transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
    // }
}

.md-card__header {
    display: flex;
    align-items: center;
    padding: 16px;
    + .md-card__body {
        margin-top: -16px;
    }
}

.md-card__body {
    display: flex;
    flex-direction: column;
}

.md-card__main {
    flex: 1;
    padding: 0 16px;
    margin: 16px 0;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
    @include mixins.typescale-body-large();
    + .md-card__footer {
        margin-top: -16px;
    }
}

.md-card__footer {
    display: flex;
    align-items: center;
    padding: 16px;
}

.md-card--elevated {
    border-radius: var(--md-sys-shape-corner-medium);
    background-color: var(--md-sys-color-surface-container-low);
    color: var(--md-sys-color-on-surface);
    box-shadow: var(--md-sys-elevation-level1);

    &:hover {
        box-shadow: var(--md-sys-elevation-level3);
    }

    &:active {
        box-shadow: var(--md-sys-elevation-level1);
    }

    &:focus {
        box-shadow: var(--md-sys-elevation-level1);
    }
}

.md-card--filled {
    border-radius: var(--md-sys-shape-corner-medium);
    background-color: var(--md-sys-color-surface-container-highest);
    color: var(--md-sys-color-on-surface);

    &:hover {
        box-shadow: var(--md-sys-elevation-level1);
    }

    &:active {
        box-shadow: var(--md-sys-elevation-level0);
    }

    &:focus {
        box-shadow: var(--md-sys-elevation-level0);
    }
}

.md-card--outlined {
    border-radius: var(--md-sys-shape-corner-medium);
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    border: 1px solid var(--md-sys-color-outline-variant);

    &:hover {
        box-shadow: var(--md-sys-elevation-level1);
    }

    &:active {
        box-shadow: var(--md-sys-elevation-level0);
    }

    &:focus {
        box-shadow: var(--md-sys-elevation-level0);
    }
}
