.md-tabs {
    flex-direction: row;
    padding: 0;
    overflow: auto;
    position: relative;
    box-shadow: inset 0 -1px 0 0 var(--md-sys-color-outline-variant);
    &::-webkit-scrollbar {
        display: none;
    }
    &::after {
        content: "";
        position: absolute;
        background-color: var(--md-sys-color-primary);
        left: var(--md-comp-tabs-indicator-left);
        bottom: 0;
        right: var(--md-comp-tabs-indicator-right);
    }
    .md-list__item {
        flex: 1 0 auto;
        justify-content: center;
        min-height: 48px;
        padding: 8px 12px;
        &[selected] {
            background-color: inherit;
            color: var(--md-sys-color-primary);
        }
    }
    .md-block__inner {
        flex: 0 0 auto;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0 8px;
    }
    .md-block__section--start {
        justify-content: center;
    }
    .md-block__section--center {
        flex: 0 0 auto;
    }
    .md-block__headline {
        margin: 4px 0 0 0;
        @include typescale-label-large();
    }
    .md-block__badge {
        margin-left: -4px;
    }
}
.md-tabs.md-tabs--primary {
    &::after {
        height: 3px;
        border-radius: 3px 3px 0 0;
    }
    .md-block__inner {
        position: relative;
    }
    .md-block__section--start {
        flex: 1 0 100%;
    }
    .md-block__section--start + .md-block__section--center + .md-block__badge {
        margin-left: 0;
        margin-top: -20px;
        transform: translate3d(0, -50%, 0);
        position: absolute;
        left: 50%;
        top: 50%;
        &:empty {
            margin-left: 5px;
        }
    }
}
.md-tabs.md-tabs--secondary {
    &::after {
        height: 2px;
    }
}
