.md-slider {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.md-slider__icon {
    @extend .md-icon;
}

.md-slider__label {
    @extend .md-typography--label-large;
}
