.md-search {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.md-search__icon {
    @extend .md-icon;
}

.md-search__label {
    @extend .md-typography--label-large;
}
