.md-virtual-scroll {
    display: block;
    height: 100%;
    overflow: auto;
    position: relative;

    &::before {
        content: "";
        height: var(--md-comp-virtual-scroll-total-content-height);
        width: 1px;
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
    }
}
