.dev-ripple {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 112px;
    height: 112px;
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface);
    position: relative;
}

.dev-ripple-inner {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-color: var(--md-sys-color-surface-container-highest);
    color: var(--md-sys-color-on-surface);
    position: absolute;
    left: 24px;
    top: 24px;
}

.dev-icon-grid{
    display: flex;
    flex-direction: column;
    gap: 84px 0;
}
.dev-icon-row{
    display: flex;
    gap: 0 84px;
    min-width: 0;
    min-height: 0;
}
.dev-icon-column{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    flex-direction: column;
    min-width: 84px;
    height: 84px;
    min-width: 0;
    min-height: 0;
    gap: 12px 0;
}
.dev-icon-label{}
.dev-icon-text{
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    width: 84px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    height: 24px;
    font-size: 12px;
    line-height: 12px;
}
.dev-icon-icon{
    width: 48px;
    height: 48px;
    font-size: 48px;
}


.dev-emoji-grid{
    display: flex;
    flex-direction: column;
    gap: 84px 0;
}
.dev-emoji-row{
    display: flex;
    gap: 0 84px;
    min-width: 0;
    min-height: 0;
}
.dev-emoji-column{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    flex-direction: column;
    min-width: 84px;
    height: 84px;
    min-width: 0;
    min-height: 0;
    gap: 12px 0;
}
.dev-emoji-label{}
.dev-emoji-text{
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    width: 84px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    height: 24px;
    font-size: 12px;
    line-height: 12px;
}
.dev-emoji-emoji{
    width: 48px;
    height: 48px;
    font-size: 48px;
}