.dev-ripple{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 56px;
    height: 56px;
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface);
}
.dev-ripple-inner{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-color: var(--md-sys-color-surface-container-highest);
    color: var(--md-sys-color-on-surface);
}