.dev-example{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 56px;
    height: 56px;
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface);
}