

/* ripple */
@keyframes ripple-out {0% {width: 0;}}

/* sheet */
@keyframes sheet-north-out {0% {margin-top: calc(0px - var(--md-comp-sheet-height));}100% {margin-top: 0;}}
@keyframes sheet-north-in {0% {margin-top: 0;}100% {margin-top: calc(0px - var(--md-comp-sheet-height));}}
@keyframes sheet-south-out {0% {margin-bottom: calc(0px - var(--md-comp-sheet-height));}100% {margin-bottom: 0;}}
@keyframes sheet-south-in {0% {margin-bottom: 0;}100% {margin-bottom: calc(0px - var(--md-comp-sheet-height));}}
@keyframes sheet-west-out {0% {margin-left: calc(0px - var(--md-comp-sheet-height));}100% {margin-left: 0;}}
@keyframes sheet-west-in {0% {margin-left: 0;}100% {margin-left: calc(0px - var(--md-comp-sheet-height));}}
@keyframes sheet-east-out {0% {margin-right: calc(0px - var(--md-comp-sheet-height));}100% {margin-right: 0;}}
@keyframes sheet-east-in {0% {margin-right: 0;}100% {margin-right: calc(0px - var(--md-comp-sheet-height));}}

/* sheet */
@keyframes sheet-north-modal-in {0% {transform: translate3d(0, 0, 0);}100% {transform: translate3d(0, -100%, 0);}}
@keyframes sheet-north-modal-out {0% {transform: translate3d(0, -100%, 0);}100% {transform: translate3d(0, 0, 0);}}
@keyframes sheet-south-modal-in {0% {transform: translate3d(0, 0, 0);}100% {transform: translate3d(0, 100%, 0);}}
@keyframes sheet-south-modal-out {0% {transform: translate3d(0, 100%, 0);}100% {transform: translate3d(0, 0, 0);}}
@keyframes sheet-west-modal-in {0% {transform: translate3d(0, 0, 0);}100% {transform: translate3d(-100%, 0, 0);}}
@keyframes sheet-west-modal-out {0% {transform: translate3d(-100%, 0, 0);}100% {transform: translate3d(0, 0, 0);}}
@keyframes sheet-east-modal-in {0% {transform: translate3d(0, 0, 0);}100% {transform: translate3d(100%, 0, 0);}}
@keyframes sheet-east-modal-out {0% {transform: translate3d(100%, 0, 0);}100% {transform: translate3d(0, 0, 0);}}

/* dialog */
@keyframes dialog-out {0% {height: 72px;opacity: 0;transform: translate3d(-50%, calc(-100% - 72px), 0);}100% {height: var(--md-comp-dialog-height);opacity: 1;transform: translate3d(-50%, -50%, 0);}}
@keyframes dialog-in {0% {height: var(--md-comp-dialog-height);opacity: 1;transform: translate3d(-50%, -50%, 0);}100% {height: 72px;opacity: 0;transform: translate3d(-50%, calc(-100% - 72px), 0);}}
@keyframes dialog-body-out {0% {overflow: hidden;}100% {overflow: hidden;}}
@keyframes dialog-body-in {0% {overflow: hidden;}100% {overflow: hidden;}}

/* list */
@keyframes list-icon-out {0% {width: 32px;}}

/* menu */
@keyframes menu-out {0% {overflow: hidden;opacity: 0;height: 48px;}100% {overflow: hidden;opacity: 1;height: var(--md-comp-menu-height);}}
@keyframes menu-in {0% {overflow: hidden;opacity: 1;height: var(--md-comp-menu-height);}100% {overflow: hidden;opacity: 0;height: 48px;}}

/* snackbar */
@keyframes snackbar-out {0% {opacity: 0;height: 0px;}100% {opacity: 1;height: var(--md-comp-snackbar-height);}}
@keyframes snackbar-in {0% {opacity: 1;}100% {opacity: 0;}}
@keyframes snackbar-body-out {0% {overflow: hidden;}100% {overflow: hidden;}}
@keyframes snackbar-body-in {0% {overflow: hidden;}100% {overflow: hidden;}}

/* datetime */
@keyframes datetime-picker-out {0% {height: var(--md-comp-datetime-picker-container-height);opacity: 0;transform: translate3d(0%, calc((var(--md-comp-datetime-picker-height) - var(--md-comp-datetime-picker-container-height)) / 2), 0);}100% {height: var(--md-comp-datetime-picker-height);opacity: 1;transform: translate3d(0%, 0%, 0);}}
@keyframes datetime-picker-in {0% {height: var(--md-comp-datetime-picker-height);opacity: 1;transform: translate3d(0%, 0%, 0);}100% {height: var(--md-comp-datetime-picker-container-height);opacity: 0;transform: translate3d(0%, calc((var(--md-comp-datetime-picker-height) - var(--md-comp-datetime-picker-container-height)) / 2), 0);}}
@keyframes datetime-picker-body-out {0% {overflow: hidden;}100% {overflow: hidden;}}
@keyframes datetime-picker-body-in {0% {overflow: hidden;}100% {overflow: hidden;}}

/* scrim */
@keyframes scrim-out {0% {opacity: 0;}}
@keyframes scrim-in {100% {opacity: 0;}}

/* date */
@keyframes date-picker-out {0% {height: var(--md-comp-date-picker-container-height);opacity: 0;transform: translate3d(0%, calc((var(--md-comp-date-picker-height) - var(--md-comp-date-picker-container-height)) / 2), 0);}100% {height: var(--md-comp-date-picker-height);opacity: 1;transform: translate3d(0%, 0%, 0);}}
@keyframes date-picker-in {0% {height: var(--md-comp-date-picker-height);opacity: 1;transform: translate3d(0%, 0%, 0);}100% {height: var(--md-comp-date-picker-container-height);opacity: 0;transform: translate3d(0%, calc((var(--md-comp-date-picker-height) - var(--md-comp-date-picker-container-height)) / 2), 0);}}
@keyframes date-picker-body-out {0% {overflow: hidden;}100% {overflow: hidden;}}
@keyframes date-picker-body-in {0% {overflow: hidden;}100% {overflow: hidden;}}

/* time */
@keyframes time-picker-out {0% {height: var(--md-comp-time-picker-container-height);opacity: 0;transform: translate3d(0%, calc((var(--md-comp-time-picker-height) - var(--md-comp-time-picker-container-height)) / 2), 0);}100% {height: var(--md-comp-time-picker-height);opacity: 1;transform: translate3d(0%, 0%, 0);}}
@keyframes time-picker-in {0% {height: var(--md-comp-time-picker-height);opacity: 1;transform: translate3d(0%, 0%, 0);}100% {height: var(--md-comp-time-picker-container-height);opacity: 0;transform: translate3d(0%, calc((var(--md-comp-time-picker-height) - var(--md-comp-time-picker-container-height)) / 2), 0);}}
@keyframes time-picker-body-out {0% {overflow: hidden;}100% {overflow: hidden;}}
@keyframes time-picker-body-in {0% {overflow: hidden;}100% {overflow: hidden;}}

/* week */
@keyframes week-picker-out {0% {height: var(--md-comp-week-picker-container-height);opacity: 0;transform: translate3d(0%, calc((var(--md-comp-week-picker-height) - var(--md-comp-week-picker-container-height)) / 2), 0);}100% {height: var(--md-comp-week-picker-height);opacity: 1;transform: translate3d(0%, 0%, 0);}}
@keyframes week-picker-in {0% {height: var(--md-comp-week-picker-height);opacity: 1;transform: translate3d(0%, 0%, 0);}100% {height: var(--md-comp-week-picker-container-height);opacity: 0;transform: translate3d(0%, calc((var(--md-comp-week-picker-height) - var(--md-comp-week-picker-container-height)) / 2), 0);}}
@keyframes week-picker-body-out {0% {overflow: hidden;}100% {overflow: hidden;}}
@keyframes week-picker-body-in {0% {overflow: hidden;}100% {overflow: hidden;}}

/* month */
@keyframes month-picker-out {0% {height: var(--md-comp-month-picker-container-height);opacity: 0;transform: translate3d(0%, calc((var(--md-comp-month-picker-height) - var(--md-comp-month-picker-container-height)) / 2), 0);}100% {height: var(--md-comp-month-picker-height);opacity: 1;transform: translate3d(0%, 0%, 0);}}
@keyframes month-picker-in {0% {height: var(--md-comp-month-picker-height);opacity: 1;transform: translate3d(0%, 0%, 0);}100% {height: var(--md-comp-month-picker-container-height);opacity: 0;transform: translate3d(0%, calc((var(--md-comp-month-picker-height) - var(--md-comp-month-picker-container-height)) / 2), 0);}}
@keyframes month-picker-body-out {0% {overflow: hidden;}100% {overflow: hidden;}}
@keyframes month-picker-body-in {0% {overflow: hidden;}100% {overflow: hidden;}}

/* side-sheet */
@keyframes side-sheet-out {0% {margin-right: calc(0px - var(--md-comp-side-sheet-height));}100% {margin-right: 0;}}
@keyframes side-sheet-in {0% {margin-right: 0;}100% {margin-right: calc(0px - var(--md-comp-side-sheet-height));}}
@keyframes side-sheet-modal-in {0% {transform: translate3d(0, 0, 0);}100% {transform: translate3d(100%, 0, 0);}}
@keyframes side-sheet-modal-out {0% {transform: translate3d(100%, 0, 0);}100% {transform: translate3d(0, 0, 0);}}

/* bottom-sheet */
@keyframes bottom-sheet-out {0% {margin-bottom: calc(0px - var(--md-comp-bottom-sheet-height));}100% {margin-bottom: 0;}}
@keyframes bottom-sheet-in {0% {margin-bottom: 0;}100% {margin-bottom: calc(0px - var(--md-comp-bottom-sheet-height));}}
@keyframes bottom-sheet-modal-in {0% {transform: translate3d(0, 0, 0);}100% {transform: translate3d(0, 100%, 0);}}
@keyframes bottom-sheet-modal-out {0% {transform: translate3d(0, 100%, 0);}100% {transform: translate3d(0, 0, 0);}}
