.md-side-sheet {
    --md-comp-sheet-width: 256px;
    display: inline-flex;
    border-radius: var(--md-sys-shape-corner-none);
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: var(--md-sys-elevation-level0);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-emphasized));
    animation-duration: var(--md-sys-motion-duration-short4);
    grid-area: east;
    min-width: var(--md-comp-sheet-width);
    margin-right: calc(0px - var(--md-comp-sheet-width, 100vw));
    animation-name: var(--md-comp-sheet-animation, sheetEastOut);
    &[open] {
        margin-right: 0;
        animation-name: var(--md-comp-sheet-animation, sheetEastIn);
    }
    .md-card__header {
        padding: 24px;
        gap: 0 12px;
        + .md-card__body {
            margin-top: -24px;
        }
        > .md-block__group {
            > .md-block__headline {
                @include typescale-title-large();
            }
        }
    }
    .md-card__inner {
        padding: 0 24px;
        margin: 24px 0;
        + .md-card__footer {
            margin-top: -24px;
        }
    }
    .md-card__footer {
        padding: 24px;
        gap: 0 8px;
    }
}
.md-side-sheet.md-card--modal {
    border-radius: var(--md-sys-shape-corner-large);
    position: absolute;
    z-index: 7;
    grid-area: auto;
    margin-right: 0;
    transform: translate3d(100%, 0%, 0);
    border-radius: var(--md-sys-shape-corner-large) 0 0 var(--md-sys-shape-corner-large);
    right: 0;
    top: 0;
    bottom: 0;
    animation-name: var(--md-comp-sheet-animation, sheetEastModalOut);
    .md-card__header {
        padding: 24px 24px 24px 16px;
    }
    .md-card__inner {
        padding: 0 24px 0 16px;
    }
    .md-card__footer {
        padding: 24px 24px 24px 16px;
    }
    &[open] {
        box-shadow: var(--md-sys-elevation-level1);
        transform: translate3d(0, 0, 0);
        animation-name: var(--md-comp-sheet-animation, sheetEastModalIn);
    }
}
