@use "../../shared/mixins.scss";

@keyframes dialog-show {
    from {
        opacity: 0;
        transform: translate3d(-50%, -100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(-50%, -50%, 0);
    }
}

@keyframes dialog-close {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(-50%, -100%, 0);
    }
}

.md-dialog {
    display: flex;
    flex-direction: column;
    min-width: 280px;
    max-width: 560px;
    background-color: var(--md-sys-color-surface-container-high);
    color: var(--md-sys-color-on-surface-variant);
    border-radius: var(--md-sys-shape-corner-extra-large);
    box-shadow: var(--md-sys-elevation-level3);
    position: absolute;
    z-index: 20;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    opacity: 0;
    pointer-events: none;
}
.md-dialog--close {
    animation-name: dialog-close;
    animation-duration: var(--md-sys-motion-duration-short2);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
}
.md-dialog--open {
    opacity: 1;
    pointer-events: all;
    animation-name: dialog-show;
    animation-duration: var(--md-sys-motion-duration-short3);
    animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
}
.md-dialog__header {
    display: flex;
    align-items: center;
    padding: 24px 24px;
    + .md-dialog__body {
        margin-top: -32px;
    }
}

.md-dialog__leading {
    display: inline-flex;
    align-items: center;
}
.md-dialog__content {
    flex: 1;
}
.md-dialog__headline {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mixins.typescale-headline-small();

    // // full
    // @include mixins.typescale-title-large();
}
.md-dialog__trailing {
    display: inline-flex;
    align-items: center;
}

.md-dialog__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
}
.md-dialog__main {
    flex: 1;
    padding: 0 24px;
    margin: 24px 0;
    overflow: auto;
    @include mixins.typescale-body-medium();
    + .md-dialog__footer {
        margin-top: -24px;
    }
}
.md-dialog__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 24px 24px;
    gap: 0 4px;
}
