@use "../../shared/mixins.scss";

.md-navigation-bar {
    box-shadow: var(--md-sys-elevation-level2);
    background-color: var(--md-sys-color-surface-container);
}

.md-navigation-bar__list {
    flex-direction: row;
    justify-content: space-evenly;

    .md-list__leading {
        position: relative;
    }

    .md-list__badge {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        margin-top: -8px;
        margin-left: 8px;
    }

    .md-list__label {
        font-family: var(--md-sys-typescale-label-medium-font);
        font-weight: var(--md-sys-typescale-label-medium-weight);
        font-size: var(--md-sys-typescale-label-medium-size);
        letter-spacing: var(--md-sys-typescale-label-medium-tracking);
        line-height: var(--md-sys-typescale-label-medium-line-height);
    }
}

.md-navigation-bar--vertical {
    .md-navigation-bar__list {
        padding: 6px 0;

        .md-list__item {
            flex-direction: column;
            min-height: 52px;
            padding: 0 16px;
            gap: 4px 0;
        }

        .md-list__icon {
            width: 56px;
            height: 32px;
            border-radius: var(--md-sys-shape-corner-full);
        }

        .md-list__item--selected {
            background-color: inherit;
            color: inherit;

            .md-list__icon {
                background-color: var(--md-sys-color-secondary-container);
                color: var(--md-sys-color-on-secondary-container);
            }
        }
    }
}

.md-navigation-bar--horizontal {
    .md-navigation-bar__list {
        padding: 12px 0;

        .md-list__item {
            min-height: 40px;
            padding: 0 16px;
            gap: 0 4px;
            border-radius: var(--md-sys-shape-corner-full);
        }
    }
}
